@import 'https://fonts.googleapis.com/css?family=Unica+One';

/* Series options */
/* Default colors */
.highcharts-color-0 {
  fill: #2b908f;
  stroke: #2b908f;
}

.highcharts-color-1 {
  fill: #90ee7e;
  stroke: #90ee7e;
}

.highcharts-color-2 {
  fill: #f45b5b;
  stroke: #f45b5b;
}

.highcharts-color-3 {
  fill: #7798BF;
  stroke: #7798BF;
}

.highcharts-color-4 {
  fill: #aaeeee;
  stroke: #aaeeee;
}

.highcharts-color-5 {
  fill: #ff0066;
  stroke: #ff0066;
}

.highcharts-color-6 {
  fill: #eeaaee;
  stroke: #eeaaee;
}

.highcharts-color-7 {
  fill: #55BF3B;
  stroke: #55BF3B;
}

.highcharts-color-8 {
  fill: #DF5353;
  stroke: #DF5353;
}

.highcharts-color-9 {
  fill: #7798BF;
  stroke: #7798BF;
}

.highcharts-color-10 {
  fill: #aaeeee;
  stroke: #aaeeee;
}

.highcharts-data-label { 
   fill: #B0B0B3;
}

.highcharts-data-label text {
   fill: #B0B0B3;
}

.highcharts-boxplot-box {
   fill: #505053;
}

.highcharts-candlestick-series .highcharts-point {
  stroke: white;
}

.highcharts-root, .highcharts-menu {
    font-family: 'Unica One', monospace;
}

.highcharts-background {
    fill: #2a2a2b;
    /*fill: red;*/
}

/* Titles */
.highcharts-title {
  fill: #E0E0E3;
  text-transform: uppercase;
  font-size: 20px;
}

.highcharts-subtitle {
  fill: #E0E0E3;
  text-transform: uppercase;
}

/* Axes */
.highcharts-axis-labels {
  fill: #E0E0E3
}

.highcharts-axis-title {
  fill: #E0E0E3;
}

.highcharts-grid-line {
  stroke: #707073;
}

.highcharts-minor-grid-line {
  stroke: #505053;
}

 .highcharts-tick {
   stroke: #707073;
 }

.highcharts-axis-line {
  stroke: #707073;
}

.highcharts-yaxis-grid  {
  stroke-width: 1px;
}

/* Tooltip */
.highcharts-tooltip-box .highcharts-label-box, .highcharts-tooltip-box { 
  fill: rgba(0, 0, 0, 0.85); 
}

.highcharts-tooltip text { 
  fill: #F0F0F0
}

/* Legend */
.highcharts-legend-box {
  
}

.highcharts-legend-item text {
  fill: #E0E0E3;
}

.highcharts-legend-item:hover text {
  fill: #FFF;
}

.highcharts-legend-item-hidden * {
  fill: #606063!important;
  stroke: #606063!important;
}

/* Credits */
.highcharts-credits { 
   fill: #666;
}

/* Drilldown */
.highcharts-drilldown-axis-label {
  fill: #F0F0F3;
}

.highcharts-drilldown-data-label text {
  fill: #F0F0F3;
}

/* Navigation */
.highcharts-contextbutton { 
   fill: #505053;
}

.highcharts-contextbutton .highcharts-button-symbol { 
   stroke: #DDDDDD;
}

/* RangeSelector */
.highcharts-range-label { 

}

.highcharts-range-label text {
  fill: silver;
}

.highcharts-range-input { 
   stroke: #505053;
   fill: #333;
}

.highcharts-range-input text {
   fill: silver;
}

.highcharts-range-selector-buttons {
   fill: #505053;
   stroke: #000000;
}

.highcharts-range-selector-buttons .highcharts-button {
   fill: #505053;
   cursor: pointer;
}

.highcharts-range-selector-buttons .highcharts-button:hover {
   fill: #707073;
}

.highcharts-range-selector-buttons .highcharts-button:hover text {
   fill: white;
}

.highcharts-range-selector-buttons .highcharts-button-pressed {
   fill: #000003;
}

.highcharts-range-selector-buttons .highcharts-button-pressed text {
   fill: white;
}

.highcharts-range-selector-buttons .highcharts-button text {
  fill: #CCC;
}

.highcharts-range-selector-buttons text {
   fill: silver;
}

/* Navigator */
.highcharts-navigator-handle {
  fill: #666;
  stroke: #aaa;
}

.highcharts-navigator-outline {
  stroke: #CCC;
}

.highcharts-navigator-mask-inside {
  fill: rgba(255,255,255,0.1);
}

.highcharts-navigator-series {
  fill: #7798BF;
  stroke: #A6C7ED;
}

.highcharts-navigator-xaxis .highcharts-grid-line {
  stroke: #505053;
} 

/* Scrollbar */
.highcharts-scrollbar-track {
  fill: #404043;
  stroke: #404043;
}

.highcharts-scrollbar-rifles {
  stroke: #FFF;
}

.highcharts-scrollbar-button { 
  stroke: #606063;
  fill: #606063;
}

.highcharts-scrollbar-arrow { 
  fill: #CCC;
}

.highcharts-scrollbar-thumb { 
   fill: #808083;
   stroke: #808083;
}