body,
#demo-content {
    background-color: var(--highcharts-background-color);
    margin: 0;
    padding: 0;
    color: var(--highcharts-neutral-color-100);
}

a,
a:hover {
    color: var(--highcharts-neutral-color-100);
}

a:hover {
    text-decoration: underline;
}

#container {
    overflow: visible;
}

#demo-content {
    margin: 0;
}

.chart-container {
    width: 150px;
    height: 140px;
}

@media screen  and (min-width: 220px) {
    .chart-container {
        width: 100%;
        max-width: 100%;
        height: 260px;
    }
}

@media screen  and (min-width: 260px) {
    .chart-container {
        width: 100%;
        max-width: 100%;
    }
}

@media screen  and (min-width: 320px) {
    .chart-container {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }
}
