body {
    transition: background-color 250ms, color 250ms;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    margin-top: 2em;
}

.clear {
    clear: both;
}

fieldset {
    border: 1px solid silver;
    border-radius: 0.3em;
    padding: 1em;
}

#demo-content {
    box-shadow: none;
    background: none;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5em;
}

pre {
    border: 1px solid silver;
    border-radius: 0.25rem;
    color: green;
    padding: 1rem;
    max-height: 30em;
    overflow: auto;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 3em;
    height: 3em;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
}

input[type="color"]::-moz-color-swatch {
    border-radius: 50%;
}

#neutral-preview div,
#highlight-preview div {
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 3px;
    vertical-align: middle;
    border: 1px solid transparent;
    transition: background-color 250ms;
    margin-right: -0.5em;
}

.container {
    margin: 0.5em 0;
    box-sizing: border-box;
}

#container-map {
    width: calc(40% - 10px);
    float: left;
}

#container-stock {
    width: 60%;
    float: left;
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
    #container-map {
        width: auto;
        float: none;
    }

    #container-stock {
        width: auto;
        float: none;
        margin: 0;
    }
}
