* {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

.outer-container {
    display: flex;
    flex-wrap: wrap;
}

.chart-container {
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

@media screen and (min-width: 600px) {
    .chart-container {
        max-width: 400px;
        width: 45%;
    }
}
