@import url("https://code.highcharts.com/css/highcharts.css");

#container {
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

.highcharts-yaxis-labels {
    filter: url(#glow);
    fill: red;
    stroke-width: 1px;
}
