* {
    font-family: Helvetica, Arial, sans-serif;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

#container {
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}

.main #small-world-container {
    max-width: 150px;
    margin-top: 1rem;
    min-width: 75px;
    height: 150px;
}

.main h1 {
    font-size: 1.5rem !important;
}

.main .mt-4 {
    margin-top: 1.5rem !important;
    min-width: 25%;
}

.main .loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.main .btn-group {
    flex-wrap: wrap;
}

.main .btn {
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    margin: 0.1rem 0;
}

#descriptions div {
    display: none;
}
