@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/datagrid/css/datagrid.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

h2 {
    text-align: center;
}

#csv {
    display: none;
}

.navigator-container .highcharts-series-0 {
    display: none;
}
