@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-pro/css/grid-pro.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

body {
    background: var(--highcharts-background-color);
    color: var(--highcharts-neutral-color-100);
}

h2 {
    text-align: center;
}

.highcharts-grid-container {
    height: 300px;
}

.navigator-container .highcharts-series-0,
#csv {
    display: none;
}

/* LARGE */
@media (max-width: 1200px) {
    #top-left,
    #top-middle,
    #top-right {
        flex: 1 1 33.333%;
    }
}

/* MEDIUM */
@media (max-width: 992px) {
    #top-left,
    #top-middle,
    #top-right {
        flex: 1 1 100%;
    }
}

/* SMALL */
@media (max-width: 576px) {
    #top-left,
    #top-middle,
    #top-right {
        flex: 1 1 100%;
    }
}
