@import url("https://code.highcharts.com/css/highcharts.css");

body {
    margin: 0 !important;

    /* background: linear-gradient(180deg, #201836 0%, #46465C 100%); */
    background-color: transparent !important;
}

.hero-container {
    background: transparent;
    width: 1;
    height: 450px;
}

.chart-container .highcharts-container {
    position: relative;
    overflow: hidden;
    width: 1;
    opacity: 1;
    text-align: left;
    line-height: normal;
    z-index: 0;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 12px;
    user-select: none;
    touch-action: manipulation;
    outline: none;
}

#hero {
    width: 1;
}

#hero .highcharts-data-labels {
    transition: opacity 2s;
}

#hero .highcharts-background {
    fill: #1f1836;
    fill: transparent;
}

#hero .highcharts-axis-labels {
    fill: #999;
    font-size: 1em;
}

#hero .highcharts-label text {
    fill: #fff;
}

#hero .highcharts-range-selector-buttons {
    opacity: 0;
}

#hero .highcharts-range-selector-buttons .highcharts-button.highcharts-button-pressed {
    font-weight: bold;
    fill: #a3edba;
    stroke: #a3edba;
    stroke-width: 3px;
}

#hero .highcharts-area-series.cover {
    fill: url("#bg-gradient");
    fill-opacity: 1;
    opacity: 0;
    stroke: transparent;
}

#hero .highcharts-area-series.cover .highcharts-area {
    fill-opacity: 1;
}

#hero .highcharts-grid-line {
    fill: none;
    stroke: transparent;
    z-index: 40;
    stroke-width: 1px;
}

#hero .highcharts-tooltip {
    filter: drop-shadow(5px 7px 13px rgb(0 0 0 / 14%)) !important;
}

#hero .highcharts-tooltip-box {
    stroke-width: 0;
    fill: #fff;
    fill-opacity: 1;
}

#hero .highcharts-tooltip .highcharts-header {
    font-size: 14px;
    font-weight: 700;
}

#hero .highcharts-tooltip text {
    fill: #333;
    font-size: 14px;
    font-weight: 500;
}

#hero .highcharts-data-label-color-0 {
    fill: transparent;
    stroke: transparent;
}

#hero .highcharts-title {
    fill: #fff;
    font-size: 2em;
    font-weight: 700;
    opacity: 1;
}

#hero .highcharts-plot-line {
    fill: none;
    stroke: #3f3e57;
    stroke-width: 1px;
    opacity: 0;
    transform-origin: top;
    transition: transform 1s;
    transform: rotate(0deg);
}

#hero .highcharts-data-label text {
    fill: #dedede;
    font-weight: 300;
}

#hero .highcharts-candlestick-series .highcharts-point {
    stroke: #8187e2;
    fill: #8187e2;
    fill-opacity: 0;
}

#hero .highcharts-candlestick-series .highcharts-point-up {
    stroke: #da6d85;
    fill: #da6d85;
    fill-opacity: 0;
}

#hero .highcharts-data-label {
    font-size: 1.2em;
}

#hero .highcharts-button {
    transition: none;
}

#hero .highcharts-navigator-series {
    fill: #acf3e3;
    stroke: #acf3e3;
}

#hero .highcharts-candlestick-series.candlestick {
    transform-origin: center;
    transform: scaleX(20) rotate(90deg);
    transition: transform 1s;
}

#hero .highcharts-candlestick-series.candlestick.h {
    transform: rotate(0deg);
}

@media (prefers-reduced-motion: reduce) {
    #hero .highcharts-candlestick-series.candlestick {
        transform-origin: center;
        transform: none;
        transition: transform 1s !important;
    }
}
