h1 {
    align-self: start;
}

span {
    font-size: 11px;
}

#charts-container {
    /* 1.8 times chart height */
    max-width: 720px;
    margin: 0 auto;
}

.tab-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 16px;
    margin-bottom: 30px;
}

.tabs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: none;
    border-radius: 5px;
    gap: 10px;
    padding: 2px;
}

.tab {
    padding: 6px 10px;
    border-radius: 5px;
    color: light-dark(#272727, #b6bcc1);
    background-color: light-dark(#b6bcc1, #272727);
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
}

.tab:hover {
    background-color: #ea293c;
    color: #fff;
}

.tab.active {
    background-color: #ea293c;
    border: 2px solid #ce1023;
    color: #fff;
}

.highcharts-description {
    background: light-dark(#f2f6f2, #323232);
    border-radius: 0 4px 4px 0;
    border-left: 2px solid light-dark(#1d6aff, #fff);
    font-size: 0.8rem;
    font-style: italic;
    padding: 8px 16px;
    margin: 2em 10px 1em;
}

@media (max-width: 550px) {
    .tab-container {
        gap: 0;
    }

    .tab-container span {
        display: none;
    }

    .tabs {
        gap: 0;
        padding: 0;
        border: 2px solid light-dark(#d6d6d6, #252525);
    }

    .tab {
        padding: 6px 4px;
        background-color: transparent;
        font-size: 0.9rem;
    }
}
