@import url("https://code.highcharts.com/css/highcharts.css");

#container {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.highcharts-legend .highcharts-point {
    stroke-width: 0;
}

/* Data class colors */
:root {
    --highcharts-color-0: rgb(239 239 255);
    --highcharts-color-1: rgb(120 148 186);
    --highcharts-color-2: rgb(0 56 117);
}
