@import 'https://code.highcharts.com/5/css/highcharts.css';

#container {
    height: 500px; 
    min-width: 310px; 
    max-width: 800px; 
    margin: 0 auto; 
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

/* Data class colors */
.highcharts-color-0 {
	fill: rgb(239, 239, 255);
}
.highcharts-color-1 {
	fill: rgb(120, 148, 186);
}
.highcharts-color-2 {
	fill: rgb(0, 56, 117);
}