{
    "globals": {
        "clearInterval": true,
        "clearTimeout": false,
        "console": true,
        "module": true,
        "setInterval": true,
        "setTimeout": true,
        "XMLHttpRequest": true
    },
    "rules": {
        "array-callback-return": 0,
        "camelcase": [2, {
            "properties": "always"
        }],
        "comma-dangle": [2, "never"],
        "consistent-return": 0,
        "func-style": 0,
        "guard-for-in": 0,                          /*@todo: Make the each function handle objects, then run a guarded for-in there.*/
        "indent": ["error", 4, { "FunctionExpression": { "parameters": 1 }}],
        "lines-around-comment": 0,
        "max-len": [
            "error", {
                "ignoreUrls": true,
                "ignorePattern": "(eslint-disable-line|pointFormat|headerFormat| highcharts\/|\\]\\(#|@apioption|@borrows|@declare|@default|@extends|@name|@param|@property|@return|@sample|@see|@type|@typedef|@validvalue)"
            }
        ],
        "newline-after-var": 0,
        "no-alert": 2,
        "no-console": 2,
        "no-debugger": 2,
        "no-empty": 0,                              /*The noop function and empty catches */
        "no-invalid-this": 0,
        "no-prototype-builtins": 1,                 /*@todo: as error*/
        "no-shadow": 0,                             /*Same variable names in nested scopes. @todo: Fix this, it is useful*/
        "no-underscore-dangle": 0,                  /*@todo: Check this*/
        "node/no-unsupported-features": 0,
        "node/no-unsupported-features/es-syntax": 0,
        "object-curly-spacing": [2, "always"],
        "object-shorthand": ["error", "never"],     /* Closure Compiler chokes on it */
        "prefer-rest-params": 0,
        "prefer-spread": 0,
        "space-before-function-paren": [2, {
            "anonymous": "always",
            "named": "never"
        }], /*JSLint style*/
        "quote-props": [2, "as-needed", { "keywords": true, "unnecessary": false }],
        "quotes": [2, "single"],
        "spaced-comment": ["error", "always", { "markers": ["="] }],
        "require-jsdoc": 0,
        "strict": 0,
        "valid-jsdoc": 0,
        "one-var": 0,                                /*@todo: Before launch HC5, set to [2, "always"]*/


        "security/detect-object-injection": 0,
        "security/detect-non-literal-fs-filename": 0 /* N/A for Highcharts, we do only client side */,

        "highcharts/no-newline-in-doclet-code": 2,
        "highcharts/no-newline-in-doclet-link": 2,
        "highcharts/unparsable-doclet": 2

    },
    "parserOptions": {
        "sourceType": "module"
    },
    "plugins": [
        "highcharts",
        "security"
    ],
    "extends": [
        "plugin:security/recommended"
    ]
}
