# For testing purposes, redirect .js to higcharts.js.php
RewriteEngine On

# Files concatenated from parts
RewriteRule highcharts.js debug.php?target=highcharts [L]
RewriteRule highcharts.src.js debug.php?target=highcharts [L]
RewriteRule highstock.js debug.php?target=highstock [L]
RewriteRule highstock.src.js debug.php?target=highstock [L]
RewriteRule highmaps.js debug.php?target=highmaps [L]
RewriteRule highmaps.src.js debug.php?target=highmaps [L]
RewriteRule highcharts-more.js debug.php?target=highchartsmore [L]
RewriteRule highcharts-more.src.js debug.php?target=highchartsmore [L]
RewriteRule highcharts-3d.js debug.php?target=highcharts3d [L]
RewriteRule highcharts-3d.src.js debug.php?target=highcharts3d [L]

# Stock directory
RewriteRule ^stock/(.*?) /$1

# Maps directory
RewriteRule ^maps/(.*?) /$1

# Github branches
RewriteRule ^master/(.*?) /$1

# Source files
RewriteRule (.*?)data.js $1data.src.js
RewriteRule (.*?)drilldown.js $1drilldown.src.js
RewriteRule (.*?)exporting.js $1exporting.src.js
RewriteRule (.*?)funnel.js $1funnel.src.js
RewriteRule (.*?)map.js $1map.src.js
RewriteRule (.*?)no-data-to-display.js $1no-data-to-display.src.js