* {
    font-family: Helvetica, Arial, sans-serif;
}

.highcharts-figure {
    min-width: 360px;
    max-width: 800px;
    margin: 0 auto;
}

#container {
    height: 500px;
}

.highcharts-description {
    margin: 0.3rem 10px;
}
