@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/css/datagrid.css");
@import url("https://code.highcharts.com/css/dashboards.css");

:root,
.highcharts-light {
    /* Colors for data series and points */
    --highcharts-color-0: #8cb8a3;
    --highcharts-color-1: #636c79;
    --highcharts-color-2: #e6d3a4;
    --highcharts-color-3: #fb8d83;
    --highcharts-color-5: #ccc;

    /* Extra colors */
    --gray: #ccc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --gray: #333;
    }
}

.highcharts-dashboards-component-title {
    font-size: 1.2em;
    text-align: left;
}

#dashboard-header #dashboard-title {
    text-align: center;
}

#dashboard-header #main-title {
    margin: 0 auto;
}

#current-sprint {
    background-color: var(--gray);
}

.highcharts-dashboards-component.highcharts-dashboards-component-kpi-value {
    font-size: 4em;
    margin-top: 40px;
}

.highcharts-dashboards-component-kpi-content .highcharts-dashboards-component-subtitle {
    font-size: 1.4em;
}

.highcharts-dashboards-component-kpi-chart-container .highcharts-point.highcharts-color-0 {
    fill: var(--highcharts-color-5);
    stroke: var(--highcharts-color-5);
}

#dashboard-chart-1 .highcharts-point.highcharts-color-0 {
    fill: var(--highcharts-color-5);
    stroke: var(--highcharts-color-5);
}

#dashboard-kpi-3 .highcharts-dashboards-component .highcharts-point.highcharts-color-0 {
    fill: var(--highcharts-neutral-color-100);
}

.highcharts-dashboards-component.highcharts-dashboards-component-kpi {
    border-radius: 10px;
}

.highcharts-dashboards-component.highcharts-dashboards-component-highcharts {
    border-radius: 10px;
}

.highcharts-dashboards-component.highcharts-dashboards-component-kpi-chart-container .highcharts-background {
    fill: transparent;
}

#dashboard-chart-2 .highcharts-grid-axis .highcharts-tick {
    stroke-width: 0;
}

#dashboard-chart-2 .highcharts-axis-line {
    stroke-width: 0;
}

.highcharts-plot-lines-0 .highcharts-plot-line {
    stroke-width: 3px;
}

.highcharts-plot-line-label {
    fill: var(--highcharts-neutral-color-100);
}
