@import 'https://code.highcharts.com/css/highcharts.css';

#container {
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-treegrid-node-level-1 {
	font-size: 13px;
	font-weight: bold;
	fill: black;
}
