body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
    background: var(--highcharts-background-color);
    color: var(--highcharts-neutral-color-100);
}

.highcharts-figure {
    margin: 0 auto;
    max-width: 900px;
    min-width: 360px;
}

#container {
    height: 600px;
}

.highcharts-description {
    margin: 0.3rem 10px;
}

.icon {
    width: 48px;
    margin: -5px 0;
}

.dendrogram-small .icon {
    width: 32px;
    transform: rotate(-90deg);
    vertical-align: middle;
    margin: 0 5px 0 -5px;
}

.hidden {
    display: none;
}

.button-row {
    margin: 1em 0;
}

.button-row label {
    display: block;
    margin-left: 10px;
}

.highcharts-demo-button {
    background: var(--highcharts-neutral-color-5, #f2f2f2);
    color: var(--highcharts-neutral-color-100, #000);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
    transition: background 250ms;
}

.highcharts-demo-button:hover,
.highcharts-demo-button.active {
    background: var(--highcharts-neutral-color-10, #e6e6e6);
}
