* {
    font-family: Helvetica, Arial, sans-serif;
}

.highcharts-figure {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

#play {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #25386f;
    color: #25386f;
    font-size: 0.9rem;
    min-height: 30px;
    font-weight: 500;
    border-radius: 4px;
    padding: 0.375rem 0;
    width: 6rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    text-align: center;
    cursor: pointer;
}

#play:hover {
    background-color: #25386f;
    color: #fff;
}

.highcharts-description {
    margin: 0.3rem 10px;
}
