#container {
    height: 400px;
    min-width: 310px;
}

#button {
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    background-color: #4caf50;
    color: white;
    border: 2px solid #4caf50;
    cursor: pointer;
}
