@import "https://code.highcharts.com/css/highcharts.css";

/* *
 *
 *  City Chart
 *
 * */

#city-chart .highcharts-background {
    fill: #46475d;
}

#city-chart .highcharts-title {
    fill: #fff;
}

#city-chart .highcharts-axis-labels {
    fill: #fff;
}

/* *
 *
 *  Navigator
 *
 * */

.highcharts-grid.highcharts-xaxis-grid.highcharts-navigator-xaxis .highcharts-grid-line {
    stroke: #df8fa1;
}

.highcharts-axis-labels.highcharts-xaxis-labels.highcharts-navigator-xaxis {
    fill: #fff;
}

.highcharts-navigator-series {
    fill: #c3c6ed;
    stroke: #df8fa1;
    fill-opacity: 1;
}

.highcharts-navigator-series .highcharts-area {
    fill-opacity: 1;
}

.highcharts-navigator-mask-inside {
    fill: #000;
    fill-opacity: 0.5;
    stroke-width: 0;
}

.highcharts-navigator-outline {
    display: none;
}

/* *
 *
 *  World Map
 *
 * */

#world-map .highcharts-background {
    fill: #46475d;
}

#world-map .highcharts-series-0 .highcharts-point {
    fill: #c93 !important;
    stroke: #986;
}

#world-map .highcharts-series-1 .highcharts-data-label text {
    paint-order: stroke;
    stroke: #fff;
    stroke-width: 2px;
}

#world-map .highcharts-series-1 .highcharts-data-label:nth-child(even) text {
    fill: #fff;
    stroke: #000;
    stroke-width: 1px;
}

#world-map .highcharts-series-1 .highcharts-point {
    stroke: #fff;
}

#world-map .highcharts-series-1 .highcharts-point-select {
    stroke-width: 3px;
}

#world-map .highcharts-tooltip {
    text-align: right;
}

/* *
 *
 * KPI
 *
 */

.hd-cell.hd-cell-state-hover:hover > .hd-component,
.hd-cell.hd-cell-state-active > .hd-component {
    background-color: #46475d;
    color: #fff;
}

.hd-cell.hd-cell-state-hover {
    cursor: pointer;
}

/* *
 *
 * Dark mode
 *
 */

.highcharts-dashboard.hd-dark-mode {
    background-color: #46475d;
}

/* *
 *
 * Edit mode
 *
 */
.hd-edit-button.hd-edit-tools-btn {
    background-position: top left;
    background-color: #e7e7ec;
    border-radius: 4px;
    margin: 10px;
}

.hd-edit-button.hd-edit-tools-btn:hover {
    background-color: #646479;
    color: #fff;
}

.hd-edit-enabled.highcharts-dashboard {
    background-color: rgba(36, 29, 58, 0.2);
}

.hd-edit-toolbar-cell > .hd-edit-menu-item.hd-edit-toolbar-item {
    background: #241d3a;
    border-radius: 2px;
}

.hd-edit-toolbar-row > .hd-edit-menu-item.hd-edit-toolbar-item {
    background: #646479;
    border-radius: 2px;
}

.hd-layout > .hd-row.hd-edit-row-context-highlight {
    background:
        repeating-linear-gradient(
            -45deg,
            #9491a1,
            #9895a4 10px,
            rgb(169 167 188) 10px,
            rgb(169 167 188) 12px
        );
}

.hd-edit-toolbar > .hd-edit-toolbar-cell-outline {
    border: 2px solid #241d3a;
}

.hd-edit-toolbar > .hd-edit-toolbar-row-outline {
    border: 2px solid #646479;
}

.hd-edit-menu.hd-edit-toolbar-row {
    background: #646479;
}

.highcharts-dashboard > .hd-edit-drop-pointer {
    background: #ff8d64;
}
