@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-lite/css/grid.css");

* {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

body,
.highcharts-light {
    background: var(--highcharts-background-color, #fff);
    color: var(--highcharts-neutral-color-100, #000);
}

.highcharts-dark {
    background: var(--highcharts-background-color, #141414);
    color: var(--highcharts-neutral-color-100, #fff);
}

@media (prefers-color-scheme: dark) {
    body {
        background: var(--highcharts-background-color, #141414);
        color: var(--highcharts-neutral-color-100, #fff);
    }
}

#container {
    padding: 8px;
}

.highcharts-description {
    padding: 0 10px;
}

.hcg-table td.text-center,
.hcg-table th.text-center span {
    text-align: center;
}

td img {
    width: 16px;
    height: 16px;
}
