* {
    font-family: sans-serif;
}

#report {
    min-height: 1rem;
}

#container {
    border: 1px solid silver;
    height: 500px;
    width: 600px;
    margin: 0 auto;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.highcharts-puzzle-dragging {
    stroke-dasharray: 2px;
}

.highcharts-puzzle-dropped {
    stroke: #e0e0e0;
}
