@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-pro/css/grid-pro.css");

body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
    background: var(--highcharts-background-color);
    color: var(--highcharts-neutral-color-100);
}

.demo,
.highcharts-light .demo {
    padding: 8px 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #121212;
}

.editor h2 {
    margin: 3px 0 16px;
}

.editor,
.highcharts-light .editor {
    margin-top: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.editor details,
.highcharts-light .editor details {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px;
    margin-top: 6px;
}

.editor summary {
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.editor .option-group {
    margin-left: 20px;
    margin-top: 6px;
}

.editor .option {
    margin-bottom: 6px;
}

.option label {
    display: inline-block;
}

.description,
.highcharts-light .description {
    font-style: italic;
    font-size: 0.8em;
    color: #777;
}

.last {
    margin: 8px 0 0;
}

.highcharts-description {
    padding: 0 8px;
}

@media (prefers-color-scheme: dark) {
    .demo {
        color: #fff;
    }

    .editor,
    .editor details {
        border-color: #525252;
    }

    .description {
        color: #aaa;
    }
}

.highcharts-dark .demo {
    color: #fff;
}

.highcharts-dark .editor,
.highcharts-dark .editor details {
    border-color: #525252;
}

.highcharts-dark .description {
    color: #aaa;
}
