@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

.demo {
    background-color: var(--hcg-background);
    padding: 8px;
    color: var(--hcg-color);
    font-family: Arial, Helvetica, sans-serif;
}

.editor h2 {
    margin: 3px 0 16px;
}

.editor {
    margin-top: 8px;
    padding: 8px;
    border: 1px solid var(--hcg-border-color);
    border-radius: 6px;
}

.editor details {
    border: 1px solid var(--hcg-border-color);
    border-radius: 6px;
    padding: 8px;
    margin-top: 6px;
}

.editor summary {
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.editor .option-group {
    margin-left: 20px;
    margin-top: 6px;
}

.editor .option {
    margin-bottom: 6px;
}

.option label {
    display: inline-block;
}

.description {
    font-style: italic;
    font-size: 0.8em;
    color: var(--hcg-loader-color);
}
