@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

.content {
    background-color: var(--highcharts-background-color);
    color: var(--highcharts-neutral-color-100)
}

#container {
    height: 250px;
}

#msg-container {
    padding: 5px;
}
