* {
    font-family: Helvetica, Arial, sans-serif;
}

#outer-container {
    min-width: 300px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

#outer-container .button-group {
    padding-right: 2em;
}

#outer-container button {
    padding: 1em;
    border: 0;
    border-radius: 2px;
    font-size: 12px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex .cell {
    width: 49%;
    padding-right: 1%;
}

@media only screen and (max-width: 600px) {
    .flex .cell {
        width: 100%;
        padding-right: 0;
    }
}

.container {
    height: 400px;
    box-shadow: 1px 2px 5px rgba(0 0 0 / 0.2);
    margin: 1rem 0;
}

.range-container {
    position: relative;
    padding-top: 2em;
}

input#range {
    width: 100%;
}

label[for="range"] {
    top: 0;
    position: absolute;
}
