@import url("https://code.highcharts.com/datagrid/css/datagrid2.css");
@import url("https://code.highcharts.com/datagrid/css/datagrid.css");

#container,
#container-sh {
    height: 400px;
}

.highcharts-dg-table thead th {
    height: 49px;
}

.highcharts-dg-row {
    height: 49px;
}
