@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-lite/css/grid-lite.css");

body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
    background: var(--highcharts-background-color);
    color: var(--highcharts-neutral-color-100);
}

:root,
.highcharts-light {
    --code-background: #f7f7f7;
    --code-border: #e1e1e1;
}

.demo {
    padding: 8px 12px;
}

.highcharts-description {
    padding: 0 8px;
}

.table-wrapper {
    margin-bottom: 50px;
    height: 350px;
}

/*
 * If there are multiple grids on the same page that share some styling it is
 * recommended to apply these variables to the outer .hcg-container element.
 */
.hcg-container,
.highcharts-light .hcg-container {
    --hcg-caption-font-size: 20px;
    --hcg-caption-color: #333;
    --hcg-description-font-size: 14px;
    --hcg-description-color: #333;
}

/*
 * The available CSS variables are for styling the overall grid. If you use
 * custom HTML inside grid elements, or you miss some styling options, you can
 * always override CSS selectors, or add new ones, using plain CSS. We always
 * recommend using the provided CSS variables whenever possible.
 */
.hcg-description {
    line-height: 1.5em;
}

.hcg-description code,
.highcharts-light .hcg-description code {
    font-family: Consolas, "courier new", monospace;
    line-height: 1em;
    background: var(--code-background);
    border: 1px solid var(--code-border);
    color: var(--highcharts-neutral-color-100);
    padding: 2px 4px;
    border-radius: 5px;
    display: inline-block;
}

.theme-compact,
.highcharts-light .theme-compact {
    --hcg-font-size: 14px;
    --hcg-padding: 7px;
    --hcg-header-vertical-padding: 7px;
    --hcg-border-radius: 0;
    --hcg-row-border-width: 0;
}

.my-theme,
.highcharts-light .my-theme {
    --my-hover-color: #f00;
    --hcg-font-size: 15px;
    --hcg-color: #666;
    --hcg-header-color: #fff;
    --hcg-background: #fff;
    --hcg-padding: 10px;
    --hcg-header-background: #002933;
    --hcg-row-even-background: #e9faff;
    --hcg-cell-hovered-header-background: #1a3f48;
    --hcg-cell-hovered-border-width: 1px;
    --hcg-cell-hovered-column-border-width: 1px;
    --hcg-cell-hovered-column-border-color: #f2f2f2;
    --hcg-header-hovered-background: #1a3f48;
    --hcg-cell-hovered-border-color: var(--my-hover-color);
    --hcg-cell-hovered-header-color: var(--my-hover-color);
    --hcg-cell-hovered-row-color: var(--my-hover-color);
    --hcg-cell-hovered-column-color: var(--my-hover-color);
    --hcg-header-hovered-color: var(--my-hover-color);

    /* Button styles */
    --hcg-button-color: #fff;
    --hcg-button-border-radius: 6px;
    --hcg-button-hover-color: var(--my-hover-color);
    --hcg-button-hover-background: #1a3f48;

    /* Icon styles */
    --hcg-icon-hover-color: #666;
    --hcg-icon-header-hover-color: var(--my-hover-color);
}

.opacity-theme,
.highcharts-light .opacity-theme {
    /* Define some custom properties. */
    --hover-color: 255, 255, 255;
    --gradient-from-color: rgb(172, 50, 228);
    --gradient-to-color: rgb(72, 1, 255);

    /* Apply the custom properties in the theme. */
    --hcg-background: linear-gradient(-68deg, var(--gradient-from-color), var(--gradient-to-color));
    --hcg-header-background: rgba(var(--hover-color), 0.32);
    --hcg-cell-hovered-column-background: rgba(var(--hover-color), 0.1);
    --hcg-cell-hovered-row-background: rgba(var(--hover-color), 0.1);
    --hcg-cell-hovered-background: rgba(var(--hover-color), 0.2);
    --hcg-header-hovered-background: rgba(var(--hover-color), 0.15);
    --hcg-color: rgb(255, 255, 255);
    --hcg-border-radius: 15px;
    --hcg-font-size: 15px;
    --hcg-padding: 10px;

    /* Button styles */
    --hcg-button-color: rgba(var(--hover-color), 0.8);
    --hcg-button-border-radius: 6px;
    --hcg-button-hover-color: rgb(var(--hover-color));
    --hcg-button-hover-background: rgba(var(--hover-color), 0.25);

    /* Icon styles */
    --hcg-icon-hover-color: #000;
}

.highcharts-light .opacity-theme .hcg-menu-item-label {
    color: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --code-background: #2a2a2a;
        --code-border: #4a4a4a;
    }

    .hcg-container {
        --hcg-caption-color: #eee;
        --hcg-description-color: #eee;
    }

    .my-theme {
        --my-hover-color: #ff5f5f;
        --hcg-header-background: #001c23;
        --hcg-color: #eee;
        --hcg-background: #003947;
        --hcg-row-even-background: #004556;
        --hcg-cell-hovered-column-border-color: #4b4b4b;

        /* Icon styles */
        --hcg-icon-hover-color: #eee;
        --hcg-icon-header-hover-color: var(--my-hover-color);
    }

    .opacity-theme {
        /* In dark mode we only need to adjust the custom properties. */
        --base-color: 0, 0, 0;
        --gradient-from-color: rgb(102, 20, 140);
        --gradient-to-color: rgb(50, 13, 144);

        /* Icon styles */
        --hcg-icon-hover-color: #fff;
    }
}

.highcharts-dark {
    --code-background: #2a2a2a;
    --code-border: #4a4a4a;
}

.highcharts-dark .hcg-container {
    --hcg-caption-color: #eee;
    --hcg-description-color: #eee;
}

.highcharts-dark .my-theme {
    --my-hover-color: #ff5f5f;
    --hcg-header-background: #001c23;
    --hcg-color: #eee;
    --hcg-background: #003947;
    --hcg-row-even-background: #004556;
    --hcg-cell-hovered-column-border-color: #4b4b4b;

    /* Icon styles */
    --hcg-icon-hover-color: #eee;
    --hcg-icon-header-hover-color: var(--my-hover-color);
}

.highcharts-dark .opacity-theme {
    /* In dark mode we only need to adjust the custom properties. */
    --base-color: 0, 0, 0;
    --gradient-from-color: rgb(102, 20, 140);
    --gradient-to-color: rgb(50, 13, 144);

    /* Icon styles */
    --hcg-icon-hover-color: #fff;
}
