@import url("https://code.highcharts.com/dashboards/css/datagrid.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

iframe {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 680px) {
    .highcharts-dashboards-cell {
        flex: 1 1 100%;
    }
}
