@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-pro/css/grid-pro.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

iframe {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 576px) {
    .highcharts-dashboards-cell {
        flex: 1 1 100%;
    }
}
