/* Global font */
@import "https://fonts.googleapis.com/css?family=Dosis:400,600";
@import "../highcharts.css";

:root {
    /* Colors for data series and points. */
    --highcharts-color-0: #7cb5ec;
    --highcharts-color-1: #f7a35c;
    --highcharts-color-2: #90ee7e;
    --highcharts-color-3: #7798bf;
    --highcharts-color-4: #aaeeee;
    --highcharts-color-5: #ff0066;
    --highcharts-color-6: #eeaaee;
    --highcharts-color-7: #55bf3b;
    --highcharts-color-8: #df5353;
    --highcharts-color-9: #7798bf;

    /* Neutral colors */
    --highcharts-neutral-color-100: #404048;
    --highcharts-neutral-color-80: #000000;

    /* Fonts */
    --highcharts-font-family: "Dosis", arial, helvetica, sans-serif;
    --highcharts-title-font-size: 16px;
    --highcharts-legend-font-size: 13px;
    --highcharts-axis-labels-font-size: 12px;

    /* Tooltip */
    --highcharts-tooltip-border: 0;
    --highcharts-tooltip-background: rgba(219, 219, 216, 0.8);

    /* Axes */
    --highcharts-xaxis-grid-line: 1px;
}

/* Title */
.highcharts-title,
.highcharts-subtitle,
.highcharts-yaxis .highcharts-axis-title {
    text-transform: uppercase;
}

.highcharts-title {
    font-weight: bold;
}
