// Global font
@import 'https://fonts.googleapis.com/css?family=Signika:400,700';

// Chart background, point stroke for markers and columns etc
$highcharts-background-color: none;

// Colors for data series and points.
$highcharts-colors: #f45b5b #8085e9 #8d4654 #7798BF #aaeeee #ff0066 #eeaaee #55BF3B #DF5353 #7798BF #aaeeee;

// Neutral colors
$highcharts-neutral-color-100: #fff;
$highcharts-neutral-color-80: #000;

// Data-labels
$highcharts-data-label-color: #000;

// Fonts
$highcharts-font-family: 'Signika', Arial, Helvetica, sans-serif;
$highcharts-title-font-size: 16px;
$highcharts-legend-font-size: 13px;
$highcharts-axis-labels-font-size: 12px;

// Tooltip
$highcharts-tooltip-border: 0px;
$highcharts-tooltip-background: $highcharts-neutral-color-100;

// Buttons
$highcharts-button-background: $highcharts-neutral-color-100;
$highcharts-button-border: #C0C0C8;
$highcharts-button-text:  #000;

$highcharts-button-pressed-background: #D0D0D8;
$highcharts-button-pressed-text:  #000;

$highcharts-context-button-background: $highcharts-neutral-color-100;

// Navigator
$highcharts-navigator-series-fill: #f45b5b;
$highcharts-navigator-series-border: #f45b5b;

// General
.highcharts-container {
    background: url(https://www.highcharts.com/samples/graphics/sand.png);
}

// Boxplot
.highcharts-boxplot-box {
   fill: #505053;
}

// Navigator
$highcharts-grid-line-color: #D0D0D8;


// Scrollbar
$highcharts-scrollbar-arrow-background: #C0C0C8;
$highcharts-scrollbar-track-background: #C0C0C8;

// Title
.highcharts-title {
	font-weight: bold;
}

// Buttons
.highcharts-button-box {
	stroke-width: 1px;
}

@import '../highcharts';