// Global font
@import 'https://fonts.googleapis.com/css?family=Signika:400,700';

// Chart background, point stroke for markers and columns etc
$background-color: none;

// Colors for data series and points.
$colors: #f45b5b #8085e9 #8d4654 #7798bf #aaeeee #ff0066 #eeaaee #55bf3b #df5353
    #7798bf #aaeeee;

// Neutral colors
$neutral-color-100: #fff;
$neutral-color-80: #000;

// Data-labels
$data-label-color: #000;

// Fonts
$font-family: 'Signika', Arial, Helvetica, sans-serif;
$title-font-size: 16px;
$legend-font-size: 13px;
$axis-labels-font-size: 12px;

// Tooltip
$tooltip-border: 0px;
$tooltip-background: $neutral-color-100;

// Buttons
$highcharts-button-background: $neutral-color-100;
$highcharts-button-border: #c0c0c8;
$highcharts-button-text: #000;

$highcharts-button-pressed-background: #d0d0d8;
$highcharts-button-pressed-text: #000;

$context-button-background: $neutral-color-100;

// Navigator
$navigator-series-fill: #f45b5b;
$navigator-series-border: #f45b5b;

// Scrollbar
$scrollbar-track-border: #c0c0c8;

// General
.highcharts-container {
    background: url(https://www.highcharts.com/samples/graphics/sand.png);
}

// Boxplot
.highcharts-boxplot-box {
    fill: #505053;
}

// Navigator
.highcharts-navigator-xaxis .highcharts-grid-line {
    stroke: #d0d0d8;
}

// Scrollbar
.highcharts-scrollbar-track {
    stroke: #c0c0c8;
}

// Title
.highcharts-title {
    font-weight: bold;
}

// Buttons
.highcharts-button-box {
    stroke-width: 1px;
}

@import '../highcharts';
