/* Global font */
@import url("https://fonts.googleapis.com/css?family=Signika:400,700");
@import url("../highcharts.css");

:root {
    /* Colors for data series and points. */
    --highcharts-color-0: #f45b5b;
    --highcharts-color-1: #8085e9;
    --highcharts-color-2: #8d4654;
    --highcharts-color-3: #7798bf;
    --highcharts-color-4: #aaeeee;
    --highcharts-color-5: #ff0066;
    --highcharts-color-6: #eeaaee;
    --highcharts-color-7: #55bf3b;
    --highcharts-color-8: #df5353;
    --highcharts-color-9: #7798bf;
}

/* General */
.highcharts-container {
    background: url(https://www.highcharts.com/samples/graphics/sand.png);
    font-family: Signika, arial, helvetica, sans-serif;
}

.highcharts-background {
    fill: light-dark(transparent, var(--highcharts-background-color));
}

.highcharts-axis-labels {
    font-size: 0.8em;
}

.highcharts-tooltip-box,
.highcharts-tooltip-box .highcharts-label-box {
    stroke-width: 0;
    fill: var(--highcharts-neutral-color-80);
}

.highcharts-tooltip text {
    fill: var(--highcharts-background-color);
}

.highcharts-legend-box {
    fill: var(--highcharts-neutral-color-10);
}

.highcharts-legend-item > text {
    font-size: 0.8em;
}

/* Navigator */
.highcharts-navigator-series {
    fill: var(--highcharts-color-0);
    stroke: var(--highcharts-color-0);
}

/* Title */
.highcharts-title {
    font-weight: bold;
}

/* Buttons */
.highcharts-button-pressed {
    fill: var(--highcharts-neutral-color-10);
}

.highcharts-button-box {
    stroke-width: 1px;
}
