/* Global font */
@import "https://fonts.googleapis.com/css?family=Signika:400,700";
@import "../highcharts.css";

:root {
    /* Chart background, point stroke for markers and columns etc */
    --highcharts-background-color: none;

    /* Colors for data series and points. */
    --highcharts-color-0: #f45b5b;
    --highcharts-color-1: #8085e9;
    --highcharts-color-2: #8d4654;
    --highcharts-color-3: #7798bf;
    --highcharts-color-4: #aaeeee;
    --highcharts-color-5: #ff0066;
    --highcharts-color-6: #eeaaee;
    --highcharts-color-7: #55bf3b;
    --highcharts-color-8: #df5353;
    --highcharts-color-9: #7798bf;

    /* Neutral colors */
    --highcharts-neutral-color-100: #ffffff;
    --highcharts-neutral-color-80: #000000;

    /* Data-labels */
    --highcharts-data-label-color: #000000;

    /* Fonts */
    --highcharts-font-family: "Signika", arial, helvetica, sans-serif;
    --highcharts-title-font-size: 16px;
    --highcharts-legend-font-size: 13px;
    --highcharts-axis-labels-font-size: 12px;

    /* Tooltip */
    --highcharts-tooltip-border: 0;
    --highcharts-tooltip-background: var(--highcharts-neutral-color-100);

    /* Buttons */
    --highcharts-button-background: var(--highcharts-neutral-color-100);
    --highcharts-button-border: #c0c0c8;
    --highcharts-button-text: #000000;
    --highcharts-button-pressed-background: #d0d0d8;
    --highcharts-button-pressed-text: #000000;
    --highcharts-context-button-background: var(--highcharts-neutral-color-100);

    /* Navigator */
    --highcharts-navigator-series-fill: #f45b5b;
    --highcharts-navigator-series-border: #f45b5b;

    /* Scrollbar */
    --highcharts-scrollbar-track-border: #c0c0c8;
}

/* General */
.highcharts-container {
    background: url(https://www.highcharts.com/samples/graphics/sand.png);
}

/* Boxplot */
.highcharts-boxplot-box {
    fill: #505053;
}

/* Navigator */
.highcharts-navigator-xaxis .highcharts-grid-line {
    stroke: #d0d0d8;
}

/* Scrollbar */
.highcharts-scrollbar-track {
    stroke: #c0c0c8;
}

/* Title */
.highcharts-title {
    font-weight: bold;
}

/* Buttons */
.highcharts-button-box {
    stroke-width: 1px;
}
