docs/sidebars.js
js/annotations/*.js
js/annotations/controllable/**/*.js
js/indicators/**/*.js
js/modules/**/*.js
js/mixins/**/*.js
js/parts/**/*.js
js/parts-3d/**/*.js
js/parts-gantt/**/*.js
js/parts-map/**/*.js
js/parts-more/**/*.js
js/themes/**/*.js
samples/data/**/*.js
samples/highcharts/common-js/**/*.js
samples/cloud/**/**/*.js
samples/static/*.js
test/test-controller.js
test/test-template.js
test/test-utilities.js
tools/eslint-plugin-highcharts/node_modules/**
tools/jsdoc/storage/**/*.js
ts/**/*.js
vendor/**/*
