js/mixins/**/*.js
js/modules/networkgraph/*.js
js/modules/broken-axis.src.js
js/modules/oldie.src.js
js/modules/oldie-polyfills.src.js
js/parts/**/*.js
js/parts-3d/**/*.js
js/parts-gantt/ArrowSymbols.js
js/parts-gantt/CurrentDateIndicator.js
js/parts-gantt/GridAxis.js
js/parts-gantt/Pathfinder.js
js/parts-gantt/PathfinderAlgorithms.js
js/parts-map/**/*.js
js/parts-more/**/*.js
samples/data/**/*.js
samples/highcharts/common-js/**/*.js
samples/cloud/**/**/*.js
samples/static/*.js
test/test-controller.js
test/test-template.js
test/test-utilities.js
tools/eslint-plugin-highcharts/node_modules/**
tools/jsdoc/storage/**/*.js
vendor/**/*
