extends:
    "./node_modules/eslint-config-eslint/default.yml"

rules:
    camelcase: [2, {"properties": "always"}]
    comma-dangle: [2, "never"]
    dot-location: [2, "property"]
    function-paren-newline: 0 // @todo: Nicer looking. Should do it manually. 74 remaining.
    lines-around-comment: 0
    max-len: 2
    newline-after-var: 0
    no-alert: 2
    no-console: 2
    no-debugger: 2
    no-else-return: 2
    no-nested-ternary: 0
    no-param-reassign: 0 // @todo
    no-restricted-properties: 0 // @todo
    no-self-assign: 0 // @todo
    no-self-compare: 0 // @todo
    no-throw-literal: 0 // @todo
    no-unmodified-loop-condition: 0
    no-useless-call: 0 // @todo
    no-useless-escape: 0 // @todo
    no-var: 0 // @todo
    node/no-unsupported-features/es-syntax: 0 // @todo
    object-curly-spacing: [2, "always"]
    operator-assignment: 0 // @todo
    operator-linebreak: [2, "after"]
    padding-line-between-statements: 0 // @todo
    prefer-arrow-callback: 0 // @todo
    prefer-rest-params: 0 // @todo
    prefer-spread: 0 // @todo
    prefer-template: 0 // @todo
    space-before-function-paren: [2, {"anonymous": "always", "named": "never"}] # JSLint style
    strict: 0
    valid-jsdoc: ["error", { prefer: { "returns": "return"}}]
    quotes: [2, "single"]