docs/sidebars.js
js/**/*.js
samples/data/**/*.js
samples/highcharts/common-js/**/*.js
samples/highcharts/esm/async-await/demo.js
samples/cloud/**/**/*.js
samples/static/*.js
test/test-controller.js
test/test-template.js
test/test-utilities.js
tools/eslint-plugin-highcharts/node_modules/**
tools/jsdoc/storage/**/*.js
ts/**/*.js
vendor/**/*
