#container {
    height: 450px;
    max-width: 1300px;
    margin: 0 auto;
}

#balanceChart {
    width: 70%;
    height: 400px;
    float: left;
    margin: 0;
}

#payBillForm {
    float: left;
    width: 25%;
    margin: 0;
    padding-left: 5%;
}

#payBillForm > label {
    display: block;
    margin: 10px;
}

#pay {
    margin: 10px;
}

caption {
	padding-bottom: 15px;
	font-family: 'Verdana';
	font-size: 1.2em;
	color:#555;
}

table {
	font-family: 'Verdana';
	font-size: 12pt;          
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
    text-align: center;
    width: 100%;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table tr:nth-child(even) {
  background-color: #FCF9F9;
}

th {
	font-weight: 600;
    padding: 10px;
}
