@import 'https://code.highcharts.com/css/highcharts.css';

.chart-container .highcharts-container {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 500px;
  text-align: left;
  line-height: normal;
	fill:#fff;
  z-index: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  user-select: none;
  touch-action: manipulation;
  outline: none;
}

.chart-container .highcharts-xaxis-grid .highcharts-grid-line {
	stroke-width: 1px;
}

.chart-container .highcharts-grid-line {
	fill: none;
	stroke: transparent;
	z-index: 40;
}

.chart-container .highcharts-plot-band, .highcharts-pane{
	fill:#30426B;
	fill-opacity:1;
	z-index: 30;
}

.chart-container .highcharts-legend-series-active g.highcharts-series:not(.highcharts-series-hover),
.chart-container .highcharts-legend-point-active .highcharts-point:not(.highcharts-point-hover),
.chart-container .highcharts-legend-series-active .highcharts-markers:not(.highcharts-series-hover),
.chart-container .highcharts-legend-series-active .highcharts-data-labels:not(.highcharts-series-hover) {
  opacity: 1;
}
.chart-container .highcharts-series-inactive {
  opacity: 1;
  transition: opacity 50ms;
}
.chart-container .highcharts-tooltip-0{
	filter:drop-shadow(5px 7px 13px rgba(0,0,0,0.14)) !important;;
	box-shadow: 5px 7px 13px 1px rgba(0,0,0,0.14);
}
.chart-container .highcharts-tooltip-box {
	stroke-width: 0px;
	border:none;
	stroke:#ebebeb;
	fill: #fff;
	fill-opacity: 1;
}
.chart-container .highcharts-tooltip text {
  fill: #333333;
  font-family:'Arial';
}

.chart-container .highcharts-tooltip{
	z-index: 100
}

.chart-container .highcharts-graph {
    fill: unset;
    stroke-width: unset;
    stroke:unset;
    stroke-linecap:butt;
    stroke-linejoin: round;
}

#maps{
	width:250px;
	height:250px;
}

#maps .highcharts-background{
  fill:#1f1836;
}

#maps .highcharts-map-series{
	opacity:0;
}

#maps .highcharts-plot-background{
	fill:#46445d;
	stroke:transparent;
}

#maps .highcharts-zone-area-0{
	fill:transparent;
	stroke:transparent;
}

#maps .foreground,
#maps .map-point-center .highcharts-color-5{
	fill:#201836;
	stroke:transparent;
}

#maps .map-point-center{
	transform:translate(63px, 60px) scale(.5);
	transition: all 3s;
}

#maps .map-point-center.grow{
	transform:translate(0px, -25px) scale(1);
}

#maps .map-point-point,
#maps .map-point-top,
#maps .map-point-top .highcharts-color-4{
	fill:#8bf2b6;
	stroke:#8bf2b6;
	transition: all 3s;
}

#maps .map-point-point.grow{
	transform: translate(-87px, -106px) scale(1.7);
}

#maps .map-point-top{
	transform:translate(63px, 60px) scale(.5)
}
#maps .map-point-top.grow{
	transform: translate(14px, -11px) scale(.89);
}



#maps .top{
	fill:#79758d;
	stroke:transparent;
}

#maps .bottom{
	fill:#fff;
	stroke:transparent;
}

#maps .fade-in{
	opacity: 1 !important;
	transition: all 1s;
}
#maps .fade{
	opacity: 0 !important;
	transition: all 1s;
}
#maps .hide{
	opacity: 0 !important;
	transition: none !important;
}
#maps .show{
	opacity: 1 !important;
	transition: none !important;
}

#maps .left,
#maps .right
{
	fill:#8087E8;
	stroke:transparent;
	transition: all 3s;
}

#maps .transparent{
	fill:transparent;
	stroke:transparent;
}

#maps .green{
	fill:#8bf2b6;
	stroke:#8bf2b6;
}

#maps .particle{
	transform:scale(.6);
}

#maps .particle-1{
	transform:translate(50px, 85px) rotate(230deg);
	transform-origin: center;

}

#maps .particle-2{
	transform:translate(120px, 50px);
	transform-origin: center;

}

#maps .particle-5{
	transform:translate(15px, 110px);
	transform-origin: center;

}

#maps .particle-6{
	transform:translate(130px, 120px);
	transform-origin: center;
}

#maps .highcharts-title,
#maps .highcharts-subtitle{
  fill:white;
}

#maps .highcharts-map-series .highcharts-point{
  stroke:transparent;
}

#maps .highcharts-map-series .highcharts-point-hover{
  fill-opacity:1;
}

#maps .highcharts-tooltip-box{
  fill:#fff;
  color:#2F2B38;
  fill-opacity: 1;
  filter:drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.2));
  border-radius:100px;
}

#maps .highcharts-label-box{
  fill:transparent
}

#maps .highcharts-tooltip text {
  fill: #2F2B38;
	fill: yellow;
  font-weight: 700;
  font-size: 1em;
}

#maps .highcharts-tooltip{
  stroke:transparent;
  color:#2F2B38;
  font-weight: 700;
  font-size: .9em;
}

#maps .dot{
 width:10px;
 height:10px;
 border-radius:20px;
 margin-right:5px;
 background-color: #1f1836;
 display: inline-block;
}

#maps .highcharts-crosshair-thin {
  stroke-width: 5px;
  stroke: #8af2b6 !important;
}

#maps .highcharts-axis-labels{
  fill:white;
}

#maps .highcharts-crosshair-thin {
  stroke-width: 10px;
  stroke: #fff;
}

#maps .highcharts-legend-title {
	transform: translate(30px,0px);
}

#maps  .highcharts-legend-title {
  transform: translate(25px,2px);
}

#maps  .highcharts-axis-labels {
  fill: white;
  transform: translateY(-10px);
}

#maps  .highcharts-zoom-in text,
#maps  .highcharts-zoom-out text{
  transform:translateX(4px);
}

#maps .highcharts-title,
#maps .highcharts-subtitle{
	opacity:0;
}

#maps .tip-grid{
	margin-left:30px;
	display:grid;
	align-items:start;
	grid-template-columns: 75px;
  grid-template-rows: 35px 20px;
}

#maps .tip-content{
	position:absolute;
	left:25px;
	background-color:#8af2b6;
	border:0px solid transparent;
	padding:10px;
	border-radius:100px;
}

#maps .tip-point{
	font-size:32px;
	color:#8af2b6;
	margin-top: 17px;
}

@media screen  and (min-width: 500px) {
	#maps{
		width:500px;
		height:500px;
	}

	#maps .particle{
		transform:scale(1);
	}

	#maps .particle-1{
		transform:translate(0px, 0px) rotate(230deg);
		transform-origin: center;
	}

	#maps .particle-2{
		transform:translate(0px, 0px);
		transform-origin: center;
	}

	#maps .particle-5{
		transform:translate(0px, 0px);
		transform-origin: center;
	}

	#maps .particle-6{
		transform:translate(0px, 0px);
		transform-origin: center;
	}

	#maps .map-point-point.on {
		transform:translate(-250px, -300px) scale(2);
	}
	#maps .map-point-point.grow{
		transform: translate(-250px, -300px) scale(2);
	}

	#maps .map-point-top{
		transform:translate(0px, 0px) scale(1)
	}
	#maps .map-point-top.grow{
		transform: translate(-250px, -300px) scale(2);
	}

	#maps .map-point-center{
		transform:translate(0px, 0px) scale(1)
	}
	#maps .map-point-center.grow{
		transform:translate(-250px, -300px) scale(2);
	}

	#maps .highcharts-legend-title {
    transform: translate(30px,0px);
  }
}
