#container {
    height: 500px;
    min-width: 310px;
    max-width: 600px;
    margin: 0 auto;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: #808080;
}

#popup-pie {
    width: 280px;
    height: 230px;
    padding: 0.5em 1em;
    cursor: default;
}

#annotation-header {
    display: flex;
    justify-content: space-between;
    width: 280px;
    align-items: center;
    color: #333;
    font-size: 1.45em;
    font-weight: bold;
    background: #e9e9e9;
    padding: 0.4em 1em;
    cursor: move;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#annotation-close-btn {
    width: 20px;
    height: 20px;
    padding: 1px;
    color: #777;
    text-align: center;
    font-size: 0.7em;
    font-weight: 700;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    background: #f6f6f6;
    cursor: pointer;
    z-index: 999;
}
