<script src="https://code.highcharts.com/dashboards/dashboards.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/dashboards/modules/dashboards-plugin.js"></script>

<div id="demo-ui">
    <div>
        Value:
        <span class="threshold-info" id="value-label">10</span>,
        component:
        <span class="threshold-info" id="component-label">HTML</span>
    </div>
    <input type="range" min="0" max="100" value="10" id="slider" list="markers">
    <datalist id="markers"></datalist>
</div>
<div id="container"></div>
