#container {
    width: 100%;
    height: 480px;
}

.outer-container {
    position: relative;
}

/* styles for testing */
body {
    background-color: #18171c;

    /* background-color: transparent; */

    color: white;

    /* margin-top: -100px; */
}

#chart-description {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(1px, 1px, 1px, 1px);
    margin-top: -3px;
    opacity: 0.01;
}

#demo-content {
    background-color: transparent;
    margin: 0;
}

.btn-small {
    white-space: nowrap;
}

/* .top-bar {
    visibility: hidden;
} */

/* #message {
    height: unset;
} */

.fake {
    position: relative;
    background: linear-gradient(180deg, #201836 0%, #46465c 100%);
}

.highcharts-background {
    fill: transparent;
}

.highcharts-title {
    color: #c8c7d1 !important;
    fill: #c8c7d1 !important;
}

.highcharts-title a,
.highcharts-subtitle a {
    color: #c8c7d1 !important;
    font-weight: 300;
}

.highcharts-subtitle {
    color: #c8c7d1 !important;
    fill: #c8c7d1 !important;
}

.highcharts-data-labels text {
    fill: #c8c7d1 !important;
    font-weight: normal;
}

.subtitle {
    color: #5e5c70;
}

.highcharts-button-box {
    fill: #474554;
    stroke: #5e5c70;
}

.highcharts-reset-zoom .highcharts-button-box {
    fill: #acabba;
    stroke: #5e5c70;
}

.highcharts-point-up {
    stroke: #10b981;
}

.highcharts-point-down {
    stroke: #6975ff;
}

.highcharts-button-symbol {
    stroke: #918fa3;
}

#stop {
    color: #e3e3e8;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 400;
}

#stop:hover {
    color: #fff;
}

.jellypus {
    transform-origin: center;

    /* transform: translateX(-1000px); */
    transition: all 2s;
}

.jellypus .highcharts-point {
    fill-opacity: 1;
    stroke-width: 0.5px;
    stroke-dasharray: 2px;
    stroke: #c8c7d1;
}

.jellypus.highcharts-markers .highcharts-point {
    stroke: transparent;

    /* fill: #6975FF; */
    fill-opacity: 0.8;
    stroke-dasharray: 0;
}

.jellypus.highcharts-markers .highcharts-point.head {
    /* fill: #6975FF; */
    fill-opacity: 0.8;
    stroke: transparent;
}

#projection-buttons {
    display: none;
}

/* bar chart race controls */
.highcharts-bar-series.highcharts-data-labels .highcharts-data-label:nth-of-type(1),
.highcharts-bar-series.highcharts-data-labels .highcharts-data-label:nth-of-type(2),
.highcharts-bar-series.highcharts-data-labels .highcharts-data-label:nth-of-type(3),
.highcharts-bar-series.highcharts-data-labels .highcharts-data-label:nth-of-type(4),
.highcharts-bar-series.highcharts-data-labels .highcharts-data-label:nth-of-type(5),
.highcharts-bar-series.highcharts-data-labels .highcharts-data-label:nth-of-type(6) {
    display: none;
}

#play-controls {
    max-width: 700px;
    position: absolute;
    left: 110px;
    top: 403px;
    visibility: hidden;
}

#play-pause-button {
    margin-left: 10px;
    padding-left: 15px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: 1px solid #5e5c70;
    border-radius: 25px;
    color: #acabba;
    background-color: #5e5c70;
    transition: background-color 250ms;
}

#play-arrow {
    display: block;
    margin-left: -4px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid #e3e3e8;
}

#pause-bars {
    display: none;
    margin-left: -6px;
    width: 4px;
    height: 10px;
    border-top: 0;
    border-bottom: 0;
    border-left: 4px solid #e3e3e8;
    border-right: 4px solid #e3e3e8;
}

#play-pause-button:hover {
    background-color: #474554;
}

#play-range {
    transform: translateY(2.5px);
    width: calc(100% - 90px);
    background: #5e5c70;
}

#boom {
    display: none;
}

/* Change Chart button */

.button-container {
    position: absolute;
    left: 12px;
    bottom: 2px;
}

.button-container .chart-button {
    border: 0;
    border-radius: 5px;
    background-color: transparent;
    color: #e3e3e8;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 32px;
    transition: all 0.1s ease;
}

.button-container .chart-button:disabled {
    color: #75738c;
}

.button-container .button-text {
    border: 1px solid #918fa3;
    padding-top: 5px;
    font-weight: 700;
    font-size: 12px;
    color: inherit;
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 116px;
    height: 22px;
}

.button-text:hover {
    border: 1px solid #8791ff;
    color: #e1e3ff;
    background-color: rgba(0, 0, 0, 0.7);
}

.chart-button:disabled .button-text {
    border: 1px solid #5e5c70;
    color: #75738c;
}

.confetti {
    z-index: 10;
}
