@import url("https://code.highcharts.com/dashboards/css/dashboards.css");
@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

#demo {
    margin: 10px;
    padding: 10px;
}

.two-cols {
    display: flex;
}

.col {
    flex: 1;
    padding: 10px;
}

.grid {
    border: 1px solid red;
}

#container,
#dashboard-col-0,
#dashboard-col-1 {
    height: 500px;
}

:root {
    /* Fiddle around with these (and hit Run!) to see changes */
    --table-border: 1px;
    --column-border: 1px;
    --row-border: 1px;
    --inset: 1px; /* We recommend inset for hightlight borders to avoid content shifting. */
    --padding: 8px;
    --border-spacing: 0px; /* This is the big one, allowing for more "decorative" tables. */
    --cell-border-radius: 0px; /* Best suited if border-spacing > 0. We need for <table> as well. */
}

.highcharts-datagrid-table tbody td:hover {
    box-shadow: inset 0 0 0 var(--inset, 0) green !important;
}
