@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

#csv {
    display: none;
}

/* HIGHCHARTS */
:root,
.highcharts-light {
    --highcharts-color-0: #9a9a9a;
}

/* DASHBOARDS */

#slider-cell {
    max-width: 200px;
}

.highcharts-dashboards-component-title {
    text-align: center;
}

/* CUSTOM COMPONENT */

.am-container {
    display: flex;
    justify-content: center;
}

.am-slider-side {
    position: relative;
    height: 330px;
}

.am-slider {
    appearance: slider-vertical;
    height: 330px;
    width: 30px;
}

.am-handle-label-container {
    position: relative;
    height: 20px;
}

.am-handle-label {
    position: absolute;
    pointer-events: none;
    left: 0;
}

.am-extremes-slider-label {
    position: absolute;
    right: 0;
    font-size: 12px;
    color: var(--highcharts-neutral-color-60);
}

.am-min-slider-label {
    bottom: 1px;
}

.am-max-slider-label {
    top: 4px;
}
