#container {
    max-width: 400px;
}

h1 {
    font-size: 1.5rem;
    padding-left: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    max-width: 400px;
    padding: 10px;
}

.grid-cell {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
}

#chart {
    grid-column: 1 / span 2;
}

.btn {
    background: #5749ad;
    color: #fff;
    border: 2px solid #5749ad;
    padding: 8px 16px;
    font-weight: 700;
    border-radius: 4px;
    transition: background 0.3s, color 0.3s, border-color 0.3s;
}

.btn:hover {
    background: #fff;
    color: #5749ad;
    border-color: #5749ad;
    cursor: pointer;
}

.btn:focus {
    outline: 2px solid black;
    outline-offset: 3px;
}

.btn:active {
    background: #5749ad;
    color: #fff;
    border-color: #5749ad;
}
