@import url("https://code.highcharts.com/datagrid/css/datagrid2.css");

#demo {
    margin: 8px;
}

#container {
    margin-bottom: 15px;
    height: 400px;
}

.highcharts-dg-row[row-index="1"] {
    background-color: #afa;
    height: 100px;
}

.highcharts-dg-row[row-index="100"] {
    background-color: #f0a;
    height: 200px;
}
