@import url("https://code.highcharts.com/css/highcharts.css");

#container {
    height: 300px;
    margin: 0 auto;
    margin-top: 1em;
    max-width: 800px;
}

.controls {
    padding: 10px;
}

.highcharts-column-series rect {
    stroke-dasharray: 2;
    stroke: black;
}

.CodeMirror {
    height: auto !important;
}
