@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

.highcharts-dark {
    color-scheme: dark;
}

.highcharts-light {
    color-scheme: light;
}

.highcharts-controls {
    padding: 1rem;
    border-radius: 7px;
    border: 1px solid light-dark(#e9ecef, #495057);
    box-sizing: border-box;

    * {
        font-family: "IBM Plex Sans Var", sans-serif;
        font-size: 13px;
        font-style: normal;
    }

    .highcharts-controls-container {
        max-width: 400px;
        display: table;
        margin: 0 auto;
        table-layout: fixed;
        width: 100%;
    }

    .highcharts-controls-control {
        display: table-row;
    }

    .highcharts-controls-key,
    .highcharts-controls-value {
        display: table-cell;
        line-height: 2em;
        padding: 0.3em 0;
    }

    .control-section td:first-child,
    .highcharts-controls-key {
        text-align: left;
        padding-right: 0.5em;
    }

    .highcharts-controls-value {
        text-align: right;
        padding-left: 0.5em;
    }

    .highcharts-controls-value-inner {
        border: 1px solid light-dark(#dddddd, #555555);
        border-radius: 7px;
        background: light-dark(#f8f9fa, #212529);
        font-weight: 600;
        min-height: 2.2em;
        display: inline-block;
        text-align: center;
    }

    .highcharts-controls-value-inner:has(.hc-toggle) {
        border: none;
        background: none;
    }

    .button-control .highcharts-controls-value-inner {
        border: none;
        background: none;
        text-align: right;
    }

    .control-section tr:not(:last-child) td {
        border-bottom: 1px solid light-dark(#aaaaaa88, #66666688);
    }

    .control-section label:not(.hc-toggle, .opacity-label) {
        font-family: "Courier New", Courier, monospace;
        text-align: right;
    }

    .preview-section {
        margin-top: 2rem;
        max-height: 600px;
        overflow: auto;
        opacity: 1;
        transition:
            max-height 250ms ease-in-out,
            margin-top 250ms ease-in-out,
            opacity 250ms ease-in-out;
    }

    .preview-section.hidden {
        max-height: 0;
        margin-top: 0;
        opacity: 0;
    }

    .preview-section h3 {
        margin: 0 0 1rem;
        color: light-dark(#495057, #adb5bd);
        font-size: 1.1rem;
    }

    .options-preview {
        background: light-dark(#ffffff, #1a1d20);
        border: 1px solid light-dark(#dee2e6, #495057);
        border-radius: 7px;
        padding: 1rem;
        margin: 0;
        font-family: "Courier New", Courier, monospace;
        font-size: 0.85rem;
        line-height: 1.4;
        color: light-dark(#495057, #adb5bd);
        overflow-x: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    /* Toggle (checkbox) styles */
    .hc-toggle {
        position: relative;
        display: inline-block;
        width: 46px;
        height: 26px;
        vertical-align: middle;
        margin-left: 10px;
    }

    .hc-toggle input {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
    }

    .hc-toggle-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: light-dark(#cfcfcf, #555555);
        border-radius: 9999px;
        transition: background 200ms, box-shadow 200ms;
    }

    .hc-toggle-slider::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        left: 3px;
        top: 3px;
        background: light-dark(#ffffff, #e9ecef);
        border-radius: 50%;
        box-shadow: 0 1px 3px light-dark(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5));
        transition: transform 200ms;
    }

    .hc-toggle input:checked + .hc-toggle-slider {
        background: light-dark(#141414, #ffffff);
    }

    .hc-toggle input:checked + .hc-toggle-slider::before {
        transform: translateX(20px);
    }

    .hc-toggle input:focus + .hc-toggle-slider {
        box-shadow: 0 0 0 3px light-dark(rgba(76, 175, 80, 0.35), rgba(76, 175, 80, 0.5));
    }

    .hc-color-value {
        display: inline-block;
        min-width: 6ch;
        margin: 0 10px;
        text-transform: uppercase;
    }

    /* Button styles */
    .highcharts-controls-button {
        background: light-dark(#ffffff, #141414);
        border: 1px solid light-dark(#cccccc, #555555);
        border-radius: 7px;
        color: light-dark(#444444, #dddddd);
        cursor: pointer;
        display: inline-block;
        font-size: 0.8rem;
        padding: 0.3rem 1.5rem;
        margin: 0.1rem 0 0.5rem 10px;
        transition: background 250ms;
    }

    .highcharts-controls-button:hover {
        background: light-dark(#e1e3ff, #3f4699);
    }

    .highcharts-controls-button.active {
        background: light-dark(#e1e3ff, #3f4699);
    }

    .button-group {
        white-space: nowrap;
        border: none;
        background: none;
    }

    .button-group .highcharts-controls-button {
        border-radius: 0;
        height: 2.5em;
        margin: 0 0 0 -1px;
        padding: 0.3em 1.2em;
    }

    .button-group .highcharts-controls-button:first-child {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    .button-group .highcharts-controls-button:last-child {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .show-preview-button {
        margin-top: 1.5em;
    }

    /* Color input styles */
    .hc-row label.opacity-label {
        display: inline;
        font-family: inherit;
    }

    .hc-row .value {
        opacity: 0.5;
    }

    input {
        font-weight: 600;
    }

    input[type="color"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        width: 2em;
        height: 2.2em;
        border: none;
        cursor: pointer;
        vertical-align: middle;
        padding: 0;
        margin-left: 10px;
    }

    input[type="color"]::-webkit-color-swatch {
        border-radius: 50%;
        border-width: 2px;
    }

    input[type="color"]::-moz-color-swatch {
        border-radius: 50%;
        border-width: 2px;
    }

    input.opacity-input {
        text-align: right;
        background: none;
        width: 3ch;
        height: 2em;
        border-radius: 0;
        border-color: light-dark(#dddddd, #555555);
        border-style: solid;
        border-width: 0 0 0 1px;
        padding-left: 8px;
    }

    .opacity-input-label {
        opacity: 0.5;
        margin-right: 0.5em;
    }

    /* Range (number) styles */
    .hc-range-value {
        display: inline-block;
        min-width: 3ch;
        text-align: left;
    }

    input[id^="range-input-"] {
        vertical-align: middle;
        width: calc(100% - 60px);
        accent-color: light-dark(#141414, #ffffff);
    }
}
