body,
#demo-content {
    margin: 0;
    font-size: 16px;
    font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif !important;
}

#container {
    max-width: 600px;
    max-height: 600px;
}

.highcharts-series-12 .highcharts-point {
    transform: translateY(-1000px);
    transition: all 5s;
}

.highcharts-series-13 .highcharts-point {
    transform: translateY(-2000px);
    transition: all 7s;
}

.highcharts-areasplinerange-series,
.highcharts-series-18 {
    opacity: 0;
    transition: opacity 1s;
}

.highcharts-series-19 {
    opacity: 0;
    transition: opacity 2s;
}

.highcharts-title {
    font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif !important;
    opacity: 0;
    transition: opacity 2s;
    color: #033427;
}

.highcharts-subtitle {
    font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif !important;
    font-weight: 200;
    opacity: 0;
    transition: opacity 2s;
    color: #065f46;
}

#title {
    position: absolute;
    top: -50px;
    left: -130px;
    font-size: 1.4em;
}

#title span {
    color: #dc2626;
}

#subtitle {
    text-align: center;
    font-size: 1.2em;
}

#subtitle img {
    width: 80%;
}

@media screen  and (min-width: 400px) {
    #title {
        top: -40px;
        left: -170px;
        font-size: 1.8em;
    }

    #subtitle {
        font-size: 1.4em;
    }
}

@media screen  and (min-width: 500px) {
    #title {
        top: -40px;
        left: -200px;
        font-size: 2.2em;
    }

    #subtitle {
        font-size: 1.8em;
    }
}

@media screen  and (min-width: 600px) {
    #title {
        top: -40px;
        left: -260px;
        font-size: 2.8em;
    }

    #subtitle {
        font-size: 1.6em;
    }
}
