@import url("https://code.highcharts.com/css/highcharts.css");

#outer {
    max-width: 800px;
    min-width: 320px;
    margin: 0 auto;
}

#container {
    height: 400px;
}

.apples {
    fill: darkgreen;
    stroke: darkgreen;
}

.oranges {
    fill: yellow;
    stroke: yellow;
}

.apples .highcharts-point {
    fill: lightgreen;
    stroke: lightgreen;
}

.oranges .highcharts-point {
    fill: orange;
    stroke: orange;
}

.oranges .blood-orange {
    fill: red;
    stroke: red;
}

.highcharts-tooltip .apples {
    fill: lightgreen;
    stroke: lightgreen;
}

.highcharts-tooltip .oranges {
    fill: orange;
    stroke: orange;
}

.highcharts-tooltip .blood-orange {
    fill: red;
    stroke: red;
}

.highcharts-demo-button {
    background: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
    transition: background 250ms;
}

.highcharts-demo-button:hover {
    background: #e6e6e6;
}
