* {
    font-family: Helvetica, Arial, sans-serif;
}

.container-outer {
    min-width: 300px;
    max-width: 800px;
    margin: 0 auto;
}

#outputs {
    display: none;
}

#container,
#container-output {
    height: 300px;
    margin: 1em auto;
}

pre {
    background: #f8f8f8;
    padding: 1em;
    color: green;
}

.highcharts-demo-button {
    background: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
    transition: background 250ms;
}

.highcharts-demo-button:hover {
    background: #e6e6e6;
}
