@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");
@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

/* Application specific colors */
:root {
    --track-color: red;
    --speed-color: red;
    --heartrate-color: blue;
}

/* Map component */
#activity-map {
    flex: 1 1 70%;
}

#activity-map .highcharts-color-1 {
    /* Track */
    fill: var(--track-color);
    stroke: var(--track-color);
}

#activity-map .highcharts-point {
    /* Track */
    fill-opacity: 0.2;
    stroke-width: 0.0007px;
}

/* Datagrid component */
#activity-datagrid {
    flex: 1 1 30%;
}

/* Chart component */
#activity-chart .highcharts-color-0 {
    /* Elevation */
    fill: #cdc9c9;
    stroke: #cdc9c9;
}

#activity-chart .highcharts-color-1 {
    /* Speed */
    fill: var(--speed-color);
    stroke: var(--speed-color);
}

#activity-chart .highcharts-color-2 {
    /* Heart rate */
    fill: var(--heartrate-color);
    stroke: var(--heartrate-color);
}

/* Demo description */
p.highcharts-description {
    margin: 0;
    padding: 15px;
    text-align: justify;
}
