@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");
@import url("https://code.highcharts.com/datagrid/css/datagrid.css");

/* Chart component */
#dashboard-col-3 .highcharts-color-0 {
    fill: rgb(205, 201, 201);
    stroke: rgb(205, 201, 201);
}

#dashboard-col-3 .highcharts-color-2 {
    fill: blue;
    stroke: blue;
}

#dashboard-col-3 .highcharts-color-1 {
    fill: red;
    stroke: red;
}

#dashboard-col-1 .highcharts-point {
    fill-opacity: 0.2;
}

#dashboard-col-1 {
    flex: 1 1 70%;
}

#dashboard-col-2 {
    flex: 1 1 30%;
}

/* Demo description */
p.demo-description {
    margin: 0;
    padding: 15px;
    text-align: justify;
}

/* Customized default colors */
.highcharts-color-1 {
    fill: red;
    stroke: red;
}

/* Customized series-specific */
.highcharts-area {
    fill-opacity: 0.3;
    stroke-width: 0;
}

.highcharts-point {
    stroke-width: 0.0006px;
}
