@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");
@import url("https://code.highcharts.com/datagrid/css/datagrid.css");

/* Map component */
#activity-map .highcharts-point {
    fill-opacity: 0.2;
}

#activity-map {
    flex: 1 1 70%;
}

/* Datagrid component */
#activity-datagrid {
    flex: 1 1 30%;
}

/* Chart component */
#activity-chart .highcharts-color-0 {
    /* Elevation */
    fill: rgb(205, 201, 201);
    stroke: rgb(205, 201, 201);
}

#activity-chart .highcharts-color-2 {
    /* Speed */
    fill: blue;
    stroke: blue;
}

#activity-chart .highcharts-color-1 {
    /* Hear rate */
    fill: red;
    stroke: red;
}

/* Demo description */
p.demo-description {
    margin: 0;
    padding: 15px;
    text-align: justify;
}

/* Custom default colors */
.highcharts-color-1 {
    fill: red;
    stroke: red;
}

/* Custom series-specific */
.highcharts-area {
    fill-opacity: 0.3;
    stroke-width: 0;
}

.highcharts-point {
    stroke-width: 0.0006px;
}
