@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-lite/css/grid.css");

#container {
    height: 408px;
    padding: 8px;
    background-color: var(--hcg-background);
}

.highcharts-description {
    padding: 0 20px;
}
