@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-lite/css/grid-lite.css");

.demo-wrap {
    max-width: 1100px;
    margin: 0 auto;
}

.grid-container {
    height: 500px;
}

.hint {
    margin-top: 8px;
    color: #666;
    font-size: 0.9em;
}
