# For testing purposes, redirect .js to higcharts.js.php
RewriteEngine On

# Stock directory
RewriteRule ^stock/(.*?) /$1

# Maps directory
RewriteRule ^maps/(.*?) /$1

# Github branches
RewriteRule ^master/(.*?) /$1

# Rewrite all file ending with .js to end with .src.js
RewriteCond %{REQUEST_URI} !^.*\.src\.js
RewriteRule (.*?).js $1.src.js

# Map data
# ErrorDocument 404 /error.js
