# For testing purposes, redirect .js to .src.js
RewriteEngine On

# Stock directory
RewriteRule ^stock/(.*?) /$1

# Maps directory
RewriteRule ^maps/(.*?) /$1

# Github branches
RewriteRule ^master/(.*?) /$1

# Rewrite all file ending with .js to end with .src.js
RewriteCond %{REQUEST_URI} !^.*\.src\.js
# Do not rewrite files in the folder es-modules
RewriteCond %{REQUEST_URI} !es-modules/.*
RewriteRule (.*?)\.js $1.src.js

# Map data
# ErrorDocument 404 /error.js

# Allow CORS to use ES modules
Header set Access-Control-Allow-Origin "*"
