@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");
@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

/* Dashboards */

.highcharts-gauge-chart .highcharts-grid-line {
    stroke-width: 0;
}

.highcharts-gauge-chart .highcharts-title {
    font-size: 0.8rem;
}

.highcharts-data-label-box {
    display: none;
}

.highcharts-gauge-series .highcharts-pivot,
.highcharts-gauge-series .highcharts-dial {
    fill: var(--highcharts-neutral-color-60);
    stroke: var(--highcharts-neutral-color-60);
}

.highcharts-plot-band {
    fill-opacity: 1;
}

.highcharts-plot-band.null-band {
    fill: var(--highcharts-neutral-color-20);
}

.highcharts-plot-band.band-0 {
    fill: #78b4cc;
}

.highcharts-plot-band.band-1 {
    fill: #4d89b8;
}

.highcharts-plot-band.band-2 {
    fill: #31669e;
}

.highcharts-plot-band.band-3 {
    fill: #4651b0;
}

.highcharts-plot-band.band-4 {
    fill: #3d35a6;
}

.highcharts-plot-band.band-5 {
    fill: #3e1ba8;
}

.highcharts-gauge-chart .highcharts-data-label {
    font-size: 2em;
}

.wallet .highcharts-point {
    fill: none;
    stroke: none;
}
