@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

#demo {
    padding: 8px;
}

#custom-options {
    margin-top: 5px;
}

@media (prefers-color-scheme: dark) {
    #demo {
        background-color: #292929;
        color: #fff;
    }
}
