@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

#demo {
    background-color: var(--highcharts-background-color);
    color: var(--highcharts-neutral-color-100);
    padding: 8px;
}

#container {
    height: 250px;
}

#custom-options {
    margin-top: 5px;
}
