@import 'https://code.highcharts.com/css/highcharts.css';

#container {
	height: 400px;
	min-width: 300px;
	max-width: 800px;
	margin: 0 auto;
}

.highcharts-column-series .highcharts-point {
	stroke: black;
}