@import 'https://code.highcharts.com/css/highcharts.css';

#container {
    min-width: 300px;
    max-width: 800px;
    height: 300px;
    margin: 1em auto;
}

.highcharts-xrange-series .highcharts-point {
	stroke-width: 1px;
	stroke: gray;
}
.highcharts-partfill-overlay {
	fill: black;
	fill-opacity: 0.3;
}
.highcharts-data-label text {
	fill: white;
	text-shadow: 1px 1px black, -1px 1px black, -1px -1px black, 1px -1px black;
}
