* {
    font-family: Helvetica, Arial, sans-serif;
}

#outer-container {
    margin-right: 95px;
    margin-top: 170px;
    margin-bottom: 80px;
}

#scaling-container {
    transform: scale(0.6, 1.2);
}

#container {
    height: 400px;
    max-width: 700px;
}
