@import url("https://cdn.jsdelivr.net/npm/@highcharts/dashboards/css/datagrid.css");

#container {
    background-color: var(--hcg-background);
    padding: 8px;
}

.highcharts-datagrid-column {
    width: 15%;
}

.custom-column-class-name {
    color: #f00;
    width: 40%;
}

.greater-than-100 {
    text-decoration: underline;
    color: #0f0;
}

.header-cell-custom-class-price {
    color: #f0f;
}
