* {
    font-family: Helvetica, Arial, sans-serif;
}

#container {
    height: 400px;
    min-width: 310px;
}

.highcharts-popup-annotations {
    display: none;
    position: absolute;
    left: calc(50% - 50px);
    width: 100px;
    background-color: white;
    border: 2px grey solid;
    padding: 10px;
    top: 150px;
}

.button {
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    background-color: #4caf50;
    color: white;
    border: 2px solid #4caf50;
}

.button:hover,
button.active {
    background-color: white;
    color: black;
}
