* {
    font-family: Helvetica, Arial, sans-serif;
}

figure {
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    float: left;
}

.highcharts-description {
    margin: 10px;
}

@media (min-width: 768px) {
    .container {
        width: 50%;
        height: 400px;
        margin-bottom: 15px;
        float: left;
    }
}
