* {
    font-family: Helvetica, Arial, sans-serif;
}

#outer {
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}

#outer-container {
    height: 500px;
    overflow: hidden;
}

#container {
    height: 500px;
    transition: margin-top 500ms;
}

#code-container {
    height: 500px;
    overflow: auto;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.form {
    border: 1px solid silver;
    padding: 0 1em;
    margin: 10px;
}

pre {
    border: 1px solid green;
    border-radius: 5px;
    padding: 1em;
    color: green;
}

#close {
    float: right;
}

.button-row {
    margin: 0 -10px;
}

.highcharts-demo-button {
    background: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
    transition: background 250ms;
}

.highcharts-demo-button:hover {
    background: #e6e6e6;
}
