.highcharts-container {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.highcharts-title {
    fill: #333333;
    font-size: 18px;
}
.highcharts-subtitle {
    fill: #555555;
    font-size: 18px;
}
.highcharts-graph {
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.highcharts-state-hover .highcharts-graph {
	stroke-width: 3;
}
.highcharts-state-hover path {
    transition: stroke-width 50; /* quick in */
}
.highcharts-state-normal path {
	transition: stroke-width 250ms; /* slow out */
}
.highcharts-area {
    fill-opacity: 0.75;
}
.highcharts-markers path, .highcharts-marker {
    stroke-width: 1;
    stroke: #ffffff;
}


/* Default colors */
.highcharts-series-0 .highcharts-graph {
    stroke: #7cb5ec;
}
.highcharts-series-0 .highcharts-area, 
.highcharts-markers.highcharts-series-0 path,
.highcharts-legend .highcharts-series-0 path,
.highcharts-legend .highcharts-series-0 rect {
    fill: #7cb5ec;
}
.highcharts-series-1 .highcharts-graph {
    stroke: #434348;
}
.highcharts-series-1 .highcharts-area,
.highcharts-markers.highcharts-series-1 path,
.highcharts-legend .highcharts-series-1 path,
.highcharts-legend .highcharts-series-1 rect {
    fill: #434348;
}

/* Legend */
.highcharts-legend-item text {
    fill: #333333;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.highcharts-legend-item:hover text {
    fill: #000;
}
.highcharts-legend-item-hidden * {
    fill: #CCC !important;
    stroke: #CCC !imporant;
    transition: fill 250ms;
}

