@import url("https://code.highcharts.com/datagrid/css/datagrid2.css");

#container {
    height: 250px;
    margin: 8px;
}

.highcharts-dg-column {
    width: 15%;
}

.highcharts-dg-column[data-column-id="weight"] {
    width: 40%;
}
