/* tooltip formatting for finance animation */
#tooltipGrid {
    padding: 5px;
    display: grid;
    grid-template-columns: 120px;
    grid-column-gap: 3px;
    grid-row-gap: 8px;
    height: 100px;
    align-items: start;
    background-color: transparent;
}

#tooltipGrid .date {
    white-space: normal;
    grid-column: 1 / span 1;
    color: #333;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
}

#tooltipGrid .date img {
    opacity: 50%;
    margin-right: 4px;
    width: 20px;
}

#tooltipGrid .infoGrid {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-column: 1 / span 1;
}

#tooltipGrid .infoGrid .label {
    text-transform: uppercase;
    font-size: 11px;
    color: #666;
    font-weight: 400;
    padding-bottom: 4px;
    padding-top: 2px;
    border-bottom: 1px dotted #856eff;
}

#tooltipGrid .infoGrid .data {
    grid-column: 2 / span 1;
    font-size: 11px;
    padding-bottom: 4px;
    padding-top: 2px;
    font-weight: 700;
    border-bottom: 1px dotted #856eff;
}
