.highcharts-figure {
    min-width: 320px;
    max-width: 500px;
    margin: 1em auto;
}

.highcharts-figure {
    padding: 0;
}

#container {
    height: 400px;
}

.highcharts-description {
    margin: 0.3rem 10px;
}
