
/* Temporary, fixed in v7.0.1 */
.highcharts-popup {
	background-color: #fff;
	color: #666;
	display: none;
	font-size: 0.876em;
	max-height: 90%;
	top: 5% !important;
	left: 15% !important;
	width: 75% !important;
	min-width: 300px;
	max-width: 600px;
	position: absolute;
	z-index: 100;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(61,61,61,0.3);
	-moz-box-shadow: 0px 0px 8px 0px rgba(61,61,61,0.3);
	box-shadow: 0px 0px 8px 0px rgba(61,61,61,0.3);
}

.highcharts-popup.highcharts-annotation-toolbar {
	left: auto !important;
	width: auto !important;
	min-width: 0 !important;
}

.highcharts-popup div, .highcharts-popup span {
	box-sizing: content-box;
}

.highcharts-popup button:first-child {
	margin-left: 0;
}
.highcharts-popup-rhs-col-wrapper {
	overflow-y: auto !important;
}
/* end temporary */

#container {
	max-height: 800px;
	height: 75vh;
}