@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-pro/css/grid-pro.css");

body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
    background: var(--highcharts-background-color);
    color: var(--highcharts-neutral-color-100);
}

#container {
    max-width: 800px;
    margin: auto;
}

.highcharts-figure {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-description {
    background: light-dark(#f2f6f2, #323232);
    border-radius: 0 4px 4px 0;
    border-left: 2px solid light-dark(#1d6aff, #fff);
    font-size: 0.8rem;
    font-style: italic;
    padding: 8px 16px;
    margin: 2em 10px 1em;
}

.highcharts-demo-button {
    background: var(--highcharts-neutral-color-5, #f2f2f2);
    border: none;
    border-radius: 4px;
    color: var(--highcharts-neutral-color-100, #000);
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
    transition: background 250ms;
}

.highcharts-demo-button:hover {
    background: var(--highcharts-neutral-color-10, #e6e6e6);
}

#grid-container .hcg-table tbody .hcg-cell {
    cursor: pointer;
}

.active-row {
    background: rgba(30, 136, 229, 0.12) !important;
}

/* Grid focus workaround, making the focus mark the entire row */
.hcg-table tbody .hcg-cell:focus {
    box-shadow: none;
}

.hcg-table tbody .hcg-row:has(.hcg-cell:focus) .hcg-cell {
    --focus-w: var(--ig-focus-ring-width, 2px);
    --focus-c: var(--ig-focus-ring-color, #626bd0);

    box-shadow:
        inset 0 var(--focus-w) 0 var(--focus-c),
        inset 0 calc(var(--focus-w) * -1) 0 var(--focus-c);
}

/* Close the ring at the two ends of the row */
.hcg-table tbody .hcg-row:has(.hcg-cell:focus) .hcg-cell:first-child {
    box-shadow:
        inset 0 var(--focus-w) 0 var(--focus-c),
        inset 0 calc(var(--focus-w) * -1) 0 var(--focus-c),
        inset var(--focus-w) 0 0 var(--focus-c);
}

.hcg-table tbody .hcg-row:has(.hcg-cell:focus) .hcg-cell:last-child {
    box-shadow:
        inset 0 var(--focus-w) 0 var(--focus-c),
        inset 0 calc(var(--focus-w) * -1) 0 var(--focus-c),
        inset calc(var(--focus-w) * -1) 0 0 var(--focus-c);
}
