* {
    font-family: Helvetica, Arial, sans-serif;
}

#container {
    min-width: 320px;
    max-width: 800px;
    margin: 0 auto;
}

select {
    margin-left: 10px;
}

.g1 {
    stroke-dasharray: 12;
    stroke-dashoffset: 100;
    animation: dash 8s linear infinite;
}

.g2 {
    stroke-dasharray: 11;
    stroke-dashoffset: 100;
    animation: dash 5s linear infinite;
}

.g3 {
    stroke-dasharray: 10;
    stroke-dashoffset: 100;
    animation: dash 3.5s linear infinite;
}

.g4 {
    stroke-dasharray: 9;
    stroke-dashoffset: 100;
    animation: dash 2s linear infinite;
}

.g5 {
    stroke-dasharray: 8;
    stroke-dashoffset: 100;
    animation: dash 1s linear infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 100;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.highcharts-demo-button {
    background: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
    transition: background 250ms;
}

.highcharts-demo-button:hover {
    background: #e6e6e6;
}
