* {
    font-family: Helvetica, Arial, sans-serif;
}

.highcharts-figure {
    min-width: 320px;
    max-width: 1200px;
    margin: 1em auto;
    position: relative;
}

#container {
    height: 650px;
    flex-grow: 1;
}

#csv {
    display: none;
}

.hc-crosshair {
    transition: all 0.18s linear;
}

.hc-axis-title {
    display: flex;
    width: 130px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.hc-axis-icon {
    width: 22px;
    margin-right: 10px;
}

.hc-axis-title input:not(:checked) + .hc-axis-icon {
    opacity: 0.3;
}

.hc-axis-title-text {
    font-size: 0.9rem;
    flex-grow: 1;
}

.hc-axis-title:hover {
    border-bottom: 1px solid #555;
    color: #111;
}

.hc-axis-title input {
    height: 16px;
    width: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.hc-axis-title input:checked {
    appearance: none;
}

.hc-axis-title input:checked::before {
    content: "\2713";
    font-size: 0.875rem;
    color: #409040;
    text-shadow: 1px 1px 2px rgba(80, 80, 100, 0.4);
    display: block;
    text-align: center;
}

#play {
    display: block;
    position: absolute;
    top: 25px;
    right: 10px;
    z-index: 10;
    width: 10rem;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    background: #c1372d;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 450px) {
    #play {
        position: static;
        margin-bottom: 10px;
    }
}

#play .icon {
    margin-right: 3px;
}

#play:hover {
    background: #d1372c;
}

#play:active {
    background: #b5362d;
}
