@import url("https://code.highcharts.com/grid/css/grid.css");

#demo {
    background-color: var(--highcharts-background-color);
    color: var(--highcharts-neutral-color-100);
    padding: 8px;
}

#container {
    margin-bottom: 15px;
    height: 400px;
    width: 100%;
}

.highcharts-datagrid-row[data-row-index="998"] td {
    height: 150px;
}

.highcharts-datagrid-column {
    width: 15%;
}

.highcharts-datagrid-column[data-column-id="b"] {
    width: 30%;
}

.highcharts-datagrid-column[data-column-id="c"] {
    width: 10%;
}

.custom-caption-class {
    text-decoration: underline;
}
