@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-pro/css/grid-pro.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

#csv {
    display: none;
}

.p-12 {
    padding: 12px;
}

#output {
    width: 600px;
    height: 300px;
}

@media screen and (max-width: 576px) {
    .highcharts-dashboards-cell {
        flex: 1 1 100%;
    }
}
