@import url("https://code.highcharts.com/dashboards/css/datagrid.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

#csv {
    display: none;
}

.p-12 {
    padding: 12px;
}

#output {
    width: 600px;
    height: 300px;
}
