@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/datagrid/css/datagrid.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

/* *
 *
 *  Colors
 *
 * */

#election-chart {
    --color-axis-labels: #333;
    --color-tooltip-background: #ccd;
    --color-tooltip-text: #333;
}

#selection-grid {
    --color-background: #fff;
    --color-hover-background: #5352be;
    --color-hover-border: #e7e7ec;
    --color-hover-text: #e7e7ec;
}

#container.highcharts-dark #selection-grid {
    --color-background: #20202c;
}

#container.highcharts-dark {
    --color-axis-labels: #e7e7ec;
    --color-background: #0d0d0d;
    --color-grid: #838394;
    --color-handle: #838394;
    --color-mask: #dddbef66;
    --color-mask-line: #838394;
    --color-scroll: #20202c;
    --color-scroll-line: #646479;
    --color-series: #5352be;
    --color-thumb: #5352be;
    --color-thumb-line: #838394;
}

#us-map {
    --color-background: #7fc0e6;
    --color-map: #333;
    --color-marker-border: #fff;
    --color-title-text: #000;
    --color-marker-border-active: #336;
    --color-marker-border-hover: #084ee3;
    --color-marker-text: #fff;
    --color-marker-text-border: #000;
    --color-navigation: #f7f7f7;
    --color-navigation-line: #838393;
    --color-navigation-text: #20202b;
    --color-text: #000;
    --color-text-border: #fff;
    --color-tooltip-background: #fff;
    --color-tooltip-text: #336;
}

#container.highcharts-dark #us-map {
    --color-navigation: #20202b;
    --color-navigation-line: #646478;
    --color-navigation-text: #838393;
}

@media (prefers-color-scheme: dark) {
    /* dark mode */
    #election-chart {
        --color-axis-labels: #ccf;
        --color-tooltip-background: #336;
        --color-tooltip-text: #ccc;
    }

    #selection-grid {
        --color-background: #20202c;
    }

    #us-map {
        --color-navigation: #20202b;
        --color-navigation-line: #646478;
        --color-navigation-text: #838393;
    }

    div#description {
        background: #20202c;
        color: #dadae2;
    }

    div#description a {
        color: #fff;
    }
}

/* *
 *
 *  Election chart (history)
 *
 * */
#election-chart .highcharts-dashboards-component-title {
    fill: var(--color-title);
    font-size: 1.2em;
    text-align: center;
}

#election-chart .highcharts-dashboards-component-content {
    background: var(--color-background);
}

#election-chart .highcharts-title {
    fill: var(--color-title);
    font-size: 1em;
}

#election-chart .highcharts-axis {
    fill: var(--color-axis);
}

#election-chart .highcharts-axis-line,
#election-chart .highcharts-tick {
    stroke: var(--color-axis);
}

#election-chart .highcharts-axis-labels,
#election-chart .highcharts-axis-title {
    fill: var(--color-axis-labels);
}

#election-chart .highcharts-tooltip {
    fill: none;
    filter: none;
    stroke: none;
}

#election-chart .highcharts-data-label text {
    fill: white;
}

#election-chart .highcharts-tooltip text {
    fill: var(--color-tooltip-text);
}

#election-chart .highcharts-tooltip-box {
    fill: var(--color-tooltip-background);
    fill-opacity: 1;
    stroke: none;
}

.highcharts-legend-item > text {
    fill: #333;
}

/* *
 *
 *  Selection Grid
 *
 * */

#selection-grid .highcharts-dashboards-component {
    background-color: var(--color-background);
}

#selection-grid .highcharts-dashboards-component-title {
    fill: var(--color-title);
    font-size: 1.2em;
    text-align: center;
}

#selection-grid .highcharts-datagrid-column-header {
    font-size: 12px;
}

#selection-grid .highcharts-datagrid-row.hovered {
    background-color: var(--color-hover-background);
    border-color: var(--color-hover-border);
    color: var(--color-hover-text);
}

/* *
 *
 *  US Map
 *
 * */

#us-map .highcharts-dashboards-component-content {
    background: var(--color-background);
}

#us-map .highcharts-background {
    fill: var(--color-background);
}

#us-map text.highcharts-credits {
    fill: var(--color-map);
}

#us-map text.highcharts-credits a {
    fill: var(--color-map);
}

#us-map .highcharts-halo {
    display: none;
}

#us-map .highcharts-map-navigation {
    fill: var(--highcharts-neutral-color-5);
    font-size: 20px;
    stroke: var(--highcharts-neutral-color-20);
}

#us-map .highcharts-map-navigation text {
    fill: var(--color-navigation-text);
}

#us-map .highcharts-series-0 .highcharts-point {
    fill: var(--color-map);
    stroke: var(--color-background);
}

#us-map .highcharts-series-0.highcharts-series-inactive {
    opacity: 0.6;
}

#us-map .highcharts-tooltip {
    fill: none;
    filter: none;
    stroke: none;
}

#us-map div.highcharts-tooltip {
    color: var(--color-tooltip-text);
}

#us-map text.highcharts-title {
    fill: var(--color-title-text);
}

#us-map .highcharts-tooltip-box {
    fill: var(--color-tooltip-background);
    fill-opacity: 1;
    stroke: none;
}

#us-map .highcharts-zoom-in text {
    transform: translate(1px, -1px);
}

#us-map .highcharts-zoom-out text {
    transform: translate(2px, -1px);
}

/* Safari fix for manual dark mode */
/* stylelint-disable-next-line max-line-length */
.highcharts-dark #us-map .highcharts-series-1 .highcharts-data-label text {
    paint-order: stroke;
    stroke-width: 2px;
}

/* Common */

.highcharts-dashboards-component {
    border-radius: 10px;
}

/* Dashboard layout */

#html-result,
#html-control,
#us-map,
#election-chart,
#demo-description {
    --highcharts-color-0: #0200d0; /* Democrats */
    --highcharts-color-1: #c40401; /* Republicans */
    --highcharts-color-2: #ccc; /* Others */
}

#html-result,
#us-map {
    flex: 1 1 65%;
    max-width: 1000px;
}

#html-control,
#election-chart {
    flex: 1 1 35%;
}

#selection-grid {
    flex: 1 1 100%;
}

/* LARGE */
@media (max-width: 1200px) {
    #html-result,
    #us-map {
        background-color: yellow;
    }

    #html-control,
    #election-chart {
        background-color: yellow;
    }

    #selection-grid {
        background-color: yellow;
    }
}

/* MEDIUM */
@media (max-width: 992px) {
    #html-result,
    #html-control {
        background-color: red;
        flex: 1 1 100%;
    }

    #us-map,
    #election-chart,
    #selection-grid {
        background-color: red;
        flex: 1 1 100%;
    }
}

/* SMALL */
@media (max-width: 576px) {
    #html-result,
    #html-control,
    #us-map,
    #election-chart,
    #selection-grid {
        background-color: blue;
        flex: 1 1 100%;
    }
}

/* *
 *
 *  HTML and chart for displaying election summary
 *
 * */

#html-result {
    text-align: center;
    max-height: 250px;
}

#html-result .highcharts-dashboards-component-title {
    fill: var(--color-title);
    font-size: 1em;
    text-align: center;
}

#html-result .highcharts-data-label text {
    fill: white;
}

#html-result img {
    /* Candidate portraits: original dimension 290 x 400 */
    max-width: 90%;
    max-height: 150px;
    width: auto;
    height: auto;
}

#html-result #progress-bar {
    flex: 1 1 40%;
}

#html-result #progress-bar .highcharts-axis-line {
    stroke-width: 0;
}

/* *
 *
 *  HTML application control
 *
 * */

#html-control {
    text-align: center;
    max-height: 250px;
}

#html-control .highcharts-dashboards-component-title {
    fill: var(--color-title);
    font-size: 1.2em;
    text-align: center;
}

#html-control #election-year {
    margin: 10px;
}

#html-control #election-description {
    border: 1px dotted #ccc;
    border-radius: 5px;
    text-align: left;
    font-size: 0.9em;
    padding: 5px;
    margin: 10px 20px 0;
}

/* *
 *
 *  Page-wide styles
 *
 * */

.democrat {
    color: var(--highcharts-color-0);
    font-weight: bold;
}

.republican {
    color: var(--highcharts-color-1);
    font-weight: bold;
}

/* Container for application meta data */
#xml-data-island {
    visibility: hidden;
}

/* *
 *
 *  Demo description
 *
 * */

#demo-description {
    padding: 15px;
}
