@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/datagrid/css/datagrid.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

/* *
 *
 *  Colors
 *
 * */
:root {
    --highcharts-color-0: #0200d0; /* Democrat */
    --highcharts-color-1: #c40401; /* Republican */
    --highcharts-color-2: #c0c0c0; /* Others */
    --color-background: var(--highcharts-neutral-color-3);
}

#election-map {
    --color-map: #333;
    --color-marker-border: #fff;
    --color-title-text: #000;
    --color-marker-border-active: #336;
    --color-marker-border-hover: #084ee3;
    --color-marker-text: #fff;
    --color-marker-text-border: #000;
    --color-navigation: #f7f7f7;
    --color-navigation-line: #838393;
    --color-navigation-text: #20202b;
    --color-text: #000;
    --color-text-border: #fff;
    --color-tooltip-background: #fff;
    --color-tooltip-text: #336;
}

#election-chart {
    --color-axis: #333;
    --color-axis-labels: #333;
    --color-title: #2f2b38;
    --color-text: #2f2b38;
    --color-tooltip-background: #5352be;
    --color-tooltip-text: #d9d8e8;
}

#election-grid {
    --color-hover-background: #5352be;
    --color-hover-border: #e7e7ec;
    --color-hover-text: #e7e7ec;
}

@media (prefers-color-scheme: dark) {
    /* dark mode */
    :root {
        --highcharts-color-0: rgb(74, 131, 240); /* Democrat */
        --highcharts-color-1: rgb(220, 71, 71); /* Republican */
    }

    #election-chart {
        --color-axis: #ccc;
        --color-axis-labels: #ccc;
        --color-title: #dadae2;
        --color-text: #dadae2;
    }
}

/* *
 *
 *  HTML layout
 *
 * */
#container {
    padding: 10px;
    background-color: var(--highcharts-neutral-color-10);
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    margin: 10px;
}

/* *
 *
 *  Common styles
 *
 * */
.highcharts-dashboards-component-title {
    margin: 0;
    padding: 10px 0;
    fill: var(--color-title);
    font-size: 1em;
    text-align: center;
}

.highcharts-dashboards-component-content {
    background: var(--color-background);
    border-radius: 3px;
}

/* *
 *
 *  HTML for displaying national election result
 *
 * */

#html-result-div {
    text-align: center;
    height: 160px;
}

/* Container custom HTML - 3 columns */
#html-result-container {
    text-align: center;
    display: flex;
    flex-direction: row;
}

/* Left: Democrat candidate */
#html-result-container #dem-cand {
    flex: 0 1 15%;
}

/* Middle: Election result */
#html-result-container #election-result {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

/* Right: Republican candidate */
#html-result #rep-cand {
    flex: 0 1 15%;
}

#html-result img {
    /* Candidate portraits: original dimension 290 x 400 */
    max-height: 150px;
    width: auto;
    padding: 5px;
}

#bar-container {
    height: 40px;
    margin: 5px;
}

#bar-dem {
    width: 50%;
    background-color: var(--highcharts-color-0);
    border-radius: 5px 0 0 5px;
}

#bar-line {
    position: absolute;
    left: 49.5%;
    width: 2px;
    background-color: #999;
    height: 40px;
    z-index: 10;
}

#bar-line span#arrow {
    position: absolute;
    top: -15px;
    left: -5px;
}

#bar-rep {
    width: 50%;
    background-color: var(--highcharts-color-1);
    border-radius: 0 5px 5px 0;
}

#html-result .info {
    display: flex;
    flex-direction: row;
}

#html-result .info div {
    flex-grow: 1;
}

#html-result .info:nth-of-type(1) {
    padding-top: 15px;
}

#html-result .info b {
    padding: 0 10px;
}

#info-to-win {
    padding: 10px 0 0 10px;
    margin: 0;
    text-align: center;
    font-size: 10px;
}

#info-dem1,
#info-rep1 {
    padding-bottom: 5px;
    font-size: 18px;
}

#info-dem1 b,
#info-rep1 b {
    font-size: 28px;
}

#info-dem2,
#info-rep2 {
    padding-top: 5px;
    font-size: 12px;
}

#info-dem1,
#info-dem2 {
    text-align: left;
    margin-left: 10px;
}

#info-dem1 {
    color: var(--highcharts-color-0);
}

#info-rep1,
#info-rep2 {
    text-align: right;
    margin-right: 10px;
}

#info-rep1 {
    color: var(--highcharts-color-1);
}

/* *
 *
 *  HTML application control
 *
 * */

#html-control-div {
    text-align: center;
    height: 160px;
}

#html-control-div #election-year {
    margin: 10px;
}

#html-control-div #election-description {
    border: 1px dotted #ccc;
    border-radius: 5px;
    text-align: left;
    font-size: 0.9em;
    padding: 5px;
    margin: 10px 20px 0;
}

/* *
 *
 *  US Map
 *
 * */

#election-map .highcharts-background {
    fill: var(--color-background);
}

#election-map text.highcharts-credits {
    fill: var(--color-map);
}

#election-map text.highcharts-credits a {
    fill: var(--color-map);
}

#election-map .highcharts-halo {
    display: none;
}

#election-map .highcharts-map-navigation {
    fill: var(--highcharts-neutral-color-5);
    font-size: 20px;
    stroke: var(--highcharts-neutral-color-20);
}

#election-map .highcharts-map-navigation text {
    fill: var(--color-navigation-text);
}

#election-map .highcharts-series-0 .highcharts-point {
    fill: var(--color-map);
    stroke: var(--color-background);
}

#election-map .highcharts-series-0.highcharts-series-inactive {
    opacity: 0.6;
}

#election-map text.highcharts-title {
    fill: var(--color-title-text);
}

#election-map .highcharts-zoom-in text {
    transform: translate(1px, -1px);
}

#election-map .highcharts-zoom-out text {
    transform: translate(2px, -1px);
}

#election-map .highcharts-tooltip {
    fill: none;
    filter: none;
    stroke: none;
}

#election-map .highcharts-tooltip-box {
    fill: #9eb8f9;
    fill-opacity: 1;
    stroke: none;
}

/* Custom map tooltip */

#election-map .map-tooltip caption {
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 5px;
}

#election-map .map-tooltip td,
#election-map .map-tooltip th {
    background-color: var(--color-tooltip-background);
    text-align: left;
    padding: 3px;
}

/* Electoral votes */
#election-map .map-tooltip td:nth-of-type(2) {
    text-align: center;
}

/* Winning candidate */
#election-map tr:nth-of-type(4) th {
    font-size: 12px;
    text-align: center;
}

/* *
 *
 *  Election chart (history)
 *
 * */

#election-chart .highcharts-title {
    fill: var(--color-title);
    letter-spacing: 1.5px;
    font-size: 1.2em;
}

#election-chart .highcharts-axis {
    fill: var(--color-axis);
}

#election-chart .highcharts-axis-line,
#election-chart .highcharts-tick {
    stroke: var(--color-axis);
}

#election-chart .highcharts-axis-labels,
#election-chart .highcharts-axis-title {
    fill: var(--color-axis-labels);
}

#election-chart .highcharts-tooltip {
    fill: none;
    filter: none;
    stroke: none;
}

/* Readable inside and outside column */
#election-chart .highcharts-data-label text {
    fill: #fff;
    stroke: #000;
    paint-order: stroke;
    stroke-width: 2px;
}

#election-chart .highcharts-tooltip text {
    fill: var(--color-tooltip-text);
}

#election-chart .highcharts-tooltip-box {
    fill: var(--color-tooltip-background);
    fill-opacity: 1;
    stroke: none;
}

.highcharts-legend-item > text {
    fill: var(--color-text);
}

/* *
 *
 *  Selection Grid
 *
 * */

#election-grid .highcharts-dashboards-component {
    background-color: var(--color-background);
}

#election-grid .highcharts-datagrid-column-header {
    font-size: 12px;
}

#election-grid .highcharts-datagrid-row.hovered {
    background-color: var(--color-hover-background);
    border-color: var(--color-hover-border);
    color: var(--color-hover-text);
}

/* Safari fix for manual dark mode */
/* stylelint-disable-next-line max-line-length */
.highcharts-dark #election-map .highcharts-series-1 .highcharts-data-label text {
    paint-order: stroke;
    stroke-width: 2px;
}

/* Dashboard layout */

/* DEFAULT */
#html-result,
#html-control,
#election-map,
#election-chart {
    flex: 1 1 50%;
}

#election-grid {
    flex: 1 1 100%;
}

/* MEDIUM and SMALL */
@media (max-width: 992px) {
    #html-result,
    #html-control,
    #election-map,
    #election-chart,
    #election-grid {
        flex: 1 1 100%;
    }
}

/* *
 *
 *  Page-wide styles
 *
 * */

.democrat {
    color: var(--highcharts-color-0);
    font-weight: bold;
}

.republican {
    color: var(--highcharts-color-1);
    font-weight: bold;
}

/* Container for application meta data */
#xml-data-island {
    visibility: hidden;
}

/* *
 *
 *  Demo description
 *
 * */

#demo-description {
    padding: 15px;
}
