parserOptions:
    source-type: module

env:
    browser: true

globals:
    QUnit: true
    TestController: true
    TestUtilities: true

rules:
    spaced-comment: 0
    node/no-extraneous-require: 0
