html {
    overflow: hidden;
}

body {
    margin: 0;
}

.chart-container .thick {
    stroke-width: 0;
    stroke: white;
    color: white;
    transition: all 2s;
}

.chart-container .thin {
    stroke-width: 0;
    stroke: white;
    color: white;
    transition: all 2s;
}

.chart-container .transparent {
    opacity: 0;
    stroke-width: 1;
    stroke: white;
    color: white;
    transition: all 2s;
}

.chart-container .highcharts-area,
.chart-container .highcharts-arearange {
    fill-opacity: 1;
    stroke: transparent;
}

.line {
    color: #fff;
    stroke: #fff;
    stroke-width: 0;
}

.chart-container .highcharts-container {
    position: relative;
    overflow: hidden;
    text-align: left;
    line-height: normal;
    z-index: 0;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1rem;
    user-select: none;
    touch-action: manipulation;
    outline: none;
    top: 0 !important;
}

.chart-container .highcharts-background {
    transition: all 1s;
}

.chart-container .highcharts-grid-line {
    fill: none;
    stroke: transparent;
    z-index: 40;
}

.chart-container .highcharts-xaxis-grid .highcharts-grid-line {
    stroke-width: 0;
}

.chart-container .highcharts-legend-series-active g.highcharts-series:not(.highcharts-series-hover),
.chart-container .highcharts-legend-point-active .highcharts-point:not(.highcharts-point-hover),
.chart-container .highcharts-legend-series-active .highcharts-markers:not(.highcharts-series-hover),
.chart-container .highcharts-legend-series-active .highcharts-data-labels:not(.highcharts-series-hover) {
    opacity: 1;
}

.chart-container .highcharts-series-inactive {
    opacity: 1;
    transition: opacity 50ms;
}

.chart-container .highcharts-tooltip-0 {
    filter: drop-shadow(5px 7px 13px rgb(0 0 0 / 14%)) !important;
    box-shadow: 5px 7px 13px 1px rgb(177 149 149 / 14%);
}

.chart-container .highcharts-tooltip-box {
    stroke-width: 0;
    border: none;
    stroke: transparent;
    fill: transparent;
    fill-opacity: 1;
}

.chart-container .highcharts-tooltip text {
    fill: #fff;
    color: #fff;
}

.chart-container .highcharts-tooltip {
    z-index: 100;
}

.chart-container .highcharts-graph {
    fill: unset;
    stroke-width: unset;
    stroke: unset;
    stroke-linecap: butt;
    stroke-linejoin: round;
}

.chart-container .highcharts-color-3 {
    fill: transparent;
    stroke: transparent;
}

#charts {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    max-width: 800px;
    border-radius: 4px;
    background-color: var(--highcharts-background-color);
    border: none;
}

/* #charts {
    width: 500px;
    height: 500px;
} */

#charts .highcharts-plot-background,
#charts .highcharts-background {
    fill: var(--highcharts-background-color);
    stroke: transparent;
}

#charts .berg-tip {
    width: 200px;
    color: #fff;
    white-space: normal;
    font-size: 0.9em;
    font-weight: 500;
}

#charts .berg-tip span {
    font-weight: 700;
}

#charts .particles {
    position: absolute;
    width: 300px;
    height: 300px;
    left: -178px;
    top: -108px;
    transition: all 3s;
    transform: scale(0.5);
}

#charts .particles.rotate {
    transform: scale(0.3) rotate(-90deg);
}

#charts .particles .particle {
    background-repeat: no-repeat;
    transition: all 3s;
    position: absolute;
    transform: rotate(90deg) scale(0.8);
}

#charts .particles .particle.rotate {
    background-repeat: no-repeat;
    transition: all 3s;
    position: absolute;
    transform: rotate(90deg) scale(1.5);
}

#charts .highcharts-grid-line {
    fill: none;
    stroke: rgb(255 255 255 / 0);
    z-index: 40;
}

#charts .highcharts-axis,
#charts .highcharts-grid {
    display: block;
}

#charts .highcharts-grid.fade-out {
    opacity: 0;
    transition: opacity 1500ms;
}

#charts .highcharts-xaxis-grid .highcharts-grid-line {
    stroke-width: 1px;
}

#charts .highcharts-data-labels.iceberg-types {
    color: var(--text-primary);
    transition: color 300ms;
}

#charts #particle-1 {
    background-image: url("https://www.highcharts.com/samples/graphics/homepage/p1.svg");
    top: -80px;
    left: 154px;
    width: 100px;
    height: 146px;
    position: absolute;
}

#charts #particle-1.iceberg {
    top: -124px;
    left: 90px;
    opacity: 80%;
    transform: rotate(200deg) scale(0.8);
}

#charts #particle-1.iceberg.clip {
    clip-path: polygon(51.05% 196.04%, -151.06% -7.45%, 4.6% -29.79%, 66% 88.18%);
}

#charts #particle-2 {
    background-image: url("https://www.highcharts.com/samples/graphics/homepage/p2.svg");
    width: 56px;
    height: 105px;
    top: 70px;
    left: 284px;
}

#charts #particle-2.iceberg.clip {
    clip-path: polygon(0% 82.17%, 0% 0%, 101.48% 0%, 98.3% 81.98%);
}

#charts #particle-3 {
    background-image: url("https://www.highcharts.com/samples/graphics/homepage/p3.svg");
    width: 60px;
    height: 86px;
    top: 154px;
    left: -20px;
}

#charts #particle-3.iceberg {
    top: 134px;
    left: 138px;
    transform: rotate(290deg);
    opacity: 80%;
}

#charts #particle-3.iceberg.clip {
    clip-path: polygon(-5% 107.55%, -24.99% 42.3%, 111.46% 2.82%, 83.31% 100.31%);
}

#charts #particle-4 {
    background-image: url("https://www.highcharts.com/samples/graphics/homepage/p4.svg");
    width: 67px;
    height: 48px;
    top: 268px;
    left: 80px;
}

#charts #particle-4.iceberg {
    top: 405px;
    left: 112px;
    transform: scale(1) rotate(90deg);
    filter: invert(1);
    opacity: 80%;
}

#charts #particle-4.iceberg.clip {
    clip-path: polygon(-7.13% 62.9%, -10.99% -52.48%, 86.14% -85.05%, 106.77% 70.54%);
}

#charts #particle-5 {
    background-image: url("https://www.highcharts.com/samples/graphics/homepage/p5.svg");
    width: 88px;
    height: 127px;
    top: 11px;
    left: 90px;
}

#charts #particle-5.iceberg {
    top: 15px;
    left: 90px;
    transform: scale(1) rotate(-40deg);
    opacity: 80%;
}

#charts #particle-5.iceberg.clip {
    clip-path: polygon(-20.13% 113.7%, 54.94% 54.87%, 114.92% 3.13%, 103.06% 144.34%);
    z-index: 10;
}

#charts #particle-6 {
    background-image: url("https://www.highcharts.com/samples/graphics/homepage/p6.svg");
    width: 113px;
    height: 114px;
    top: -60px;
    left: -40px;
}

#charts .highcharts-halo {
    fill-opacity: 0;
}

#charts .berg-depth {
    stroke: #201735;
    fill: #201735;
    opacity: 1;
    stroke-dasharray: 2px;
    transition: opacity 1s;
    stroke-width: 1px;
}

#charts .berg-depth:hover {
    cursor: hand;
}

#charts .berg-label {
    opacity: 0;
    transition: opacity 1s;
}

#charts .berg-depth-0.highcharts-series-hover,
#charts .berg-depth-2,
#charts .berg-depth-4.highcharts-series-hover,
#charts .berg-depth-6,
#charts .berg-depth-8.highcharts-series-hover,
#charts .berg-depth-10,
#charts .berg-depth-12.highcharts-series-hover,
#charts .berg-depth-14,
#charts .berg-depth-16.highcharts-series-hover,
#charts .berg-depth-18 {
    opacity: 1;
    stroke-dasharray: 0;
    stroke-width: 0;
    cursor: pointer;
}

#charts .berg-depth-0,
#charts .berg-depth-4,
#charts .berg-depth-8,
#charts .berg-depth-12,
#charts .berg-depth-16 {
    stroke-dasharray: 2;
    stroke-width: 1px;
    stroke: #fff;
}

#charts .berg-depth-0.highcharts-series-hover,
#charts .berg-depth-2 {
    fill: #8087e8;
    filter: none;
    cursor: pointer;
}

#charts .berg-depth-4.highcharts-series-hover,
#charts .berg-depth-6 {
    fill: #8bf2b6;
    filter: none;
    cursor: pointer;
}

#charts .berg-depth-8.highcharts-series-hover,
#charts .berg-depth-10 {
    fill: #6699a1;
    filter: none;
    cursor: pointer;
}

#charts .berg-depth-12.highcharts-series-hover,
#charts .berg-depth-14 {
    fill: #78748c;
    filter: none;
    cursor: pointer;
}

#charts .berg-depth-16.highcharts-series-hover,
#charts .berg-depth-18 {
    fill: #d6c7a5;
    cursor: pointer;
}

#charts .chart-container .highcharts-tooltip-box {
    stroke-width: 0;
    border: none;
    stroke: #ebebeb;
    fill: #f0f0f0;
    fill-opacity: 1;
}

#charts .highcharts-yaxis-labels {
    position: absolute;
    left: -10px !important;
    top: 0 !important;
}

#charts .highcharts-yaxis-labels span div {
    transition: opacity 2s;
}

#charts .highcharts-axis-title {
    fill: var(--text-primary);
    font-size: 0.5em;
    width: 100%;
    opacity: 1;
    text-transform: uppercase;

    /* transform: translateY(0); */
}

#charts .highcharts-title {
    font-size: 0.9em;
}

#charts .highcharts-subtitle {
    color: var(--highcharts-neutral-color-80);
    white-space: normal !important;
    font-size: 0.8em;
}

#charts .highcharts-subtitle .iceberg-subtitle {
    opacity: 1;
}

#charts .highcharts-subtitle .iceberg-subtitle.show {
    opacity: 1 !important;
}

#charts .label-title {
    font-size: 1em;
    color: var(--highcharts-neutral-color-80);
    margin: 0;
}

#charts .label-percent {
    color: var(--highcharts-neutral-color-100);
    font-size: 0.9em;
    font-weight: 300;
    margin: 0;
    text-align: left;
}

#charts .highcharts-axis-labels {
    font-size: 0.6em;
}

#charts .highcharts-data-label-color-5 .berg-label {
    transform: translateY(-10px);
}
