.chart {
  width: calc(100% - 40px);
  float: left;
  height: 400px;
}

.highcharts-stocktools-wrapper {
  width: 100%;
  height: 400px;
  position: relative;
}

.highcharts-menu-wrapper {
  float: left;
  width: 40px;
  height: calc(100% - 30px);
  overflow: hidden;
}

.highcharts-stocktools-wrapper .highcharts-submenu-wrapper {
  display: none;
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
  background: #fff;
  width: 44px;
}

.highcharts-stocktools-wrapper .highcharts-arrow-wrapper {
  text-align: center;
  width: 40px;
  position: absolute;
  left: 0%;
  bottom: 2px;
  font-size: 1.5em;
}

.highcharts-stocktools-wrapper .highcharts-arrow-down,
.highcharts-stocktools-wrapper .highcharts-arrow-up {
  outline: none;
  display: inline-block;
  width: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.highcharts-stocktools-wrapper ul {
  width: 100%;
  /* 30px spacing for arrows to scroll */
  margin: 0px;
  padding: 0px;
  float: left;
}

.highcharts-stocktools-wrapper>ul {
  width: 40px;
  position: relative;
}

.highcharts-stocktools-wrapper li {
  list-style: none;
  margin: 3px;
  padding: 0px;
  clear: both;
  width: 100%;
  height: 40px;
  cursor: pointer;
}

.highcharts-stocktools-wrapper li>span.highcharts-menu-item-btn {
  display: block;
  float: left;
  width: calc(100% - 12px); /* 10px - size of arrow*/
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #f7f7f7;
}

.highcharts-stocktools-wrapper li>span.highcharts-submenu-item-arrow {
  float: left;
  width: 6px;
  height: 100%;
  line-height: 36px;
  font-size: 9px;
  text-align: right;
  cursor: pointer;
}

.highcharts-stocktools-wrapper li.highcharts-active>span, .highcharts-stocktools-wrapper li.highcharts-active {
  background-color: #e6ebf5;
}

.highcharts-showhide-showbar {
  position: absolute;
  background-color: rgba(155, 155, 155, 0.3);
  cursor: pointer;
}

.highcharts-hide {
  display: none;
}

.highcharts-stocktools-wrapper li>span.highcharts-menu-item-btn:hover, .highcharts-submenu-item-arrow:hover {
  background-color: #e6e6e6;
}

.highcharts-stocktools-wrapper .highcharts-arrow-down, .highcharts-stocktools-wrapper .highcharts-arrow-up {
  width: 50%;
}

.highcharts-popup {
  background-color: #fff;
  color: #666;
  display: none;
  font-size: 0.876em;
  height: 70%;
  top: 15%;
  left: 25%;
  position: absolute;
  width: 50%;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(61,61,61,0.3);
  -moz-box-shadow: 0px 0px 8px 0px rgba(61,61,61,0.3);
  box-shadow: 0px 0px 8px 0px rgba(61,61,61,0.3);
}

.highcharts-popup input, .highcharts-popup label, .highcharts-popup select {
  clear: both;
  float: left;
  width: 90%;
  margin-bottom: 10px;
}

.highcharts-popup-lhs-col, .highcharts-popup-rhs-col {
  padding: 20px;
  height: calc(100% - 84px); /* 44px - padding, 40px - tabs*/
  float: left;
}

.highcharts-popup-lhs-col {
  clear: both;
  width: calc(30% - 44px);
  border-right: 1px solid #e6e6e6;
}

.highcharts-popup-rhs-col {
  width: calc(70% - 40px);
}

.highcharts-popup-rhs-col-wrapper {
  float: left;
  width: 100%;
}

.highcharts-indicator-list {
  float:left;
  color: #666;
  height: 100%;
  overflow: scroll;
}

.highcharts-indicator-list li {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
}

.highcharts-tab-item {
  background-color: #fff;
  cursor: pointer;
  display: block;
  float:left;
  padding: 10px;
  height: 20px;
}

.highcharts-tab-item.highcharts-tab-item-active {
  background-color: #e6ebf5;
}

.highcharts-tab-item-content {
  display: none; 
  float: left;
  height: 100%;
  overflow: hidden;
  width: 100%;
  border-top: 1px solid #e6e6e6;
}

.highcharts-tab-item-show {
  display: block;
}

.highcharts-popup-close {
  cursor: pointer;
  position: absolute;
  padding: 10px;
  top: 0%;
  right: 0%;
  color: #333333;
}

.highcharts-popup-close:hover, .highcharts-popup button:hover {
  background-color: #e6ebf5;
}

.highcharts-popup button {
  float:right;
  border:none;
  background: #f7f7f7;
}





