.chart {
  width: calc(100% - 40px);
  float: left;
  height: 400px;
}

.highcharts-stocktools-wrapper {
  width: 100%;
  height: 400px;
  position: relative;
}

.highcharts-menu-wrapper {
  float: left;
  width: 40px;
  height: calc(100% - 30px);
  overflow: hidden;
}

.highcharts-stocktools-wrapper .highcharts-submenu-wrapper {
  display: none;
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
  background: #fff;
  width: 44px;
}

.highcharts-stocktools-wrapper .highcharts-arrow-wrapper {
  text-align: center;
  width: 40px;
  position: absolute;
  left: 0%;
  bottom: 2px;
  font-size: 1.5em;
}

.highcharts-stocktools-wrapper .highcharts-arrow-down,
.highcharts-stocktools-wrapper .highcharts-arrow-up {
  outline: none;
  display: inline-block;
  width: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.highcharts-stocktools-wrapper ul {
  width: 100%;
  /* 30px spacing for arrows to scroll */
  margin: 0px;
  padding: 0px;
  float: left;
}

.highcharts-stocktools-wrapper>ul {
  width: 40px;
  position: relative;
}

.highcharts-stocktools-wrapper li {
  list-style: none;
  margin: 3px;
  padding: 0px;
  clear: both;
  width: 100%;
  height: 40px;
  cursor: pointer;
  background-color: #f7f7f7;
}

.highcharts-stocktools-wrapper li>span.highcharts-menu-item-btn {
  display: block;
  float: left;
  width: calc(100% - 12px); /* 10px - size of arrow*/
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #f7f7f7;
}

.highcharts-stocktools-wrapper li>span.highcharts-submenu-item-arrow {
  float: left;
  width: 6px;
  height: 100%;
  line-height: 36px;
  font-size: 9px;
  text-align: right;
  cursor: pointer;
}

.highcharts-stocktools-wrapper li.highcharts-active>span, .highcharts-stocktools-wrapper li.highcharts-active {
  background-color: #e6ebf5;
}

.highcharts-showhide-showbar {
  position: absolute;
  background-color: rgba(155, 155, 155, 0.3);
  cursor: pointer;
}

.highcharts-hide {
  display: none;
}

.highcharts-stocktools-wrapper li>span.highcharts-menu-item-btn:hover, .highcharts-submenu-item-arrow:hover {
  background-color: #e6e6e6;
}

.highcharts-stocktools-wrapper .highcharts-arrow-down, .highcharts-stocktools-wrapper .highcharts-arrow-up {
  width: 50%;
}

.highcharts-popup {
  background-color: #fff;
  display: none;
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: 100;
  margin-left: -200px;
  margin-top: -100px;
  width: 400px;
  height: 200px;
}

.highcharts-popup input, .highcharts-popup label, .highcharts-popup select {
  clear: both;
  width: 90%;
  margin-bottom: 10px;
}

.highcharts-popup-lhs-col, .highcharts-popup-rhs-col {
  padding: 20px;
  height: calc(100% - 44px);
  float: left;
  border: 1px solid #29ABE2;
  background-color: #f7f7f7;
}

.highcharts-popup-lhs-col {
  clear: both;
  background-color: #e6e6e6;
  width: calc(30% - 44px);
}

.highcharts-popup-rhs-col {
  width: calc(70% - 40px);
}

.highcharts-popup-rhs-col-wrapper {
  float:left;
}

.highcharts-indicator-list {
  float:left;
  height: 100%;
  overflow: scroll;
}

.highcharts-indicator-list li {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
}

.highcharts-tab-item {
  background-color: #fff;
  cursor: pointer;
  display: block;
  float:left;
  padding: 10px;
}

.highcharts-tab-item.highcharts-tab-item-active {
  background-color: #e6e6e6;
}

.highcharts-tab-item-content {
  display: none; 
  float: left;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.highcharts-tab-item-show {
  display: block;
}

.highcharts-popup-close {
  cursor: pointer;
  position: absolute;
  top: 0%;
  right: 0%;
}



