* {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

#container {
    height: 400px;
    max-width: 800px;
}

.data-table {
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    border: 1px solid silver;
    padding: 0.5em;
}
