* {
    font-family: Helvetica, Arial, sans-serif;
}

#container {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}

#table-div {
    max-width: 400px;
    margin: 3em auto;
}
