body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

#container {
    height: 90vh;
}

.highcharts-figure {
    min-width: 320px;
    margin: 0;
}

.highcharts-description {
    padding: 0 10px;
}

tspan {
    fill: inherit;
}
