#container, #button-container {
    max-width: 800px;
    margin: 1em auto;
}
#pdf {
	border: 1px solid silver;
	border-radius: 3px;
	background: #a4edba;
    padding: 0.5em 1em;
}
#pdf i {
	margin-right: 1em;
}

