@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

#container {
    height: 250px;
    margin: 8px;
}

.highcharts-datagrid-container tbody td {
    height: 70px;
    padding: 0 4px;
}
