@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-pro/css/grid-pro.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

#container {
    max-width: 450px;
    margin: 0 auto;
}

:root,
.highcharts-light {
    --highcharts-neutral-color-5: transparent;
}

.theme-custom {
    --hcg-background: var(--highcharts-background-color);
    --hcg-color: var(--highcharts-neutral-color-100);
    --hcg-padding: 5px 20px;
    --hcg-cell-hovered-row-background: #014ce5;
    --hcg-cell-hovered-row-color: #fff;
    --hcg-row-even-background: var(--highcharts-neutral-color-3);
    --hcg-header-row-border-color: #474554;
    --hcg-row-border-color: transparent;

    border-radius: 5px;
    max-height: 300px;
}

.theme-custom table tr td {
    line-height: 1.5;
}

.theme-custom .net-value-col {
    --ig-text-align: right;
}

.theme-custom .name-col {
    --ig-color: #525252;
    --ig-row-even-color: #525252;
    --ig-cell-hovered-column-color: #525252;
    --ig-cell-hovered-column-even-color: #525252;
}

.highcharts-light .highcharts-dashboards-cell > .highcharts-dashboards-component {
    border-radius: 5px;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
}

.highcharts-dashboards,
.highcharts-dashboards-wrapper {
    background-color: #fff;
    box-shadow:
        0 0.4688rem 2.1875rem rgba(var(--highcharts-dashboards-shadow-color), 0.03),
        0 0.9375rem 1.4063rem rgba(var(--highcharts-dashboards-shadow-color), 0.03),
        0 0.25rem 0.5313rem rgba(var(--highcharts-dashboards-shadow-color), 0.03),
        0 0.125rem 0.1875rem rgba(var(--highcharts-dashboards-shadow-color), 0.03);
    border-radius: 15px;
}
