@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/dashboards/css/datagrid.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

:root {
    /* Dimensions */
    --chart-height: 200px;
    --log-height: 160px;

    /* Colors */
    --custom-background: var(--highcharts-neutral-color-3);
}

/* *
 *
 *  Layout
 *
 * */

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cell {
    flex: 1;
    min-width: 20px;
}

.cell > .highcharts-dashboards-component {
    position: relative;
    margin: 10px;
    padding: 10px;
}

/* *
 *
 *  Dashboards/Datagrid specific
 *
 * */
.highcharts-dashboards-wrapper {
    padding: 10px;
    background-color: var(--highcharts-neutral-color-10);
    overflow: hidden;
}

.highcharts-dashboards-component {
    background-color: var(--custom-background);
    max-height: var(--chart-height);
}

.highcharts-datagrid-container {
    font-size: 0.8em;
}

/* *
 *
 *  Message log (outside Dashboard)
 *
 * */
#custom {
    background-color: var(--highcharts-neutral-color-10);
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
}

#html-log {
    padding: 10px;
    margin: 0;
    overflow: none;
}

#html-log h1 {
    text-align: center;
    font-size: 1em;
    padding: 5px 0;
    margin: 0;
    border-bottom: 1px dotted var(--highcharts-neutral-color-20);
}

#log-content {
    height: var(--log-height);
    margin: 0;
    padding: 10px;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.9em;
    overflow: auto;
    background-color: var(--highcharts-neutral-color-5);
}

#log-content span.error {
    color: #f00;
}

/* *
 *
 *  App control - Connect status and clearing log
 *
 * */
#app-control {
    padding: 0;
    font-size: 0.9em;
    width: 100%;
    background-color: var(--highcharts-neutral-color-10);
    margin: 0 auto;
    text-align: center;
}

#app-control #connect-status,
#app-control #clear-log {
    margin: 15px 10%;
}

#app-control #connect-status {
    font-size: 1em;
    font-weight: bold;
}

#app-control #connect-status::before {
    content: "MQTT ";
}

#app-control #clear-log {
    font-size: 1em;
    padding: 5px 10px;
}

/* *
 *
 *  Dashboards container and description
 *
 * */

div.description {
    padding: 0 20px;
    max-width: 100%;
    text-align: justify;
}
