figure {
    max-width: 1300px;
    min-width: 500px;
    margin: 0 auto;
    position: relative;
    font-family: sans-serif;
}

#container {
    height: 550px;
}

#legend {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 10;
}

#legend label {
    cursor: pointer;
}

#play {
    display: block;
    margin: 1rem auto;
    width: 7rem;
}

.hc-crosshair {
    transition: all 0.15s;
}

pre {
    display: none;
}
