.highcharts-figure {
    min-width: 350px;
    max-width: 600px;
    margin: 0 auto;
}

#data {
    display: none;
}

.wrapper {
    label {
        display: block;
        margin: 0 0 0.5em;
    }

    margin: 1em auto;
}
