@import 'https://code.highcharts.com/css/highcharts.css';

#container {
    min-width: 300px;
    max-width: 800px;
    height: 400px;
    margin: 1em auto;
}

.highcharts-color-0 {
	fill: #666666;
}
.highcharts-color-1 {
	fill: #7cb5ec;
}
.highcharts-color-2 {
	fill: #000000;
}
.highcharts-color-3 {
	fill: #90ed7d;
}
.highcharts-color-4 {
	fill: #f7a35c;
}

.highcharts-sankey-series .highcharts-data-label text {
	fill: white;
	text-shadow: 1px 0 0 black, 1px 1px 1px black;
}