@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-pro/css/grid-pro.css");

body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

#container {
    padding: 8px;
}

.custom-column-class-name {
    color: #f00 !important;
}

.greater-than-100 {
    text-decoration: underline !important;
    color: #0f0 !important;
}

.header-cell-custom-class-price {
    color: #f0f !important;
}
