@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

#container {
    padding: 8px;
}

.custom-column-class-name {
    color: #f00 !important;
}

.greater-than-100 {
    text-decoration: underline !important;
    color: #0f0 !important;
}

.header-cell-custom-class-price {
    color: #f0f !important;
}
