@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");
@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-pro/css/grid-pro.css");

#dashboard-col-stock,
#dashboard-col-grid {
    height: 600px;
}

.highcharts-dashboards-component-title {
    padding: 10px;
    margin: 0;
    background-color: var(--highcharts-neutral-color-5);
    color: var(--highcharts-neutral-color-100);
    border: solid 1px var(--highcharts-neutral-color-20);
    border-bottom: none;
}
