@import url("https://code.highcharts.com/dashboards/css/datagrid.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

h2 {
    text-align: center;
}

.navigator-container .highcharts-series-0,
#csv {
    display: none;
}
