@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-pro/css/grid-pro.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

h2 {
    text-align: center;
}

.navigator-container .highcharts-series-0,
#csv {
    display: none;
}

#bottom {
    height: 400px;
}
