@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-lite/css/grid.css");

#container {
    padding: 8px;
}

.hcg-container tbody td {
    height: 90px;
}

@media (prefers-color-scheme: dark) {
    #container {
        background-color: #292929;
    }
}
