@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

#container {
    height: 800px;
    padding: 8px;
}

.highcharts-datagrid-table tbody td {
    height: 70px;
}

.highcharts-background {
    fill: transparent;
}

@media (prefers-color-scheme: dark) {
    #container {
        background-color: #292929;
    }
}
