#container {
    height: 500px;
}

#csv,
.highcharts-description {
    display: none;
}

.highcharts-line-description {
    margin: 30px 0 0;
    border-left: 6px solid #8daeb9;
    margin-left: 6px;
    padding: 35px 35px 15px 35px;
    background-color: #ecf4f5;
    border-radius: 0 30px 0 0;
}

.highcharts-trend-controls {
    margin: 0 0 30px 6px;
    background-color: #ecf4f5;
    border-left: 6px solid #8daeb9;
    padding: 0 35px 35px 35px;
}

.highcharts-trend-controls-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.highcharts-trend-controls h3 {
    margin-top: 0;
}

.highcharts-trend-controls label {
    margin: 20px 15px 10px 10px;
}

.highcharts-trend-controls button {
    background-color: #e9eff0;
    border: 1px solid #8daeb9;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px 20px;
    appearance: none;
    font-size: 1rem;
}

.highcharts-sonification-dialog button {
    margin-right: 15px;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 1050px;
    margin: 1em auto;
    font-family: Verdana, sans-serif;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
