@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

#demo {
    padding: 8px;
}

#container {
    background-color: var(--highcharts-background-color);
    height: 250px;
}

#custom-options {
    margin-top: 5px;
}
