* {
    font-family: Helvetica, Arial, sans-serif;
}

.highcharts-figure {
    margin: 0 auto;
    min-width: 360px;
    max-width: 800px;
    padding: 0 10px;
}

#container {
    margin: 0 -10px;
}

#controls {
    margin-bottom: 1em;
}

#date-range {
    margin-top: 1rem;
    width: 100%;
}

#play-pause {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: #1767ce;
    color: white;
    border-width: 0;
    text-align: center;
    font-size: 1rem;
    transition: background-color 250ms;
}

#play-pause:hover {
    background-color: #68a9ff;
    color: white;
}

#report-time {
    float: right;
    margin-top: 0.8rem;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

#data {
    display: none;
}
