* {
    font-family: Helvetica, Arial, sans-serif;
}

.highcharts-figure {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

#container h4 {
    text-transform: none;
    font-size: 14px;
    font-weight: normal;
}

#container p {
    font-size: 13px;
    line-height: 16px;
}

@media screen and (max-width: 600px) {
    #container h4 {
        font-size: 2.3vw;
        line-height: 3vw;
    }

    #container p {
        font-size: 2.3vw;
        line-height: 3vw;
    }
}

.highcharts-description {
    margin: 0.3rem 10px;
}
