body {
    background-color: #F1F4F6;
}

.main-title {
    margin-top: 50px;
}

.highcharts-dashboard-row {
    display: flex;
    position: relative;
}

.highcharts-dashboard-column {
    position: relative;
    flex: 1;
}

.highcharts-dashboard-layout .highcharts-dashboard-row .highcharts-dashboard-column  {
    box-sizing: border-box;
    border: 1px dashed rgba(0, 0, 0, 0);
}

.highcharts-dashboard-layout.edit-mode .highcharts-dashboard-row :hover .highcharts-dashboard-column  {
    border: 1px dashed #bdbdbd;
    cursor: pointer;
}

.highcharts-dashboard-layout.edit-mode .highcharts-dashboard-row:hover .highcharts-dashboard-column .toolbar,
.highcharts-dashboard-layout.edit-mode .add-item {
    display: block;
}

.w-1-5 {
    width: 20%;
}

.w-1-4 {
    width: 25%;
}

.w-1-3 {
    width: 33.333%;
}

.w-1-2 {
    width: 50%;
}

.w-full {
    width: 100%;
}

.highcharts-dashboard-column > .highcharts-dashboard-component {
    position: relative;
    margin: 15px;
    padding: 15px;

    background-color: #fff;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    background-clip: border-box;
    border: 1px solid rgba(26, 54, 126, 0.125);
    border-radius: .25rem;
}

.highcharts-dashboard-component img {
    width: 100%;
}

.highcharts-dashboard-resize-handler {
    cursor: col-resize;
    position: absolute;
    width: 20px;
    height: 100%;
    background: red;
    opacity: 0.5;
    right: 0px;
    z-index: 10;
}

.highcharts-dashboard-resize-handler-left {
    right: auto;
    left: 0px;
}


.highcharts-dashboard-column > .highcharts-dashboard-component .title-wrapper {
    margin: 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(26, 54, 126, 0.125);
}

.highcharts-dashboard-toolbar {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 15px;
    display: none;
    font-weight: bold;
}

.highcharts-dashboard-toolbar .tools-row {
    display: inline-block;
    float: left;
    background-color: #839bc4;
    padding: 0px 10px;
}

.highcharts-dashboard-toolbar .tools-column {
    display: inline-block;
    background-color: #c3cad8;
    padding: 0px 10px;
}

.highcharts-dashboard-toolbar .drag-drop {
    display: inline-block;
    cursor: move;
    text-indent: -9999px;
    background: url("https://code.highcharts.com/8.2.2/gfx/stock-icons/measure-xy.svg") no-repeat 50% 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.highcharts-dashboard-toolbar .edit-col,
.highcharts-dashboard-toolbar .edit-row {
    background: url("https://code.highcharts.com/8.2.2/gfx/stock-icons/edit.svg") no-repeat 50% 50%;
    background-size: cover;
    font-size: 0px;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    display: inline-block;
    float:right;
    margin-left: 10px;
}

.add-item {
    text-align: center;
    font-size: 2em;
    display: none;
    background: #bbd1ed;
}

.hidden,
.hidden-edit {
    display: none;
}

.block,
.show-edit {
    display: block;
}

h1 {
    margin-left: 15px;
}

.context-menu {
    float: right;
    font-size: 0.5em;
    font-weight: normal;
    margin-right: 15px;
    margin-top: 10px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(28, 28, 28, 0.4);
    z-index: 1000;
}

#popup {
    position: absolute;
    width: 250px;
    border: 1px solid rgba(26, 54, 126, 0.125);
    border-radius: 2px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    left: calc(50% - 126px);
    z-index: 1000;
    padding: 20px;
    background: #fff;
    top: 30%;
}

#popup #close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5em;
    cursor: pointer;
}

ul.elem-menu {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
}

ul.elem-menu li {
    cursor: pointer;
    list-style-type: none;
    background-color: #efefef;
    padding: 20px;
    margin-left: 10px;
}

ul.elem-menu li:first-child {
    margin-left: 0px;
}

@media (max-width: 728px) {

    .w-1-2,
    .w-1-3,
    .w-1-4,
    .w-1-5 {
        width: 100%;
    }

    .highcharts-dashboard-row {
        flex-direction: column;
    }

    .highcharts-dashboard-column {
        flex: 1;
    }

    .highcharts-dashboard-component {
        flex: 1;
    }

}
