body {
    background: var(--highcharts-background-color);
    color: var(--highcharts-neutral-color-100);
}

.highcharts-tooltip {
    th {
        font-weight: normal;
        opacity: 0.7;
    }

    td {
        text-align: right;
    }
}
