.product-annotations .highcharts-annotation-label-box {
    fill-opacity: 1;
}

#container {
    min-width: 300px;
    max-width: 1000px;
    margin: 1em auto;
}

#turnover {
    display: none;
}

table {
    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid silver;
    padding: 0.5em;
}

#container .highcharts-axis-title {
    font-weight: 700;
    fill: #46465c !important;
}

#container .highcharts-axis-labels text {
    fill: #46465c !important;
    font-size: 14px;
}

#container .highcharts-yaxis {
    visibility: hidden;
}

#container .highcharts-yaxis-labels text:last-of-type {
    opacity: 0;
}

#container .highcharts-plot-band-label:nth-of-type(1) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    border: 0 solid #000;
    width: 20px;
}

#container .time-2 {
    fill: #d9dbf8;
    fill-opacity: 1;
}

#container .time-3 {
    fill: #fffaf0;
    fill-opacity: 1;
}

#container .time-4 {
    fill: #dff9e7;
    fill-opacity: 1;
}

#container .revenue,
#container .revenue .highcharts-area {
    fill: rgb(102 153 161);
    stroke: rgb(102 153 161);
    fill-opacity: 0.2;
    stroke-width: 1px;
}

#container .employees,
#container .employees .highcharts-area {
    fill: #5749ad;
    stroke: #5749ad;
    fill-opacity: 0.2;
    stroke-width: 1px;
}

#container .highcharts-legend-item.revenue,
#container .highcharts-legend-item.employees {
    fill-opacity: 1;
}

#container .award .highcharts-label {
    color: #fff;
}

#container .highcharts-flags-series.cloud .highcharts-point text,
#container .highcharts-flags-series.product .highcharts-point text,
#container .highcharts-flags-series.maps .highcharts-point text,
#container .highcharts-flags-series.stock .highcharts-point text,
#container .highcharts-flags-series.award .highcharts-point text {
    fill: #fff;
}

#container .highcharts-flags-series.maps,
#container .highcharts-flags-series.product,
#container .highcharts-flags-series.cloud {
    clip-path: none !important;
}

#container .award.highcharts-flags-series .highcharts-point .highcharts-label-box {
    transition: fill 250ms;
}

#container .award p {
    margin-left: 50%;
}

#container .award p.wide {
    margin-left: 40%;
}

.tip .tip-box {
    fill: #46465c;
    stroke: transparent;
    color: #f0f0f0;
    max-width: 200px;
}

.highcharts-tooltip-box {
    stroke-width: 1px;
    fill: #46465c;
    stroke: #46465c;
    fill-opacity: 1;
}

.highcharts-tooltip text,
.highcharts-tooltip tspan {
    fill: #f0f0f0 !important;
    color: #f0f0f0 !important;
    white-space: normal;
}
