@import "https://code.highcharts.com/css/highcharts.css";
@import "https://code.highcharts.com/css/datagrid.css";
@import "https://code.highcharts.com/css/dashboards/gui.css";

.hidden {
    display: none;
}

.hcd-layout {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}

.hcd-row:first-of-type {
    height: 50vw;
    overflow: scroll;
}
