@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-pro/css/grid-pro.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

#csv {
    display: none;
}

.highcharts-description {
    margin-top: 1em;
}

.buttons-wrapper {
    padding: 12px;
    background-color: white;
    box-shadow: none;
    margin: 1em;
}

.ls-status {
    font-weight: bold;
}

#ls-status-content {
    color: red;
}

.button-row {
    margin: 0 -10px;
}

.highcharts-demo-button {
    background: var(--highcharts-neutral-color-5, #f2f2f2);
    border: none;
    border-radius: 4px;
    color: var(--highcharts-neutral-color-100, #000);
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
    transition: background 250ms;
}

.highcharts-demo-button:hover {
    background: var(--highcharts-neutral-color-10, #e6e6e6);
}
