@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/dashboards/css/datagrid.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

#csv {
    display: none;
}

.highcharts-description {
    margin-top: 1em;
}

.buttons-wrapper {
    padding: 12px;
    background-color: white;
    box-shadow: none;
    margin: 1em;
}

.ls-status {
    font-weight: bold;
}

#ls-status-content {
    color: red;
}

.button-row {
    margin: 0 -10px;
}

.highcharts-demo-button {
    border: none;
    border-radius: 0.3rem;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
}
