@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

#container {
    height: 250px;
    margin: 8px;
}

.highcharts-datagrid-column {
    width: 15%;
}

.custom-column-class-name {
    color: #f00;
    width: 40%;
}

.greater-than-100 {
    text-decoration: underline;
    color: #0f0;
}

.header-cell-custom-class-price {
    color: #f0f;
}
