{
    "extends": "../.eslintrc",
    "rules": {
      "jsdoc/require-jsdoc": 2,
      "jsdoc/require-description": 2,
      "jsdoc/require-param": 2,
      "jsdoc/require-param-description": 2,
      "jsdoc/require-param-type": 0,
      "jsdoc/check-tag-names": 0,
      "jsdoc/no-types": 2,
      "jsdoc/require-returns-type": 0
    }
}
