#container {
    max-width: 600px;
    min-width: 300px;
    height: 500px;
    margin: 1em auto;
}

#data {
    display: none;
}

#sliders {
    margin: 1em auto;
    max-width: 600px;
    min-width: 300px;
    user-select: none;
    white-space: nowrap;
}
