<script src="https://code.highcharts.com/dashboards/dashboards.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/dashboards/modules/dashboards-plugin.js"></script>

<div id="container"></div>

<pre id='csv'>Date,Value
2019-01-01,100
2019-01-02,200
2019-01-03,300
2019-01-04,400
2019-01-05,500
2019-01-06,600
2019-01-07,700
2019-01-08,800
2019-01-09,900
2019-01-10,1000
2019-01-11,1100
2019-01-12,1200
</pre>