@import url("https://code.highcharts.com/dashboards/css/dashboards.css");
@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-pro/css/grid-pro.css");

body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

#demo {
    margin: 10px;
    padding: 10px;
}

.two-cols {
    display: flex;
}

.col {
    flex: 1;
    padding: 10px;
    min-width: 0;
}

.grid {
    border: 1px solid red;
}

#container {
    height: 500px;
}
