* {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

#container {
    min-height: 700px;
    max-height: 850px;
    min-width: 900px;
    max-width: 950px;
    margin: 0 auto;
    padding: 0;
}

a {
    font-weight: bold;
}

.custom-axes {
    font-weight: 600;
    color: #071436;
}

a:hover,
a:active {
    text-decoration: underline;
}
