* {
    font-family: Helvetica, Arial, sans-serif;
}

.highcharts-figure {
    min-width: 320px;
    max-width: 700px;
    margin: 1em auto;
}

#container {
    height: 500px;
}

.highcharts-description {
    margin: 0.3rem 10px;
}
