body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

.highcharts-figure {
    max-width: 800px;
    min-width: 360px;
    margin: 0 auto;
}

.highcharts-background {
    transition: all 250ms;
}

.highcharts-description {
    margin: 10px;
}

.controls {
    margin: 10px;
}

/* Extend the Adaptive theme */
:root,
.highcharts-light {
    --highcharts-color-0: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --highcharts-color-0: white;
    }
}

.highcharts-dark {
    --highcharts-color-0: white;
}
