body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

.highcharts-figure {
    min-width: 320px;
    max-width: 600px;
    margin: 1em auto;
}

#container {
    height: 500px;
}

.highcharts-controls {
    margin: 10px;
}
