@import url("https://code.highcharts.com/grid/css/grid.css");

* {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

.content {
    padding: 8px;
}

.active-column {
    background: rgba(30, 136, 229, 0.12) !important; /* Soft blue, 12% opacity */
}

#grid {
    /* display about 5 rows in the Grid */
    height: 315px;
}
