* {
    font-family: Helvetica, Arial, sans-serif;
}

#demo-wrapper {
    max-width: 1000px;
    margin: 10px auto;
    height: 560px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selector {
    display: flex;
    align-items: center;
    height: 40px;
    width: 60%;
}

#selector .prev-next {
    padding: 0 20px;
    font-size: 30px;
    line-height: 20px;
    background: white;
    font-weight: bold;
    opacity: 0;
    color: #999;
    border: none;
}

#selector #map-datalist-input {
    width: 100%;
    height: 32px;
    font-size: 14px;
    border: 1px solid silver;
    border-radius: 3px;
    padding: 1px 5px 1px 30px;
    background: url("https://www.highcharts.com/samples/graphics/search.png") 5px 8px no-repeat white;
}

#map-box {
    display: flex;
    width: 100%;
}

#container {
    flex: 0.8;
    height: 500px;
}

#side-box {
    flex: 0.2;
    margin: 100px 1% 0;
    padding-left: 1%;
    border-left: 1px solid silver;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

#checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

#checkbox-wrapper #datalabels-checkbox {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}

#checkbox-wrapper #datalabels-checkbox::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

#checkbox-wrapper #datalabels-checkbox,
#checkbox-wrapper #datalabels-checkbox::after {
    transition: all 100ms ease-out;
}

#checkbox-wrapper #datalabels-checkbox::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

#checkbox-wrapper #datalabels-checkbox:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

#checkbox-wrapper #datalabels-checkbox:checked {
    background-color: #6e79d6;
}

#checkbox-wrapper #datalabels-checkbox:checked::after {
    background-color: #fff;
    left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
    outline: 0;
}

#checkbox-wrapper #datalabels-checkbox:checked:hover {
    background-color: #535db3;
}

#info-box #clean-demo-btn {
    background: #00766f;
    display: inline-block;
    color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 1rem;
    line-height: 140%;
    font-weight: 700;
    letter-spacing: 0.01em;
    padding: 8px 16px;
}

#info-box #clean-demo-btn:hover {
    opacity: 0.8;
}

.links {
    transition: all 250ms;
    touch-action: manipulation;
}

.links a {
    color: #00e;
    line-height: 1.5rem;
}

.links:hover {
    font-size: 1.1rem;
}

@media (max-width: 768px) {
    #selector {
        width: 100%;
    }

    #map-box {
        flex-direction: column;
    }

    #container {
        height: 310px;
    }

    #side-box {
        margin-top: 0;
        padding-top: 16px;
        border-left: none;
        border-top: 1px solid silver;
    }
}
