body {
    font-family: sans-serif;
    color: var(--highcharts-neutral-color-100, #000);
}

#container {
    margin: 0 auto;
    max-width: 1000px;
}

.tab-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.tabs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid var(--highcharts-neutral-color-20, #ccc);
    border-radius: 5px;
    gap: 10px;
    padding: 2px;
}

.tab {
    padding: 6px 10px;
    border-radius: 5px;
    background-color: var(--highcharts-neutral-color-5, #f2f2f2);
    color: var(--highcharts-neutral-color-100, #000);
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
}

.tab:hover {
    background-color: var(--highcharts-neutral-color-10, #e6e6e6);
}

.tab.active {
    background-color: #ea293c;
    color: #fff;
    border: none;
}
