@import url("https://code.highcharts.com/css/dashboards.css");
@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/css/datagrid.css");

#csv {
    display: none;
}

.highcharts-title {
    font-size: 1em;
    font-weight: normal;
}

.component-title {
    text-align: center;
    font-size: 1.5em;
}
