* {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

.highcharts-figure {
    margin: 0;
}

#container {
    height: 400px;
    max-width: 580px;
    margin: 0 auto;
}

.highcharts-description {
    margin: 0.3rem 10px;
}
