@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

#demo {
    padding: 8px;
    background-color: var(--highcharts-background-color);
    color: var(--highcharts-neutral-color-100);
}

#container {
    height: 250px;
}
