@import url("https://code.highcharts.com/dashboards/css/datagrid.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

/* LARGE */
@media (max-width: 1200px) {
    #highcharts-dashboards-cell-a0,
    #highcharts-dashboards-cell-b0 {
        flex: 1 1 50%;
    }
}

/* MEDIUM */
@media (max-width: 992px) {
    #highcharts-dashboards-cell-a0,
    #highcharts-dashboards-cell-b0 {
        flex: 1 1 50%;
    }
}

/* SMALL */
@media (max-width: 576px) {
    #highcharts-dashboards-cell-a0,
    #highcharts-dashboards-cell-b0 {
        flex: 1 1 100%;
    }
}

.highcharts-description {
    margin: 0.3rem 10px;
}
