@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

/* Variables */

:root {
    --title-bg-1: #363;
    --title-bg-2: #336;
    --title-text: #fff;
}

/* General */

body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
    background-color: var(--highcharts-neutral-color-3);
}

#container {
    padding: 10px;
    background-color: var(--highcharts-neutral-color-5);
}

.config-cell {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
    background-color: var(--highcharts-neutral-color-5);
    text-align: center;
}

.config-cell label {
    display: block;
    margin: 10px 0;
    color: var(--highcharts-neutral-color-100);
}

/* Dashboards */

.row {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    flex: 1;
    min-width: 20px;
}

.cell > .highcharts-dashboards-component {
    position: relative;
    margin: 10px;
    background-clip: border-box;
    height: 250px;
}

.highcharts-datagrid-container {
    min-height: auto;
}

.highcharts-dashboards-component-title {
    padding: 10px;
    margin: 0;
    text-align: center;
    color: var(--title-text);
}

#orig-sheet-cell .highcharts-dashboards-component-title {
    background-color: var(--title-bg-1);
}

#mod-sheet-cell .highcharts-dashboards-component-title {
    background-color: var(--title-bg-2);
}

.highcharts-dashboards-component {
    padding: 10px;
}

.highcharts-dashboards-component-content {
    height: 300px;
}

/* Demo description */

div#description {
    margin: 10px 30px;
    font-size: 1.2em;
    text-align: justify;
    color: var(--highcharts-neutral-color-100);
}

div#description a {
    color: var(--highcharts-highlight-color-80);
    letter-spacing: 2px;
}

@media screen and (max-width: 680px) {
    .cell {
        flex: 1 1 100%;
    }
}
