body {
    background: var(--highcharts-background-color);
    color: var(--highcharts-neutral-color-100);
}

#container {
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
}

#data {
    display: none;
}
