body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}

body.page {
	margin: 1em;
	font-size: 16px;
  	line-height: 1.6;
}

body.page h1 {
	padding-bottom: 0.3em;
	font-size: 2.25em;
	line-height: 1.2;
	border-bottom: 1px solid #eee;
}

.top-bar {
	color: white;
	font-size: 0.8em;
	padding: 0.5em;
	background: #34343e;
	box-shadow: 0px 0px 8px #888;
}
.top-bar h2 {
	height: 0;
	overflow: visible;
}
#source-box {
	width: 0;
	float: left;
	transition: width 500ms;
}
#main-content {
	float: right;
	width: 100%;
	transition: width 500ms;
}

.buttons a, a.button, button, input.button {
	border: none;
	border-radius: 0.3em;
	background: #a4edba;
	padding: 0.5em 1.5em;
	color: black;
	text-decoration: none;
	font-size: 1em;
	white-space: nowrap;
	cursor: pointer;
	margin: 0.3em;
	line-height: 1.5em;
	display: inline-block;
}
.buttons a:hover, a.button:hover, button:hover, input.button:hover {
	background: #40818b;
	color: white;
}
.buttons a.active, a.button.active, button.active, input.button:active {
	background: #40818b;
	color: white;
}

.test-report {
	border-radius: 5px;
	color: white;
	margin-bottom: 0.5em;
	border: 1px solid silver;
	font-size: 0.8em; 
	padding: 0.5em; 
}

#frame-row {
	width: 1360px;
}
#comment-iframe {
	height: 85px;
	width: calc(100% - 2px);
	border: 1px solid silver;
}
#preview {
	overflow: auto; 
	width: 1000px; 
	position: relative
}

pre#svg {
	padding: 1em;
	border: 1px solid silver;
	background-color: #F8F8F8;
	overflow: hidden; 
	width: 1000px; 
	height: 10px; 
	cursor: pointer;
}
del {
	color: white;
	background-color: red;
	border-radius: 3px;
	padding: 0 3px;
}
ins {
	color: white;
	background-color: green;
	border-radius: 3px;
	padding: 0 3px;
}
body.visual iframe {
	display: inline-block;
	width: 500px;
	height: 400px;
	border: 1px dotted gray;
}

body.single-col #frame-row {
	width: auto;
}
body.unit iframe {
	width: 100%;
	height: 600px;
	border: none;
}
body.manual iframe {
	width: 100%;
	height: 600px;
	border: none;
}

body.single-col #report, body.single-col #svg, body.single-col #preview {
	display: none;
}
body.manual #comment-placeholder {
	vertical-align: top;
}

.nightly {
	font-size: 0.8em;
	padding: 0.5em 0;
}

/* QUnit, follow the theme */
#qunit-tests li li.fail {
	border-left: 10px solid #f15c80;
}
#qunit-tests .fail {
	background-color: #f15c80;
}
#qunit-tests .fail .test-actual { 
	color: #f15c80; 
}
#qunit-banner.qunit-fail { 
	background-color: #f15c80; 
}
#qunit-tests li li.pass {
	border-left: 26px solid #a4edba;
}
#qunit-banner.qunit-pass { 
	background-color: #a4edba; 
}