
.top-bar {
	color: white;
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	padding: 0.5em;
	height: 50px;
	background: #34343e;
	box-shadow: 0px 0px 8px #888;
}
li, a, p, div {
	font-family: Arial, sans-serif;
	font-size: 10pt;
}
#source-box {
	width: 0;
	float: left;
	transition: width 500ms;
}
#main-content {
	float: right;
	width: 100%;
	transition: width 500ms;
}

.buttons a, a.button, button {
	border: none;
	border-radius: 3px;
	background: #a4edba;
	padding: 5px;
	color: black;
	text-decoration: none;
	font-size: 12px;
	white-space: nowrap;
	cursor: pointer;
	margin: 0 3px;
}
.buttons a:hover, a.button:hover, button:hover {
	background: #40818b;
	color: white;
}

/* QUnit, follow the theme */
#qunit-tests li li.fail {
	border-left: 10px solid #f15c80;
}
#qunit-tests .fail {
	background-color: #f15c80;
}
#qunit-tests .fail .test-actual { 
	color: #f15c80; 
}
#qunit-banner.qunit-fail { 
	background-color: #f15c80; 
}
#qunit-tests li li.pass {
	border-left: 26px solid #a4edba;
}
#qunit-banner.qunit-pass { 
	background-color: #a4edba; 
}