body {
	margin: 0;
}

.top-bar {
	color: white;
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	padding: 0.5em;
	height: 50px;
	background: #34343e;
	box-shadow: 0px 0px 8px #888;
}
li, a, p, div {
	font-family: Arial, sans-serif;
	font-size: 10pt;
}
#source-box {
	width: 0;
	float: left;
	transition: width 500ms;
}
#main-content {
	float: right;
	width: 100%;
	transition: width 500ms;
}

.buttons a, a.button, button {
	border: none;
	border-radius: 3px;
	background: #a4edba;
	padding: 5px;
	color: black;
	text-decoration: none;
	font-size: 12px;
	white-space: nowrap;
	cursor: pointer;
	margin: 0 3px;
	line-height: 2.5em;
}
.buttons a:hover, a.button:hover, button:hover {
	background: #40818b;
	color: white;
}

.test-report {
	border-radius: 5px;
	color: white;
	margin-bottom: 0.5em;
	border: 1px solid silver;
	font-family: Arial, sans-serif; 
	font-size: 0.8em; 
	padding: 0.5em; 
}

#frame-row {
	width: 1360px;
}
#comment-placeholder {
	width: 300px;
	display: inline-block;
}
#comment-iframe {
	height: 400px;
	width: calc(100% - 2px);
	border: 1px solid silver;
}
#preview {
	overflow: auto; 
	width: 1000px; 
	position: relative
}

pre#svg {
	padding: 1em;
	border: 1px solid silver;
	background-color: #F8F8F8;
	overflow: hidden; 
	width: 1000px; 
	height: 10px; 
	cursor: pointer;
}
del {
	color: white;
	background-color: red;
	border-radius: 3px;
	padding: 0 3px;
}
ins {
	color: white;
	background-color: green;
	border-radius: 3px;
	padding: 0 3px;
}
body.visual iframe {
	display: inline-block;
	width: 500px;
	height: 400px;
	border: 1px dotted gray;
}

body.unit #frame-row {
	width: auto;
}
body.unit iframe {
	width: 100%;
	height: 600px;
	border: none;
}

body.unit #report, body.unit #svg, body.unit #preview {
	display: none;
}

/* QUnit, follow the theme */
#qunit-tests li li.fail {
	border-left: 10px solid #f15c80;
}
#qunit-tests .fail {
	background-color: #f15c80;
}
#qunit-tests .fail .test-actual { 
	color: #f15c80; 
}
#qunit-banner.qunit-fail { 
	background-color: #f15c80; 
}
#qunit-tests li li.pass {
	border-left: 26px solid #a4edba;
}
#qunit-banner.qunit-pass { 
	background-color: #a4edba; 
}