.highcharts-figure {
    max-width: 800px;
    margin: 1em auto;
}

#grammy-data {
    display: none;
}

.tooltip-heading {
    font-weight: 800;
    text-align: center;
}

.win-nom {
    font-weight: 600;
    text-align: center;
    padding: 5px;
}

.highcharts-tooltip span ul {
    padding-left: 10px;
}

.highcharts-tooltip span li {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
