@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

#container {
    height: 250px;
    margin: 8px;
}

.highcharts-datagrid-column {
    width: 15%;
}

.highcharts-datagrid-column[data-column-id="weight"] {
    width: 40%;
}
