body {
		font-family: Arial, Helvetica, sans-serif;
		margin: 0px;
	}
	#top {
	    /*background: -moz-linear-gradient(center top , rgb(87, 84, 74), rgb(55, 52, 42)) repeat scroll 0% 0% transparent;*/
	    background: black;
	    background: linear-gradient( 0deg, #57544A, #37342A 15%);
	    background: -webkit-linear-gradient(top, #57544A, #37342A);
	    -webkit-box-shadow: 0px 0px 8px #888;
	    box-shadow: 0px 0px 8px #888;
	    height: 60px;
	    position: relative;
	    z-index: 2;
	    margin-bottom:50px;
	}
	#top #logo {
	    position: absolute;
	    left: 20px;
	    top: 10px;
	}
	#top img {
 	   width: 80px;
    	height: 80px;
    	margin-top: 5px;
	}
	#top h1 {
	    position: absolute;
	    left: 120px;
	    top: 0px;
	    color: white;
	}
	#wrap {
		width: 700px;
		overflow: auto;
		padding: 10px;
	}
	form {
		width: 650px;
		margin: 0 auto;
		padding:15px;
	}
	input, textarea {
		float: left;
		width :250px;
		margin-right:15px;
		clear: left;
	}
	textarea {
		width:650px;
		margin:0px;
		margin-bottom: 15px;
		border:1px solid black;
	}
	input[type=radio]{
		clear:left;
		margin-right:15px;
		margin-top:10px;
		width:25px;
	}
	input[type=submit]{
		width: 150px;
		float: right;
		position: relative;
		margin:0px;
		margin-top:15px;
	}
	label {
		display: block;
		padding-bottom:5px;
		padding-top:10px;
		clear:both;
	}
	label.radio {
		display:inherit;
		clear:right;
	}
	select {
		margin-right:150px;
		position: relative;
		float:left;
	}
	.info{
		position:relative;
		float:right;
		font-family:monospace;
		font-size: medium;
		width: 360px;
	}

	#oneline {
		float:left;
		width:660px;
		margin-bottom: 5px;
		margin-left: 5px;
	}
	div#toggle{
		visibility: hidden;
	}