* {
    font-family: Helvetica, Arial, sans-serif;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 820px;
    margin: 1em auto;
}

.highcharts-description {
    margin: 10px;
}
