@import url("https://code.highcharts.com/datagrid/css/datagrid2.css");

#demo {
    margin: 8px;
}

#container {
    margin-bottom: 15px;
    height: 400px;
    width: 100%;
}

.highcharts-dg-row[row-index="1"] {
    height: 100px;
}

.highcharts-dg-row[row-index="3"] {
    height: 100px;
}

.highcharts-dg-row[row-index="6"] {
    height: 100px;
}

.highcharts-dg-row[row-index="100"] {
    height: 200px;
}

.highcharts-dg-row[row-index="150"] {
    height: 10px;
}

.highcharts-dg-row[row-index="152"] {
    height: 10px;
}

.highcharts-dg-row[row-index="154"] {
    height: 10px;
}

.highcharts-dg-row[row-index="6"] {
    height: 100px;
}

.highcharts-dg-row[row-index="99999"] {
    height: 200px;
}
