@import url("https://code.highcharts.com/datagrid/css/datagrid2.css");

#demo {
    margin: 8px;
}

#container {
    margin-bottom: 15px;
    height: 400px;
}

.highcharts-dg-row[data-row-index="1"] td {
    height: 150px;
}

.highcharts-dg-column[data-column-id="b"] {
    width: 300px;
    max-width: 300px;
}

.highcharts-dg-column[data-column-id="c"] {
    width: 5%;
    max-width: 5%;
}
