* {
    font-family: Helvetica, Arial, sans-serif;
}

.change {
    padding: 0.1em 1em;
    line-height: 1.16em;
}

select {
    margin-left: 10px;
}

.series {
    padding: 0.4em 0.2em 0.3em;
}

.highcharts-demo-button {
    background: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
    transition: background 250ms;
}

.highcharts-demo-button:hover {
    background: #e6e6e6;
}
