@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-pro/css/grid.css");

* {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

.content {
    padding: 8px;
}

#container {
    height: 500px;
}

.highcharts-data-label > span,
.highcharts-light .highcharts-data-label > span {
    color: #000 !important;
}

@media (prefers-color-scheme: dark) {
    .highcharts-data-label > span {
        color: #fff !important;
    }
}

.highcharts-dark .highcharts-data-label > span {
    color: #fff !important;
}
