@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-pro/css/grid-pro.css");

body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
    background: var(--highcharts-background-color);
    color: var(--highcharts-neutral-color-100);
}

:root,
.highcharts-light {
    --anchor-color: #007bff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --anchor-color: #8ec3fc;
    }

    .highcharts-data-label > span {
        color: #fff !important;
    }
}

.highcharts-dark {
    --anchor-color: #8ec3fc;
}

.demo {
    padding: 8px 12px;
}

.highcharts-description {
    padding: 0 8px;
}

.highcharts-description a {
    color: var(--anchor-color);
}

.highcharts-data-label > span,
.highcharts-light .highcharts-data-label > span {
    color: #000 !important;
}

.highcharts-dark .highcharts-data-label > span {
    color: #fff !important;
}
