.selectors {
	height: 20px;
	font-size: 20px;
  }
  
.left {
	position: relative;
	left: 2%;
	width: 50%;
}
  
.left__select {
	width: 90%;
}
  
.right {
	position: relative;
	width: 50%;
	left: 52%;
	transform: translate(0, -100%);
}
  
.right__select {
	width: 90%;
}
  
#container {
	position: relative;
	top: 35px;
}