.selectors-container {
	font-size: 1.2em;
}

.lhs-col {
	width: 48%;
	display: inline-block;
}

.left-select {
	width: 100%;
}

.rhs-col {
	width: 48%;
	margin-left: 2%;
	display: inline-block;
}

.right-select {
	width: 100%;
}

@media (max-width: 768px) {
	.lhs-col,
	.rhs-col {
		display: block;
		width: 100%;
	}

	.rhs-col {
		margin-left: 0px;
		margin-top: 15px;
	}
}