#container {
    height: 300px;
    margin-top: 2em;
}

.highcharts-demo-button {
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
}
