@import url("https://www.highcharts.com/demo/_next/static/css/pages/_app.css");

:root,
.highcharts-light {
    --illo-green: var(--primitives-success-200);
    --illo-purple: var(--primitives-brand-500);
    --illo-accent-0: var(--primitives-neutral-0);
    --illo-accent-50: var(--primitives-neutral-50);
    --illo-accent-200: var(--primitives-neutral-200);
    --illo-accent-800: var(--primitives-neutral-800);
    --illo-brand-200: var(--primitives-brand-200);
    --illo-brand-800: var(--primitives-brand-800);
    --illo-background: var(--primitives-neutral-0);
    --illo-lines: var(--primitives-neutral-100);
    --illo-just-white: #fff;
    --illo-just-black: #000;
    --illo-accent-teal: #6699a1;
    --highcharts-color-0: #8087e8;
    --highcharts-color-1: #a3edba;
    --highcharts-color-2: #f19e53;
    --highcharts-color-3: #6699a1;
    --highcharts-color-4: #e1d369;
    --highcharts-color-5: #87b4e7;
    --highcharts-color-6: #da6d85;
    --highcharts-color-7: #bbbac5;
}

.highcharts-dark {
    --illo-green: var(--primitives-success-300);
    --illo-purple: var(--primitives-brand-500);
    --illo-accent-0: var(--primitives-neutral-1000);
    --illo-accent-50: var(--primitives-neutral-700);
    --illo-accent-200: var(--primitives-neutral-500);
    --illo-accent-800: var(--primitives-neutral-0);
    --illo-brand-200: var(--primitives-brand-500);
    --illo-brand-800: var(--primitives-brand-200);
    --illo-background: var(--primitives-neutral-1000);
    --illo-lines: var(--primitives-neutral-500);
    --illo-just-white: #fff;
    --illo-just-black: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --illo-green: var(--primitives-success-300);
        --illo-purple: var(--primitives-brand-500);
        --illo-accent-0: var(--primitives-neutral-1000);
        --illo-accent-50: var(--primitives-neutral-700);
        --illo-accent-200: var(--primitives-neutral-500);
        --illo-accent-800: var(--primitives-neutral-0);
        --illo-brand-200: var(--primitives-brand-500);
        --illo-brand-800: var(--primitives-brand-200);
        --illo-background: var(--primitives-neutral-1000);
        --illo-lines: var(--primitives-neutral-500);
        --illo-just-white: #fff;
        --illo-just-black: #000;
    }
}

body,
#demo-content {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    color: var(--text-primary);
}

.chart-container {
    border: 0 solid red;
    width: 150px;
    height: 140px;
}

a,
a:hover {
    color: var(--text-primary);
}

a:hover {
    text-decoration: underline;
}

#demo-content {
    margin: 0;
}

#add {
    position: absolute;
    top: 172px;
    top: 170px;
    right: 10px;
    background-color: var(--illo-accent-0);
    color: var(--text-primary);
    font-weight: 400;
    border: 1px solid  var(--illo-accent-200);
    padding: 8px;
    width: 40px;
    height: 35px;
    border-radius: 4px;
    filter: brightness(1);
}

#add:hover {
    background-color: var(--illo-accent-50);
    cursor: pointer;
}

.highcharts-text-outline {
    stroke: none !important;
}

@media screen  and (min-width: 220px) {
    #add {
        top: 140px;
        right: 20px;
    }

    .chart-container {
        width: 100%;
        max-width: 100%;
        height: 260px;
    }
}

@media screen  and (min-width: 260px) {
    #add {
        top: 130px;
        right: 15px;
    }

    .chart-container {
        width: 100%;
        max-width: 100%;
    }
}

@media screen  and (min-width: 370px) {
    #add {
        top: 90px;
        right: 10px;
    }

    .chart-container {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }
}
