figure {
    margin: 0;
}

.btn1,
.btn2 {
    display: inline-flex;
}

.highcharts-description,
legend,
label {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}

.highcharts-description {
    text-align: center;
}

fieldset {
    border: none;
}

.container {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    display: inline-block;
}

@media (min-width: 768px) {
    .container {
        width: 49%;
        height: 400px;
        margin-bottom: 15px;
    }
}
