@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

* {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

.content {
    padding: 8px;
}

#container {
    height: 300px;
}

button {
    margin-top: 20px;
}

textarea {
    width: 100%;
    height: 140px;
}
