@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/css/datagrid.css");
@import url("https://code.highcharts.com/css/dashboards.css");

#csv {
    display: none;
}

#title h1 {
    text-align: center;
    padding: 0;
    margin: 0;
}

#title .highcharts-dashboards-component {
    background-color: transparent;
}
