@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/datagrid/css/datagrid.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

.highcharts-description {
    padding: 0 20px;
}

.cloud-monitoring-data-controls {
    background-color: var(--dashboard-bck-gray);
    border-bottom: 1px solid #a5abb1;
    padding: 20px 15px;
}

:root,
.highcharts-light {
    /* Colors for data series and points */
    --highcharts-color-0: #33a29d;
    --highcharts-color-2: #fe9d00;

    /* Extra colors */
    --bck-gray: #f1f5f9;
    --dashboard-bck-gray: #e4eaf1;
}

body {
    background-color: var(--bck-gray);
}

.highcharts-dashboards-wrapper {
    background-color: var(--dashboard-bck-gray);
    min-height: 1000px;
}

.highcharts-dashboards-cell > .highcharts-dashboards-component {
    border-radius: 15px;
    padding: 10px;
    text-align: left;
}

.highcharts-dashboards-component-title {
    font-size: 1.2em;
    text-align: left;
}

#instance-details .highcharts-dashboards-component-content p {
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    margin-top: 20px;
}

#instance-details .highcharts-dashboards-component-content span {
    width: 40px;
    height: 40px;
    background-size: 32px 32px;
    border-radius: 5px;
    margin: 10px 15px 10px 10px;
    float: left;
}

/* https://awsicons.dev/ */

#instance-details #instance .highcharts-dashboards-component-content span {
    background: url("https://www.highcharts.com/samples/graphics/dashboards/cloud-monitoring/instance-ico.svg") 0 50% no-repeat;
}

#instance-details #zone .highcharts-dashboards-component-content span {
    background: url("https://www.highcharts.com/samples/graphics/dashboards/cloud-monitoring/zone-ico.svg") 0 50% no-repeat;
}

#instance-details #ami .highcharts-dashboards-component-content span {
    background: url("https://www.highcharts.com/samples/graphics/dashboards/cloud-monitoring/ami-ico.svg") 0 50% no-repeat;
}

#instance-details #os .highcharts-dashboards-component-content span {
    background: url("https://www.highcharts.com/samples/graphics/dashboards/cloud-monitoring/os-ico.svg") 0 50% no-repeat;
}

#instances-table .highcharts-datagrid-container {
    border: none;
    font-weight: 100;
}

#instances-table .highcharts-datagrid-row {
    cursor: pointer;
}

#instances-table .highcharts-datagrid-row .highcharts-datagrid-cell:first-child {
    white-space: nowrap;
}

#instances-table .highcharts-datagrid-row.current {
    background-color: var(--highcharts-neutral-color-10);
    pointer-events: none;
}

#instances-table .highcharts-datagrid-row:hover {
    background-color: var(--highcharts-neutral-color-10);
}

.health-title {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    padding-top: 15px;
}

.health-wrapper {
    margin: auto;
    width: 100px;
    height: 100px;
    margin-top: 15px;
}

.highcharts-Warning-icon,
.highcharts-datagrid-cell[data-original-data="Warning"] {
    background: url("https://www.highcharts.com/samples/graphics/dashboards/cloud-monitoring/warning-ico.svg") 50% 50% no-repeat;
    background-size: 64px 64px;
}

.highcharts-Critical-icon,
.highcharts-datagrid-cell[data-original-data="Critical"] {
    background: url("https://www.highcharts.com/samples/graphics/dashboards/cloud-monitoring/critical-ico.png") 50% 50% no-repeat;
    background-size: 64px 64px;
}

.highcharts-OK-icon,
.highcharts-datagrid-cell[data-original-data="OK"] {
    background: url("https://www.highcharts.com/samples/graphics/dashboards/cloud-monitoring/ok-ico.svg") 50% 50% no-repeat;
    background-size: 64px 64px;
}

.highcharts-datagrid-cell[data-original-data="Critical"],
.highcharts-datagrid-cell[data-original-data="Warning"],
.highcharts-datagrid-cell[data-original-data="OK"] {
    background-size: 24px 24px;
    text-indent: -9999px;
}

.highcharts-dashboards-component-kpi-value {
    display: none;
}

@media (prefers-color-scheme: dark) {
    .highcharts-dashboards-wrapper,
    .cloud-monitoring-data-controls {
        background-color: var(--highcharts-neutral-color-10);
    }

    .cloud-monitoring-data-controls {
        color: #fff;
    }
}

@media (prefers-color-scheme: light) {
    #instances-table .highcharts-datagrid-column-header,
    #instances-table .highcharts-datagrid-row {
        background-color: var(--highcharts-neutral-color-0);
    }
}
