env:
    browser: true

globals:
    $: true
    Highcharts: true
    HighchartsAdapter: true
    hs: true # Highslide
    QUnit: true

rules:
    eol-last: 0
    indent: [2, 4]
    new-cap: 0                  # The ill-named Color object. Fix in HC5
    no-multi-spaces: 0          # Consider key-spacing and exception to align arrays
    no-undefined: 0
    require-jsdoc: 0
    spaced-comment: 0
    strict: 0
    valid-jsdoc: 0
