dashboard/demos/climate/demo.js
data/**/*.js
data-grid/basic/simple/demo.js
highcharts/common-js/browserify/demo.js
highcharts/esm/async-await/demo.js
highcharts/esm/extending-members/demo.js
static/*.js
