env:
    browser: true

globals:
    $: true
    ADBE: true
    CallAnalyzer: true
    GOOGL: true
    Highcharts: true
    hs: true                    # Highslide
    jQuery: true
    moment: true                # moment.js, used in gettimezoneoffset demo
    MSFT: true
    ohlcdata: true
    QUnit: true
    temperatures: true          # pointinterval-pointstart demo
    TestController: true
    TestTemplate: true
    TestUtilities: true
    usdeur: true

rules:
    consistent-return: 0
    eol-last: 0
    func-style: 0
    indent: [2, 4]
    max-len: 0                  # Should be reduced, but there are 1200 violations by 2015-10-31.
    new-cap: 0                  # The ill-named Color object. Fix in HC5
    no-alert: 0
    no-console: 0               # TODO: Fix manually. Output to a visible div instead.
    no-multi-spaces: 0          # Consider key-spacing and exception to align arrays
    no-undefined: 0
    no-shadow: 0                # 10 violations as of 2015-10-31
    object-curly-spacing: [2, "always"]
    quotes: 0                   # We use single quotes in Highcharts, but need to allow JSON data in the demos.
    require-jsdoc: 0
    spaced-comment: 0
    space-before-function-paren: [2, {"anonymous": "always", "named": "never"}] # JSLint style
    strict: 0
    valid-jsdoc: 0
