@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

#container {
    padding: 8px;
}

#msg-container {
    padding: 5px;
}

#msg-container p {
    margin: 0.5em auto;
}

@media (prefers-color-scheme: dark) {
    .content {
        background-color: #292929;
        color: #fff;
    }
}
