@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-pro/css/grid-pro.css");

body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
    background: var(--highcharts-background-color);
    color: var(--highcharts-neutral-color-100);
}

.demo {
    padding: 8px 12px;
}

.highcharts-description {
    padding: 0 8px;
}

#container {
    height: 800px;
}

.hcg-pagination-wrapper {
    grid-template-columns: 1fr 1fr auto; /* left info, middle page-size, right controls */
}

.hcg-pagination-wrapper .hcg-pagination-info { grid-column: 1; }
.hcg-pagination-wrapper .hcg-pagination-page-size-container { grid-column: 2; }

.hcg-pagination-wrapper .hcg-pagination-controls {
    grid-column: 3;
    justify-self: end; /* align to the right edge */
}

.green {
    color: green;
}

.red {
    color: red;
}
