@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");
@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-pro/css/grid-pro.css");

:root,
.highcharts-light {
    --data-label-text-0: #fff;
    --data-label-text-1000: var(--text-primary);
    --text-primary: var(--primitives-neutral-900);
    --text-secondary: var(--primitives-neutral-700);
    --text-tertiary: var(--primitives-neutral-500);
    --unimportant: #e3e3e8;
    --demo-preview-background: var(--primitives-neutral-0);
    --button-group-container-border-outer: var(--primitives-neutral-100);
    --button-group-container-background: var(--primitives-neutral-50);
    --demo-container: var(--primitives-neutral-50);
    --background: var(--primitives-neutral-0);
    --border-100: var(--primitives-neutral-100);
    --tooltip-border-color: var(--primitives-neutral-100);
    --tick-stroke-color: var(--primitives-neutral-200);
    --tooltip-background: var(--primitives-neutral-50);
    --tooltip-stroke: var(--primitives-neutral-100);
    --component-background: var(--primitives-neutral-50);
}

.highcharts-dark {
    --button-colors-white-background-default: var(--primitives-neutral-800);
    --button-colors-white-background-hover: var(--primitives-neutral-600);
    --button-colors-white-background-pressed: var(--primitives-neutral-900);
    --button-colors-white-background-focus: var(--primitives-neutral-800);
    --button-colors-white-text-default: var(--primitives-neutral-0);
    --button-colors-white-text-hover: var(--primitives-neutral-0);
    --button-colors-white-text-pressed: var(--primitives-neutral-0);
    --button-colors-white-text-focus: var(--primitives-neutral-0);
    --button-colors-white-stroke-inner-default: var(--primitives-neutral-0);
    --button-colors-white-stroke-outer-default: var(--primitives-neutral-1000);
    --button-colors-white-stroke-outer-hover: var(--primitives-neutral-900);
    --button-colors-white-stroke-outer-disabled: var(--primitives-neutral-800);
    --button-colors-white-stroke-outer-pressed: var(--primitives-neutral-800);
    --button-colors-plain-background-default: #2f2e3800;
    --button-colors-plain-background-hover: var(--primitives-neutral-800);
    --button-colors-plain-background-pressed: var(--primitives-neutral-700);
    --button-colors-plain-background-focus: var(--primitives-neutral-700);
    --button-colors-plain-text-default: var(--primitives-neutral-25);
    --button-colors-plain-text-hover: var(--primitives-neutral-0);
    --button-colors-plain-text-pressed: var(--primitives-neutral-0);
    --button-colors-plain-text-focus: var(--primitives-neutral-0);
    --button-colors-plain-stroke-inner-default: #000000de;
    --button-colors-plain-stroke-outer-default: transparent;
    --button-colors-plain-stroke-outer-hover: var(--primitives-neutral-700);
    --button-colors-plain-stroke-outer-disabled: var(--primitives-neutral-800);
    --button-colors-plain-stroke-outer-pressed: var(--primitives-neutral-800);
    --button-group-container-border-outer: var(--primitives-neutral-700);
    --button-group-container-background: var(--primitives-neutral-950);
    --background: var(--primitives-neutral-900);
    --text-primary: var(--primitives-neutral-25);
    --text-secondary: var(--primitives-neutral-200);
    --text-tertiary: var(--primitives-neutral-400);
    --border-100: var(--primitives-neutral-700);
    --demo-container: var(--primitives-neutral-900);
    --data-label-text-0: #fff;
    --data-label-text-1000: #fff;
    --tooltip-border-color: var(--primitives-neutral-700);
    --tick-stroke-color: var(--primitives-neutral-700);
    --tooltip-background: var(--primitives-neutral-800);
    --component-background: var(--primitives-neutral-800);
    --tooltip-stroke: var(--primitives-neutral-700);
}

@media (prefers-color-scheme: dark) {
    :root {
        --button-colors-white-background-default: var(--primitives-neutral-800);
        --button-colors-white-background-hover: var(--primitives-neutral-600);
        --button-colors-white-background-pressed: var(--primitives-neutral-900);
        --button-colors-white-background-focus: var(--primitives-neutral-800);
        --button-colors-white-text-default: var(--primitives-neutral-0);
        --button-colors-white-text-hover: var(--primitives-neutral-0);
        --button-colors-white-text-pressed: var(--primitives-neutral-0);
        --button-colors-white-text-focus: var(--primitives-neutral-0);
        --button-colors-white-stroke-inner-default: var(--primitives-neutral-0);
        --button-colors-white-stroke-outer-default: var(--primitives-neutral-1000);
        --button-colors-white-stroke-outer-hover: var(--primitives-neutral-900);
        --button-colors-white-stroke-outer-disabled: var(--primitives-neutral-800);
        --button-colors-white-stroke-outer-pressed: var(--primitives-neutral-800);
        --button-colors-plain-background-default: #2f2e3800;
        --button-colors-plain-background-hover: var(--primitives-neutral-800);
        --button-colors-plain-background-pressed: var(--primitives-neutral-700);
        --button-colors-plain-background-focus: var(--primitives-neutral-700);
        --button-colors-plain-text-default: var(--primitives-neutral-25);
        --button-colors-plain-text-hover: var(--primitives-neutral-0);
        --button-colors-plain-text-pressed: var(--primitives-neutral-0);
        --button-colors-plain-text-focus: var(--primitives-neutral-0);
        --button-colors-plain-stroke-inner-default: #000000de;
        --button-colors-plain-stroke-outer-default: transparent;
        --button-colors-plain-stroke-outer-hover: var(--primitives-neutral-700);
        --button-colors-plain-stroke-outer-disabled: var(--primitives-neutral-800);
        --button-colors-plain-stroke-outer-pressed: var(--primitives-neutral-800);
        --button-group-container-border-outer: var(--primitives-neutral-700);
        --button-group-container-background: var(--primitives-neutral-950);
        --background: var(--primitives-neutral-900);
        --text-primary: var(--primitives-neutral-25);
        --text-secondary: var(--primitives-neutral-200);
        --text-tertiary: var(--primitives-neutral-400);
        --border-100: var(--primitives-neutral-700);
        --data-label-text-0: #fff;
        --data-label-text-1000: #fff;
        --tooltip-border-color: var(--primitives-neutral-700);
        --tick-stroke-color: var(--primitives-neutral-700);
        --tooltip-background: var(--primitives-neutral-800);
        --tooltip-stroke: var(--primitives-neutral-700);
        --component-background: var(--primitives-neutral-800);
    }
}

/* basic dashboard */

#title {
    text-align: center;
    padding: 10px 0;
    margin: 0;
    background-color: var(--highcharts-neutral-color-0);
}

#kpi-vitamin-a .highcharts-dashboards-component-title::before,
#kpi-iron .highcharts-dashboards-component-title::before {
    width: 14px;
    height: 14px;
    border-radius: 28px;
    display: inline-block;
    padding: 0;
    margin-right: 4px;
    background-color: var(--highcharts-color-0);
    content: " ";
}

#kpi-iron .highcharts-dashboards-component-title::before {
    background-color: var(--highcharts-color-2);
}

#kpi-vitamin-a .highcharts-dashboards-component-kpi-subtitle,
#kpi-iron .highcharts-dashboards-component-kpi-subtitle {
    margin-top: 10px;
    font-size: 1.2em;
    color: var(--highcharts-neutral-color-60);
}

#kpi-vitamin-a .highcharts-dashboards-component-kpi-value,
#kpi-iron .highcharts-dashboards-component-kpi-value {
    font-size: 4em;
    line-height: 2.4rem;
    margin-top: 10px;
    color: var(--highcharts-color-0);
}

#kpi-iron .highcharts-dashboards-component-kpi-value {
    color: var(--highcharts-color-2);
}

#dashboard-col-1 .highcharts-color-0 {
    fill: var(--highcharts-color-2);
    stroke: var(--highcharts-color-2);
}

#kpi-vitamin-a .highcharts-dashboards-component-kpi-value::after,
#kpi-iron .highcharts-dashboards-component-kpi-value::after {
    content: "micrograms";
    display: block;
    font-size: 1rem;
}

.highcharts-plot-line {
    stroke-dasharray: 2px;
    stroke: var(--highcharts-color-3);
}

.highcharts-plot-line-label {
    fill: var(--highcharts-color-3);
}

.highcharts-description {
    padding: 0 20px;
}

#kpi-vitamin-a,
#kpi-iron {
    flex: 1 1 100%;
    height: 205px;
}

/* LARGE */
@media (max-width: 1200px) {
    #dashboard-col-0,
    #dashboard-col-1 {
        flex: 1 1 35%;
    }

    #kpi-wrapper {
        flex: 1 1 30%;
    }

    #kpi-vitamin-a,
    #kpi-iron {
        flex: 1 1 100%;
    }
}

/* MEDIUM */
@media (max-width: 992px) {
    #dashboard-col-0,
    #dashboard-col-1 {
        flex: 1 1 50%;
    }

    #kpi-wrapper {
        flex: 1 1 100%;
    }

    #kpi-vitamin-a,
    #kpi-iron {
        flex: 1 1 50%;
    }
}

/* SMALL */
@media (max-width: 576px) {
    #dashboard-col-0,
    #dashboard-col-1 {
        flex: 1 1 100%;
    }

    #kpi-wrapper {
        flex: 1 1 100%;
    }

    #kpi-vitamin-a,
    #kpi-iron {
        flex: 1 1 50%;
    }
}
