@import 'https://code.highcharts.com/css/highcharts.css';

.highcharts-flags-series .highcharts-point {
	transition: fill 250ms;
}
.highcharts-flags-series .highcharts-point text {
	transition: fill 250ms;
}
.darker-flags .highcharts-point path {
	fill: #395C84;
}
.darker-flags .highcharts-point text {
	fill: white;
}
.circle-flags .highcharts-point-hover path {
	fill: #395C84;
}
.circle-flags .highcharts-point-hover text {
	fill: white;
}