body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

#container {
    height: 420px;
}

.highcharts-figure {
    min-width: 360px;
    max-width: 820px;
    margin: 1em auto;
    font-size: 0.9em;
    font-family: Verdana, sans-serif;
}

.highcharts-description {
    margin: 0.3rem 10px;
}
