<?js
    var data = obj;
    data.forEach(function(sample) {
        ?>
    <li><a href="http://jsfiddle.net/gh/get/jquery/1.7.2/highcharts/highcharts/tree/master/samples/<?js~ sample.path ?>">
    <?js~ sample.desc ?></a>
    </li>
<?js
    });
?>
