#outer-container {
    min-width: 300px;
    max-width: 800px;
    margin: 1em auto;
}

#outer-container .button-group {
    padding-right: 2em;
}

#outer-container button {
    padding: 1em;
    border: 0;
    border-radius: 2px;
    font-size: 12px;
}

#container-1,
#container-2 {
    height: 400px;
}

.range-container {
    position: relative;
    padding-top: 2em;
}

input#range {
    width: 100%;
}

label[for="range"] {
    top: 0;
    position: absolute;
}
