* {
    font-family: Helvetica, Arial, sans-serif;
}

#container {
    height: 400px;
    min-width: 310px;
}

.highcharts-popup-annotations {
    display: none;
    position: absolute;
    left: calc(50% - 50px);
    width: 100px;
    background-color: white;
    border: 2px grey solid;
    padding: 10px;
    top: 150px;
}

.highcharts-demo-button {
    background: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
    transition: background 250ms;
}

.highcharts-demo-button:hover,
.highcharts-demo-button.active {
    background: #e6e6e6;
}
