@import 'https://code.highcharts.com/css/highcharts.css';

#main {
	max-width: 800px;
	margin: 0 auto;
}
#container {
	height: 400px;
}
.highcharts-loading {
	background: silver;
}
.highcharts-loading-inner {
	color: blue;
}