body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

figure.highcharts-figure {
    margin: 0;
}

#lang-select-wrapper {
    margin: 10px;
}

#lang-select {
    padding: 0.3em;
}
