* {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

.highcharts-figure {
    margin: 0 auto;
    max-width: 900px;
    min-width: 360px;
}

#container {
    height: 1200px;
}

.highcharts-description {
    margin: 0.3rem 10px;
}
