@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

#container {
    height: 250px;
    margin: 8px;
}

th {
    border-right: 1px solid gray;
}

tr {
    border-bottom: 1px solid red;
}