.container {
  margin: 0 auto;
}
.highcharts-spline-series{
  transition:all 100ms;
}

h5{
  font-size: 16px;
  font-weight: bold;
  display: block;
  color:#333;
  margin-bottom: 5px;
}
.cContainer{
  height:300px;
}
.container.controls{
  max-width:450px;
  border-radius:4px;
}
.form-group{
  margin-bottom:0px;
}
.form-check-inline{
  margin-right:4px !important;
}
label{
  text-align: left;
  line-height: 14px;
  white-space: nowrap;
  display: block !important;
  text-align: center;
  font-size: 12px;
  font-weight:normal
}
.badge{
  min-width:80px;
  display: block;
}
.badge-secondary{
  color:#000 !important;
  display: block;
  border:0px solid #424bcd !important;
  background-color: #fff !important;
}

.badge-secondary.active label{
  font-weight:bold;
  font-size: 13px;
  padding:2px 3px;
  border-radius:4px;
  color:#fff;
  white-space: nowrap;
  background-color: #424bcd !important;
}
input[type="range"]{
  margin-right:2px;
  padding:0px;
}

.fas, .fa{
  font-size:18px !important;
  color:#424bcd !important;
}

.fas.disabled, .fa.disabled{
  font-size:18px !important;
  color:#ccc !important;
}

.fas.disabled:hover, .fa.disabled:hover{
  font-size:18px !important;
  color:#ccc !important;
}

.fas:hover, .fa:hover{
  font-size:18px !important;
  color:#6a73f1 !important;
}


.btn-primary{
  color:#424bcd !important;
  border-color:#424bcd !important;
  background-color: #fff !important;
  height:30px !important;
  padding-top:2px !important;
}


.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active,
.show >.btn-primary.dropdown-toggle{
  color:#fff !important;
  border-color:#424bcd !important;
  background-color: #424bcd !important;
}
.val{
  font-size: 12px;
  width:50px;
  border:1px solid #ebebeb;
  border-radius:4px;
  display: none;
}
.val.active{
  border-color:#424bcd;
  border-width:2px;
}
.max,.min{
  font-size: 12px;
}