@charset "UTF-8";



/* ----------- HOMEPAGE ----------- */

.streamL{
	width:100px;white-space:normal;
}

/* hero content */
	#hero{
		background-color:#fff;
		width:90%;
		position: relative;
		height:480px;
	    background-color:transparent;
	    justify-content: left;
	    margin-top: 0px;
	}

	h1.title{
		margin-bottom:5px;
		margin-top:0px;
		font-size: 36px;
		opacity: 1;
		text-align: left;
		display: inline-block;
		padding:0px;
	}

	h2.fakeTitle{
		font-size: 36px;
		font-weight: 700;
		color: #25386f;
		opacity: 1;
	    float: none;
	    margin-left: 5px;
		line-height: 56px;
		margin-top:0px;
		margin-bottom:5px;
		padding:4px;
		white-space: nowrap;
		border-radius:4px;
	}

	#heroTitle{
		display:grid;
		grid-template-columns: 200px auto;
		grid-template-rows:56px;
		z-index: 100;
		margin-top:10px;
		align-items: center;
	}
	#heroContent {
		justify-content: center;
		border-right: 0px solid #ebebeb;
		padding-right:10px;
		z-index: 1030;
		height:fit-content;
	}

/*carousel items about each vertical*/
	#c0,#c1,#c2,#c3{
		opacity: 0;
		display: block;
		font-size:18px;
		line-height:24px;
		margin-top: 0px;
		width: 90%;
		padding:4px 10px 0px;
		border-radius:4px;
	}
	.carousel-item span{
		font-weight: bold;
		color:#5A62D3;
	}

/*demo button*/
	#heroContent #demoButton{
		text-align: left;
		position: absolute;
		top:325px;
		display: grid;
    	grid-template-columns: 1fr;
    	justify-items: start;
    	margin:10px 0px 10px 0px;
	}
	
	#heroContent #demoButton .btn-alternate {
	    background-color: #fff;
	    border: 1px solid #25386f;
	    color: #25386f;
	}
	#heroContent #demoButton a {
	    color: #424bcd;
	    font-weight: 700;
	}

/*drop down for smaller screens*/
	#chartLinksDropDown{
		margin-bottom: 0px;
	    display: none;
	    justify-content: left;
	    width:100%;
	}
	#chartLinksDropDown button.dropdown-toggle{
		background-color: #5A62D3;
	    border-color: #5A62D3;
	    font-size: 14px;
	    color: #fff;
	    font-weight: normal;
	    width: 100%;
	    display: block;
	    height: 45px;
	    border-radius: 4px;
	}

	#chartLinksDropDown .dropdown{
		width:100%;
	}

	#chartLinksDropDown .dropdown-menu {
		position: absolute;
	    top: 100%;
	    left: 0;
	    z-index: 1000;
	    display: none;
	    float: left;
	    min-width: 10rem;
	    padding: 0;
	    margin: 0;
	    font-size: 1rem;
	    color: #212529;
	    text-align: left;
	    list-style: none;
	    background-color: #fff;
	    background-clip: padding-box;
	    border: 1px solid rgba(0,0,0,.15);
	    border-radius: .25rem;
	}

	#chartLinksDropDown .dropdown-menu .dropdown-item,
	#chartLinksDropDown .dropdown-item.active, 
	#chartLinksDropDown .dropdown-item:active 
	{
	    color: #5A62D3;
	    height:45px;
	    line-height: 1.42857143em;
	    text-align: left;
	    border-top: none;
	    border-right: none;
	    border-bottom: 1px solid #5A62D3;
	    padding: 2px 8px;
	    white-space: nowrap;
	    display: block;
	    font-size: 14px;
	    font-weight: normal;
	    background-color: #fff;
	}

	#chartLinksDropDown .dropdown-menu.show {
	    display: block;
	     width:100%;
	}

	#chartLinksDropDown .dropdown-menu:active, #chartLinksDropDown .dropdown:active .dropdown-menu {
	    max-height: unset;
	    opacity: unset;
	    width:100%;
	}

	#chartLinksDropDown .dropdown-toggle::after {
		display: inline-block;
		margin-left: .255em;
		vertical-align: .255em;
		content: "";
		border: solid #FFF;
		border-top:0px;
		border-left:0px;
	}

/*buttons for larger screens */
	.chartLinks{
		top:30px;
		justify-content: left;
		opacity: 0;
	}
	.chartLinks .list-group-item {
	    position: relative;
	    float:left;
	    display: block;
	    width: 130px;
	    padding:0px 4px;
	    margin-bottom: -1px;
	    background-color: #47475c;
	    border-radius: 4px;
	    margin-right: 4px;
	    color: #fff;
	    font-size: 14px;
	    line-height: 24px;
	    height:24px;
	    white-space: nowrap;
	    text-align: center;
	}

	.chartLinks .list-group-item.active {
	    z-index: 2;
	    height:50px;
	    font-size: 14px;
	    padding-top:10px;
	    color: #fff;
	    background-color: #5A62D3;
	    border-color: #5A62D3;
	}

/*carousel tabs*/
	#contentCarousel .carousel-indicators{
	  top:0px;
	  height:0px;
	  position:relative;
	  justify-content: left;
	  margin-left:0px;
	  margin-right:0%;
	}

	#contentCarousel .carousel-indicators .active{
	  color:#5A62D3;
	  border-bottom:4px solid #5A62D3;
	}

	#contentCarousel .carousel-indicators li{
	  color:#47475c;
	  width:100px;
	  font-weight: 500;
	  text-align:center;
	  font-size: 16px;
	  background-color: transparent;
	  text-indent:0px;
	  padding:0px !important;
	  margin: 0px 20px 0px 0px !important;

	}

	#developers,#finance,#publishing,#science{
		opacity:1;
		height:30px;
		display:inline;
	}

	#contentCarousel .carousel-indicators li:hover{
	  color:#5A62D3;
	}

	#contentCarousel{
	  height:45px;
	  margin-top:0px;
	  margin-bottom:15px;
	}

	#developersCharts3{
		display: block;
		position:absolute !important;
		top: 0px;
		height: 550px;
		max-height:570px;
		margin:50px 0px 0px 0px;
		opacity:1;
		z-index:1;
		width:100% !important;
	}

	#developersCharts4{
		height:360px;
		z-index: 1030;
		border-radius:4px;
	}

	#demoChartContainer{
		padding-left:0px;
		padding-right:0px;
	}



	#demoChartContainer .controls{
		display: grid;
		justify-content: center;
		position: absolute;
		z-index: 1070;
		align-content: end
	}

/*individual charts and chart controls*/
	.chartInfo {
		margin-top:10px;
	}

	.chartControls{
		opacity: 0;
	}

	.controlGrid{
		display:grid;
		grid-template-columns: 130px 30px 130px 30px;
		grid-column-gap: 2px;
		border-radius: 4px;
		padding:4px 4px 4px 4px;
	}

	.controlGrid div:nth-child(1):not(.form-check){
		grid-column: 1 / span 2;
	}

	.controlGrid div:nth-child(2):not(.form-check){
	  	grid-column: 3 / span 2;
	}


	#mini{
		box-shadow: 0 19px 38px rgba(0,0,0,0.20), 0 15px 12px rgba(0,0,0,0.12);
		background-color:#fff;
		height:400px;
		padding:10px;
		border-radius:4px;
		z-index: 1035;
		margin-left:10px;
	}

	#demoChartContainer .controls{
		position:relative;
	}

	.controlGrid div label,
	.controlGrid div span,
	#developersGrid0 div label,
	#developersGrid0 div span{
		color:#222;
		font-size: 12px;
	}

	.controlGrid input[type="text"]{
	  width:40px;
	}

	#developersCharts3{
		display: block;
		position:absolute !important;
		top: 0px;
		height: 550px;
		max-height:570px;
		margin:50px 0px 0px 0px;
		opacity:1;
		z-index:1;
		width:100% !important;
	}

	#developersCharts4{
		opacity:0;
		height:360px;
		z-index: 1030;
		border-radius:4px;
	}

	#demoChartContainer{
	  background-color:transparent;
	  opacity:1;
	  align-items: center;
	}

	/*controls for the first chart*/
		#developers0Controls,
		#developers1Controls
		{
			display:none;
			position: absolute;
			width:100%;
			
		}

		#developersGrid0{
		  width:100%;
		  display:grid;
		  margin-left:0px;
		  grid-template-columns: 90%;
		  grid-column-gap:.5em;
		  align-items: center;
		  justify-items:center;
		  margin-left:5%;
		}

		/*radios*/
		#developersGrid0.controlGrid div:nth-child(1):not(.form-check){
			grid-column: 1 / span 1;
			grid-row:1 / span 1;
		}

		/*control header*/
		#developersGrid0.controlGrid div:nth-child(2):not(.form-check){
			grid-column: 1 / span 1;
			grid-row: 2 / span 1;
		}

		/*slider*/
		#developersGrid0.controlGrid div:nth-child(3):not(.form-check){
			grid-column: 3 / span 2;
			grid-row: 1 / span 1;
		}

		/*input value*/
		#developersGrid0.controlGrid div:nth-child(4):not(.form-check){
			grid-column: 3 / span 1;
			grid-row: 2 / span 1;
		}

		/*other controls*/
		#developersGrid0.controlGrid div:nth-child(5){
			grid-column: 4 / span 1;
			grid-row: 2 / span 1;
		}

		#developersGrid0 .radios{
			margin-left:0px;
			/*border-right:1px solid #ebebeb;*/
			}
		#developersGrid0 .form-check-inline {
			margin-right:0px;
		}

		#developersGrid0 .form-check-label{
			font-size:24px;
			padding-left:0px;
		}

		#developers0Controls #pointWidthControls{
			display:grid;grid-template-columns: 130px 10px;
			opacity:1;
			margin-left:20px;
		}

		#developers0Controls #pointWidthControls div:nth-child(1){
			grid-column: 1 / span 2;
			grid-row:1 / span 1;
		}

		#developers0Controls #pointWidthControls div:nth-child(2){
			grid-column: 1 / span 1;
			grid-row:2 / span 1;
		}

		#developers0Controls #pointWidthControls div:nth-child(3){
			grid-column: 2 / span 1;
			grid-row:2 / span 1;
		}

		#developers0Controls #itemChartControls {
			display: grid;
			grid-template-columns: 20% 20% 20% 20% 20%;
			grid-template-rows: 20px 10px 10px; 
			grid-column-gap: 10px;
			grid-row-gap: 0px;
			margin-left: 0px;
			margin-top:0px;
			align-items: start;
			justify-items: center;
		}

		/*label*/
		#developers0Controls #itemChartControls div:nth-child(1) {
			grid-column: 1 / span 1;
			grid-row: 1 / span 1;
			white-space: nowrap;
		}
		/*label*/
		#developers0Controls #itemChartControls div:nth-child(2) {
			grid-column: 2 / span 1;
			grid-row: 1 / span 1;
		}
		/*label*/
		#developers0Controls #itemChartControls div:nth-child(3) {
			grid-column: 3 / span 1;
			grid-row: 1 / span 1;
			white-space: nowrap;
		}
		/*label*/
		#developers0Controls #itemChartControls div:nth-child(4) {
			grid-column: 4 / span 1;
			grid-row: 1 / span 1;
		}
		/*label*/
		#developers0Controls #itemChartControls div:nth-child(5) {
			grid-column: 5 / span 1;
			grid-row: 1 / span 1;
		}
		/*slider*/
		#developers0Controls #itemChartControls div:nth-child(6) {
			grid-column: 1 / span 1;
			grid-row: 2 / span 1;
		}
		/*slider*/
		#developers0Controls #itemChartControls div:nth-child(8) {
			grid-column: 2 / span 1;
			grid-row: 2 / span 1;
		}
		/*slider*/
		#developers0Controls #itemChartControls div:nth-child(10) {
			grid-column: 3 / span 1;
			grid-row: 2 / span 1;
		}
		/*slider*/
		#developers0Controls #itemChartControls div:nth-child(12) {
			grid-column: 4 / span 1;
			grid-row: 2 / span 1;
		}
		/*slider*/
		#developers0Controls #itemChartControls div:nth-child(14) {
			grid-column: 5 / span 1;
			grid-row: 2 / span 1;
		}
		/*value*/
		#developers0Controls #itemChartControls div:nth-child(7) {
			grid-column: 1 / span 1;
			grid-row: 3 / span 1;
		}
		/*value*/
		#developers0Controls #itemChartControls div:nth-child(9) {
			grid-column: 2 / span 1;
			grid-row: 3 / span 1;
		}
		/*value*/
		#developers0Controls #itemChartControls div:nth-child(11) {
			grid-column: 3 / span 1;
			grid-row: 3 / span 1;
		}
		/*value*/
		#developers0Controls #itemChartControls div:nth-child(13) {
			grid-column: 4 / span 1;
			grid-row: 3 / span 1;
		}
		/*value*/
		#developers0Controls #itemChartControls div:nth-child(15) {
			grid-column: 5 / span 1;
			grid-row: 3 / span 1;
		}
		#developers0Controls #itemChartControls input[type='range'] {
			width: 100%;
			transform: rotateZ(0deg);
		}
		/*icons*/
		.fas,.far{
			font-size:20px;
			color:#47475c;
			line-height:2px;
		}

	/*controls for interactive gantt*/

		#science1Controls
		{
			display:none;
			position: absolute;
			top: 340px;
			left: 10px;
			z-index: 1070;
		}
		#science1Controls  #buttonGroup {
			max-width: 1200px;
			min-width: 320px;
			margin: 1em auto;
		}
		#science1Controls .hidden {
		  	display: none;
		}
		#science1Controls .main-container button {
		    padding: .25rem .5rem;
		    font-size: .875rem;
		    line-height: 1.5;
		    border-radius: .2rem;
		    height:30px;
		    width:140px;
		}
		#science1Controls .main-container button[disabled] {
		  color: silver;
		}
		#science1Controls .button-row button {
		  display: inline-block;
		  margin: 0;
		}
		#science1Controls .overlay {
		  position: fixed;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  background: rgba(0, 0, 0, 0.3);
		  transition: opacity 500ms;
		}
		#science1Controls .popup {
		  margin: 70px auto;
		  padding: 20px;
		  background: #fff;
		  border-radius: 5px;
		  width: 400px;
		  position: relative;
		}
		#science1Controls .popup input, .popup select {
		  width: 100%;
		  margin: 5px 0 15px;
		}
		#science1Controls .popup button {
		  float: right;
		  margin-left: 0.2em;
		}
		#science1Controls .popup .clear {
		  height: 50px;
		}
		#science1Controls .popup input[type=text], .popup select {
		  height: 2em;
		  font-size: 16px;
		}

	/*controls for the rich information on click */
		#publishing2Controls
		{
		    position: absolute;
		    top: 40px;
		    left: 550px;
		    width:300px;
		    display:none;
		    margin-left:20px;
		}

		#publishing2Grid{
			display:grid;
			grid-template-columns:40px 1fr;
			align-items: center;
		}

	    /* instructions */
		#publishing2Grid .subheader {
			display: inline;
			font-size: 11px;
			grid-column: 1 / span 2;
		}

		#publishing2Grid .subheader small{
			color:#222;
			font-size:10px;
		}

	/* controls for the rich information on click chart */
		#publishing2Grid .subheader h4 {
			margin: 0;
			font-size:18px;
			font-weight:300;
			grid-column: 1 / span 2;
			grid-row: 2 / span 1;
		}
		/*flag */
		#publishing2Grid .f32 {
			vertical-align: bottom !important;
			grid-column: 1 / span 1;
			grid-row: 3 / span 1;
		}

		/*country name */
		#publishing2Grid h2 {
			grid-column: 2 / span 1;
			grid-row: 3 / span 1;
			font-size:14px;
			margin-bottom:0px;
		}

		#publishing2Grid #country-chart{
			width:200px;
			height:200px;
			grid-column: 1 / span 1;
			grid-row: 4 / span 1;
		}

	/*for synchronized charts*/
		.syncCharts {
			height: 110px;
			margin-bottom:5px;
		}

		.highcharts-bindings-wrapper {
			display: block;
			width: 40px;
			position: absolute;
			z-index: 10;
			top: 0px;
		}

/*tooltip formatting for finance animation*/
	#tooltipGrid{
		padding:5px;
		display:grid;
		grid-template-columns:120px;
		grid-column-gap:1px;
		grid-row-gap: 8px;
		height:90px;
		align-items:start;
		background-color:transparent;
	}
	#tooltipGrid .date{
		white-space:normal;
		grid-column:1 / span 1;
		color:#333;
		font-size:9px;
		text-transform:uppercase;

	}
	#tooltipGrid .date img{
		opacity:.5;
		margin-right:4px;
		width:10px;
	}
	#tooltipGrid .infoGrid{
		display:grid;
		grid-template-columns: 30px 30px;
		grid-column:1 / span 1;
	}

	#tooltipGrid .infoGrid .label{
		text-transform:uppercase;
		font-size:9px;
		color:#666;
		font-weight:400;
		border-bottom:1px dotted #856eff;
	}
	#tooltipGrid .infoGrid .data{
		grid-column: 2 / span 1;
		font-size:12px;
		font-weight:700;
		border-bottom:1px dotted #856eff;
	}

/* info about each chart*/
	#cContent,#cContent p{
		text-align:left;
	}
	#cContent #introP{
		opacity:1;
		display: none;
	}
	#cContent .chartInfo p{
		margin-top: 0px;
		margin-bottom:.5em;
	}
	#cContent .chartInfo p.title{
		font-size:18px;
		color:#5A62D3;
		font-weight:700;
	}
	#cContent .chartTitle span{
		font-size:16px;
		font-weight:500;
		color:#222
	}

	#cContent #developers0Links,
	#cContent #finance0Links,
	#cContent #publishing0Links,
	#cContent #science0Links
	{
		display:none;
		height:1px;
	}

/*the rest of the homepage*/
	#products,
	#stories,
	#threeCol{
		margin-bottom:6px;
		padding-bottom:30px;
		background-color: #fff;
	}
	#products h3,
	#stories h3 {
		/*font-size: 28px;*/
		padding-bottom:15px;
	}
	#products h3{
		text-align:center;
	}
	#products p{
		margin-top:15px;
		min-height: 70px;
	}
	#products h2,
	#stories h2{
		font-weight: 700;
		margin-top:30px;
		margin-bottom:30px;
	}

	#stories img.post-image{
		width:540px;
	}

	#stories .entry-content{
		    height: 220px;
	    overflow: hidden;
	}

	#threeCol .column{
		border-right:6px solid #fcf9f9;;
		min-height: 200px;
	}
	#threeCol .column.last{
		border-right:0px solid #fcf9f9;;
		min-height: 200px;
	}

	#threeCol h5{
		text-align: center;
		padding-top:30px;
		padding-bottom:15px;
	}
	#threeCol .tweet {
	    background-color: #fff;
	    padding: 15px;
	    border-radius: 5px;
	    border: 1px solid #ebebeb;
	    color: #555;
	    margin: 15px 0 30px 0;
	}

	#threeCol .tweet .tweet-body {
	    border-bottom: 1px solid #ddd;
	    padding-bottom: 5px;
	}

	#threeCol .tweet-footer {
	    padding-top: 10px;
	    font-size: 14px;
	}

	#threeCol .tweet .tweet-body p {
	    font-weight: 500;
	}

	#threeCol .tweet-body a {
	    color: #1DCAFF;
	}
	#threeCol .grayed {
	    color: #8A8A8A;
	    margin: 0;
	}

	#threeCol .box-header {
	    color: #eeeaea;
	}

	#threeCol .box-header, .box-header>a>i {
	    transition: 0.3s ease-in-out;
	    -webkit-transition: 0.3s ease-in-out;
	    -moz-transition: 0.3s ease-in-out;
	    -ms-transition: 0.3s ease-in-out;
	}
	#threeCol .box-header, .box-header>a {
		padding-top:15px;
	    font-size: 38px;
	    line-height: 1.5;
	    font-weight: 300;
	    letter-spacing: -1px;
	    color: #787D88;
	    transition: 0.3s ease-in-out;
	    -webkit-transition: 0.3s ease-in-out;
	    -moz-transition: 0.3s ease-in-out;
	    -ms-transition: 0.3s ease-in-out;
	}

	.clients-container {
	    text-align: center;
	    padding-top: 30px;
	    padding-bottom: 50px;
	    background-color: #fff;
	}
	.clients-container .client-cell img {
	    height: 30px;
	    max-width: 100%;
	    filter: gray;
	    -webkit-filter: grayscale(100%);
	    -moz-transition: all 0.3s ease-in-out;
	    -webkit-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	}

	.clients-container .client-cell {
	    display: inline-block;
	    padding: 20px;
	}

	.ui-widget-content {
	    border: 1px solid #dddddd;
	     background: transparent;
	    color: #333333;
	}

/* ----------- END HOMEPAGE ----------- */


/* ----------- MENU ---------- */
/* ----------- mast/header/nav brand & logo------------ */
	header#masthead{
		padding: 0;
		border-bottom: none;
	}

	#masthead .navbar-nav>li>a.dropdown-toggle ,
	#masthead .navbar-nav>li>a span.caret
	{
		color: #fff;
		font-size: 18px;
		font-weight: 500;
		text-decoration: none;

	}
	#masthead .navbar-nav > li >  a{
		margin-right: 10px;
	    padding: .5rem;
	}

	#masthead .navbar-nav > li >  a > div{
		padding:4px 0px 0px 8px;
		float:right;
	}
	#masthead .navbar-nav >  li > a > div.arrow-up {
	    display: none;
	}
	#masthead .navbar-nav > li > a > div.arrow-down {
	    display: inline;
	    vertical-align: middle;
	}

	#masthead .navbar-nav>li>a.dropdown-toggle:focus, 
	#masthead .navbar-nav>li>a.dropdown-toggle:hover
	{
		background-color: transparent;
		color:#d4d5ff;
	}

	#masthead .fas {
	    font-size: 24px;
	    color: inherit;
	}

	.navbar{
		padding-top:0px;
	}

	.navbar-expand-md .navbar-collapse {
	    justify-content: center;
	}

	#blog{
		display:grid;
		grid-template-columns:25px 100px;
		margin-right:30px;
		align-items: center;
	}
	#blog a{
		color:#fff;
		height:24px;
		font-size:14px;
		padding-left:5px;
	}

	#masthead .navbar-nav>li:nth-last-child(-n+2)>a {
	    font-weight: 500;
	    font-size: 18px;
	    line-height: 1em;
	}

	#masthead #getit{
		font-size: 18px;
	    font-weight: 700;
	    color: #C9ECB4;
	    margin-top: 0px;
	    line-height: 1;
	    border: 1px solid #C9ECB4;
	    border-radius: 4px;
	    width: 90px;
	    height: 35px;
	    text-align: center;
	}

	.col-lg-9, .col-lg-3  {
		    flex: 0 0 100%;
		    max-width: 100%;
		}

	.navbar-brand img {
	    width: auto;
	    height: 80%;
	    margin-top: 0px;
	}

	.navbar-toggle {
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    margin: 0;
	    height: 50px;
	    width: 50px;
	    font-size: 30px;
	    line-height: 50px;
	    text-align: center;
	    padding: 0;
	    color: #eeeaea;
	    border: 0;
	    border-radius: 0;
	    cursor: pointer;
	}

	.navbar-toggler-icon {
	    display: inline-block;
	    width: 1.5em;
	    height: 1.5em;
	    vertical-align: middle;
	    content: "";
	}

	.navbar-toggler .navbar-toggler-icon {
	    background-image: url('toggle.svg')
	}

	#menu .navbar-header .navbar-toggle.collapsed {
	    -moz-transform: rotate(0deg);
	    -moz-transition: -moz-transform 250ms ease-out 0s;
	    -ms-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    -o-transition: -o-transform 250ms ease-out 0s;
	    -webkit-transform: rotate(0deg);
	    -webkit-transition: -webkit-transform 250ms ease-out 0s;
	    transform: rotate(0deg);
	    transition: transform 250ms ease-out 0s;
	    background-color: inherit;
	}



/* ----------- main menu nav ----------- */
	#menu-main_menu{
	    display: flex;
	    justify-content: space-around;
	}

	#menu-main_menu .nav-item a{
		height: 50px;
		line-height: 2.2em;

	}
	#menu-main_menu .nav-item a.dropdown-item {
	    height: auto;
	    line-height: 1.2em;
	}

	header#masthead{
		height:190px;
		background-color:transparent;
		box-shadow: none;
		background-image: url(navigation-curved-bg.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: -300px -30px;
		z-index: 1080;
	}

/* ----------- sub menu ----------- */

	#supermenu{
		display: block;
	}

	#supermenu .promo{
		padding-top:100px;
		padding-left:10px;
		width:270px
	}


	#supermenu .promo a,
	#supermenu .promo a.link{
		font-size:16px;
		line-height: 18px;
	}
	#supermenu .promo h5{
		font-size:20px;
		margin-bottom:.5em;
		color:#5A62D3;
	}
	#supermenu .promo p{
		margin-bottom:.5em;
	}

	.sub-menu a, a {
	    font-size: 16px;
	    font-weight: 700;
	    text-decoration: underline;
	    color: #cccff6;
	}

	.subMenu.collapsing{
		position:absolute;
		height:0;
		overflow:hidden;
		transition:none 0s ease
	}

	.subMenu{
		position:absolute;
		top:50px;
		left:-15px;
	    background-image:url('navigation-curved-bg-bottom.svg');
	    background-repeat:no-repeat;
	    background-position: -130px 0px;
	    background-color:transparent; 
	    background-size: cover;
	    border:0px solid #fff;
	    height:250px;
	    width:110%;
	}

	.subMenu .sub-menu {
	    padding: 0px 0px 0px 30px;
	    margin-left: -100px;
	   
	}

	
	.sub-menu .dropdown-item {
		padding:0px 0px 4px 0px;
		font-weight:bold;
		text-align:right;
	}

	.sub-menu .sublinks{
		margin-top: 40px;
	}
	#productsMenu .sublinks div,
	#demosMenu .sublinks div{
		text-align:center;
	}
	#productsMenu .sublinks{
		margin-top:10px;
	}
	#productsMenu .sublinks a {
	    height: 40px;
	}
	#demosMenu .sublinks a {
	    display: block;
	    height: 50px;
	}
	#demosMenu img{
		margin-top:10px;
		border:1px solid rgba(255,255,255,.5);
		border-radius:4px;
	}
	#demosMenu img:hover{
		border:1px solid rgba(255,255,255,1);
	}
	#developerMenu .sublinks a,
	#supportMenu .sublinks a{
		    display: block;
		    margin-left: 30px;
    		margin-top: -10px;
    		margin-bottom: 5px;
		
	}
	#supportMenu .sublinks a{
		    margin-left: 35px;
		
	}
	#developerMenu  .fas,
	#supportMenu  .fas,
	#supportMenu  .fab {
	    font-size: 24px;
	    color: #fff;
	    float:left;
	}
	#supportMenu  .fab {
		margin-top:-10px;
	}
	.sub-menu .sublinks p{
		color:#fff;
		font-size:1em;
		line-height:1.5em;
		margin-bottom:0px;
	}
	.sub-menu .sublinks img{
		width:174px;
	}

	#productsMenu .subproducts{
		margin-top:20px;
		text-align:center;
	}

	#productsMenu .subproducts li a{
		font-weight: 400;
		font-size:14px;
		line-height: 18px;
	}
	#productsMenu .subproducts li p{
		color:#fff;
	}

	#demosMenu .subdemos{
		padding-top:5px;
	}

	#demosMenu .subdemos a.badge{
		display: inline-grid;
		grid-template-columns: auto;
		font-weight: 400;
		font-size:14px;
		line-height: 18px;
		background-color: transparent;
		border:1px solid #fff;
		padding: .25rem .4rem;
		margin-right: 3px;
		margin-bottom:3px;
		text-decoration: none;
	}

	#demosMenu .subdemos a.badge img{
		
		padding:0px 0px 0px 0px;
		margin:0px;
		
	}
	#demosMenu .subdemos a.badge p{
		width:fit-content;
		margin:0px;
	}

	

	#demosMenu .subdemos li:nth-child(6) a{
		font-weight: 700;
		font-size:16px;
	}
	

	#supermenu #menu-main_menu.navbar-nav{
		display: flex;
	    flex-basis: auto;
	    align-items: center;
	    width: 100%;
	    flex-direction: row !important;
	}

	.w-100 {
	    width: 98%!important;
	}


/* ----------- global menu dropdown ----------- */


	#masthead .navbar-nav >  li > a > div.arrow-down{
		display:inline;
	}
	#masthead .navbar-nav >  li > a > div.arrow-up{
		display: none;
	}

	/*///open*/
	#masthead .navbar-nav > li > a[aria-expanded="true"] > div.arrow-down
	{
		display:none;
	}
	#masthead .navbar-nav > li > a[aria-expanded="true"] > div.arrow-up
	{
		display:inline;
	}

	/*closed*/
	#masthead .navbar-nav > li > a.collapsed[aria-expanded="false"] > div.arrow-up
	{
		display:none;
	}
	#masthead .navbar-nav > li > a.collapsed[aria-expanded="true"] > div.arrow-up
	{
		display:inline;
	}

	/*keep highlight on parent on hover*/
	.nav-item.menu-item:focus-within .dropdown-toggle{
		background-color: #5b6b7a;
	}
	.nav-item.menu-item:hover .dropdown-toggle{
		background-color: #5b6b7a;
	}

	.dropdown-menu a:focus,
	.dropdown-menu a:hover{
		background-color: transparent;
		color: #90ef7f;
	}

	#menu-main_menu .navbar-nav:focus:not(.dropdown-toggle),
	#menu-main_menu .nav-link:hover:not(.dropdown-toggle){
		color: #90ef7f;
	}

	.dropdown-item:focus, .dropdown-item:hover {
	    color: #fff;
	    text-decoration: underline;
	    background-color: transparent;
	}

/* ----------- css top menu chevron toggle down ----------- */
	.dropdown-toggle::after{
		border: solid #A9A5BF;
		border-width: 0 2px 2px 0;
		display: none;
		padding: 3px;
	    transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	}


/*MEDIA QUERIES*/


@media (min-width: 1700px){
	#developersGrid0{
		  width:100%;
		  display:grid;
		  margin-left:0px;
		  grid-template-columns: 25% 70%;
		  grid-column-gap:.5em;
		  align-items: center;
		  margin-left:15%;
		}
}

@media (min-width: 1200px){
	#menu-main_menu {
	    width: 500px;
	}
}

@media (min-width: 1024px){
	.navbar-collapse .navbar-toggler {
	    display: none;
	}
	.col-lg-9{
		    flex: 0 0 75%;
		    max-width: 75%;
	}
	.col-lg-3  {
		    flex: 0 0 25%;
		    max-width: 25%;
	}
}

@media(max-width: 1600px){
	#publishing2Controls
	{
		left: 500px;
		display:none;
	}
	#developersGrid0{
		margin-left:5%;
	}
}

@media (max-width: 1500px) {

	#publishing2Controls
	{
	    left: 450px;
	    display:none;
	}

	#chartLinksButtons.d-lg-block {
    	display: none!important;
	}
	#chartLinksDropDown{
		display: flex;
	}

	#chartLinksButtons{
		display: none;
	}
	
    .controlGrid div label, .controlGrid div span, #developersGrid0 div label, #developersGrid0 div span{
	    font-weight: 700;
	    color: #000;
	    font-size:12px;
	    margin-left: 0px;
	    margin-bottom: 0;
	}

	#developers0Controls{
		margin-left:20px;
	}

	#developersGrid0 {
		    width: 90%;
		    display: grid;
		    margin-left: 0px;
		    grid-template-columns: 100%;
		    grid-column-gap: .5em;
		    align-items: center;
		    justify-items: center;
	}

	#developers0Controls #itemChartControls input[type='range'] {
	    width: 100%;
	}

	.controlGrid input[type="range"]{
		width:70px;
	}

	#pointWidth{
		width:100px;
	}

	.subMenu .sub-menu {
	    padding: 0px 0px 0px 60px;
	    margin-left: 0px;
	}
}

@media(max-width: 1400px){
	#publishing2Controls
		{
		    left: 380px;
		    display:none;
		}
}

@media(max-width: 1300px){

	#developersGrid0 .radios{
		  margin-top:4px;
	}

	#publishing2Controls {
	    position: absolute;
	    top: 230px;
	    left: 0px;
	    width: 80%;
	    display: none;
	}

	#publishing2Controls #chartContainer {
	    float: none;
	    width: 300px;
	    margin: 0;
	}

	#publishing2Controls #country-chart{
		overflow:visible !important;
		width:100%;
		height: 100px;
		grid-column: 1 / span 2;
	}

	#publishing2Controls #info {
	    float: left;
	    width: 270px;
	    padding-left: 20px;
	    margin: 0px;
	    border-left: 1px solid silver;
	}

	#publishing2Controls h2 {
	    display: inline;
	    font-size: 12px;
	}
	#publishing2Controls .subheader h4 {
	    margin: 0;
	    font-size:12px;
	    line-height: 8px;
	}

	#publishing2Controls .f32 .flag {
    	transform:scale(.7,.7);
    }

}
@media (max-width: 1200px) and (min-width: 768px){
	.navbar {
	     display: flex; 
	}
}

@media(max-width: 1200px){
	
	#developersGrid0 {
	    width: 100%;
	    display: grid;
	    margin-left: 0px;
	    grid-template-columns: 80%;
	    grid-column-gap: .5em;
	    align-items: center;
	}
	#developers0Controls {
	    margin-left: 10%;
	}
	#supermenu #menu-main_menu.navbar-nav {
	    display: flex;
	    flex-basis: auto;
	    align-items: center;
	    margin-right:30%;
	    flex-direction: row !important;
	}
	#masthead .navbar-nav > li > a > div {
	     float: none; 
	}
}

@media (max-width: 1024px) {
	header#masthead{
		height:45px;
		 background-color: #47475c;
		background-image:none;
	}

	.navbar-brand {
	    height: 35px;
	    margin: 0;
	    top: auto;
	    left: auto;
	    padding-left:10px;
	}
	
	#masthead .menuWidthB{
		padding-left:0px;
		padding-right:0px;
	}

	#masthead #menu-main_menu.navbar-nav > li{
		text-align:center;
		padding: 10px 0px;
    border-bottom: 1px solid rgba(255,255,255,.5);
    width: 100%;
	}
	#masthead #menu-main_menu.navbar-nav > li:nth-child(1){
		border-top:1px solid rgba(255,255,255,.5);
		
	}
	#masthead #menu-main_menu.navbar-nav > li:nth-child(5){
		border-bottom:0px solid rgba(255,255,255,.5);
		text-align:center;
	}
	#supermenu.collapse:not(.show),
	#supermenu.accordion:not(.collapse){
		display: none;
	}
	#supermenu.collapse{
	    margin-top:0px;
	    padding-bottom:10px;
	    background-size: cover;
	    background-color: #47475c;
	    border:0px solid #fff;
	    height:auto;
	    flex-basis: auto;
	    align-items: center;
	    width: 100%;
	    padding-top: 20px;
	}
	#supermenu #menu-main_menu.navbar-nav {
	    display: flex;
	    flex-basis: auto;
	    align-items: center;
	    width: 100% !important;
	    margin: auto;
	    flex-direction: column !important;
	}
	#supermenu .promo {
	   display: none;
	    width: 270px;
	}
	.subMenu{
		position:relative;
		top:auto;
		left:auto;
	    background-image:none;
	    background-repeat:no-repeat;
	    background-position: 0px 0px;
	    background-color:transparent; 
	    border:0px solid #fff;
	    height:fit-content;
	    padding-top:0px;
	    width:110%;
	}

	.subMenu .sub-menu{
		padding-left: 0px;
	}
	.sub-menu .sublinks {
	    padding-top: 0px;

	}
	.sub-menu .sublinks div {
		padding:10px;
	}
	.sub-menu .sublinks p{
		display: none;
		color:#fff;
		font-size:1em;
		line-height:1.5em
	}
	.sub-menu .sublinks a img{
		display: none;
	}

	.subproducts li:nth-child(1){
		display: none;
	}
	#productsMenu .subproducts li a{
		   font-size: 16px;
		    font-weight: 700;
		    text-decoration: underline;
		    color: #cccff6;
		   line-height: 2.2em;
	}

	.sub-menu .sublinks img {
	    display: none;
	}

	.list-inline-item {
	    display: block;
	}
	.sub-menu .dropdown-item {
		text-align:center;
		padding-top:10px;

	}
	#masthead #getit{
		font-size: 18px;
	    font-weight: 700;
	    color: #C9ECB4;
	    margin: 20px 40%;
	    line-height: 1;
	    border: 1px solid #C9ECB4;
	    border-radius: 4px;
	    width: auto;
	    height: 35px;
	    text-align: center;
	}
	#menu-main_menu .nav-item a {
	    height: auto;
	    line-height: 1em;
	}
	#menu #navbar-header .navbar-toggler {
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    margin: 0;
	    height: 50px;
	    width: 50px;
	    font-size: 30px;
	    line-height: 50px;
	    text-align: center;
	    padding: 0;
	    color: #eeeaea;
	    border: 0;
	    border-radius: 0;
	    cursor: pointer;
	    z-index: 2000;
	}

	#menu .navbar-brand a img {
	    width: auto;
	    height: 100%;
	    margin-top: -40px;
	    margin-left: -35px;
	}
	.navbar-toggler {
		position: fixed;
		right:0;
	}
	#hero {
	    margin-top: 50px;
	}

	#heroContent{
		height: fit-content;
	}
	#heroTitle {
	    display: grid;
	    grid-template-columns: 200px auto;
	    grid-template-rows: 56px;
	    z-index: 100;
	    margin-top: 10px;
	    align-items: center;
	}
	h1.title {
		font-size:36px;
	}

	h2.fakeTitle {
		font-size:36px;
		margin-left: 5px;
    	line-height: 20px;
	}
	
	.highcharts-bindings-wrapper {
	    display: block;
	    width: 40px;
	    height: 100%;
	    position: absolute;
	    z-index: 10;
	    top: 0px;	
	}

	#developers0Controls{
		margin-left:5%;
	}
	#blog{
		display: none;
	}
}

@media (max-width: 767px) {
	#hero{
		height: 800px;
	}
	#heroContent #demoButton {
	    text-align: left;
	    position: absolute;
	    top: 675px;
	    display: grid;
	    grid-template-columns: 1fr;
	    justify-items: start;
	    margin: 10px 0px 10px 0px;
	}
}

@media (max-width: 576px) {

	#heroContent #demoButton {
	    position: absolute;
	    top: 600px;
	    width:100%;
	    text-align: center;
    	justify-items: center;
	}

	#developersCharts3, #scChart{
		/*margin-top:200px;*/
		height:500px;
    }

    #hero{
    	height:800px;
    }

    #heroContent{
    	height:fit-content;
    }

    #heroTitle{
    	line-height: 52px;
    }
    h1.title {
		font-size:30px;
	}

	h2.fakeTitle {
		font-size:30px;
		margin-left: 2px;
	}

    /*don't show the big buttons*/
    #chartLinkButtons{
    	display: none;
    	opacity:0;
    }
    #chartLinksDropDown{
	    display: flex;
	    justify-content: start;
	    width:100%;
	    
	}
	
	#contentCarousel {
	    margin-bottom: 5px;
	}
	
	#cContent{
		display: none;
	}
	#c0, #c1, #c2, #c3 {
		margin-top:10px;
	    font-size: 18px;
	    line-height: 24px;
	    width: 100%;
	}
    .chartInfo{
    	display: none;
    	opacity:0;
    }
    #developersCharts4 {
  		margin-top:0px;
    	height:fit-content;
	}
	#developers0Controls #itemChartControls span{
		display: none;
	}
	

	#developers0Controls, #developers1Controls {
	    display: none;
	    position: absolute;
	   
	}
	#developersGrid0 div label, #developersGrid0 div span {
	    font-weight: 700;
	    color: #000;
	    font-size: 12px;
	    margin-left: .2rem;
	    margin-bottom: 0;
	}
	
	.fas,.far{
		font-size:18px;
		color:#47475c;
		line-height:2px;
	}

	#publishing2Controls #country-chart{
		overflow:visible !important;
		width:270px;
		height: 90px;
	}
	
    #science1Controls .popup {
	    width: 340px;
	    margin: 10px 55px;
	    position: relative;
	}
	.syncCharts {
	  height: 110px;
	  margin-bottom:5px;
	}

}

