
/*tooltip formatting for finance animation*/
#tooltipGrid{
		padding:5px;
		display:grid;
		grid-template-columns:120px;
		grid-column-gap:1px;
		grid-row-gap: 8px;
		height:90px;
		align-items:start;
		background-color:transparent;
	}
	#tooltipGrid .date{
		white-space:normal;
		grid-column:1 / span 1;
		color:#333;
		font-size:9px;
		text-transform:uppercase;

	}
	#tooltipGrid .date img{
		opacity:.5;
		margin-right:4px;
		width:10px;
	}
	#tooltipGrid .infoGrid{
		display:grid;
		grid-template-columns: 30px 30px;
		grid-column:1 / span 1;
	}

	#tooltipGrid .infoGrid .label{
		text-transform:uppercase;
		font-size:9px;
		color:#666;
		font-weight:400;
		border-bottom:1px dotted #856eff;
	}
	#tooltipGrid .infoGrid .data{
		grid-column: 2 / span 1;
		font-size:12px;
		font-weight:700;
		border-bottom:1px dotted #856eff;
	}


