#container {
    max-width: 800px;
    height: 400px;
    margin: 1em auto;
}

caption {
    padding-bottom: 5px;
    font-family: Verdana, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color: #555;
}

table {
    font-family: Verdana, sans-serif;
    font-size: 12pt;
    color: #555;
    border-collapse: collapse;
    border: 3px solid #ccc;
    margin: 2px auto;
}

tr {
    border-bottom: 2px solid #eee;
}

th {
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
    padding: 12px 15px;
    border-collapse: collapse;
}

th[scope="col"] {
    background-color: #ffe;
}

th[scope="row"] {
    background-color: #f0fcff;
    text-align: left;
}

td {
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
    padding: 12px 15px;
    border-collapse: collapse;
}

.highcharts-demo-button {
    background: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
    transition: background 250ms;
}

.highcharts-demo-button:hover {
    background: #e6e6e6;
}
