/* SPDX-License-Identifier: LicenseRef-Highcharts */

/* Grid Pro TreeView styles */

.hcg-tree {
    --ig-tree-indent-size: 16px;
    --ig-tree-toggle-gap: 5px;
    --ig-tree-toggle-slot-size: 20px;

    display: flex;
    align-items: center;
    min-width: 0;
    padding-left: calc(var(--ig-tree-depth, 0) * var(--ig-tree-indent-size));

    .hcg-tree-toggle {
        flex: 0 0 var(--ig-tree-toggle-slot-size);
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--ig-tree-toggle-slot-size);
        margin-right: var(--ig-tree-toggle-gap);

        button[aria-expanded="true"] > svg {
            transform: rotate(90deg);
        }
    }

    .hcg-tree-value {
        flex: 1 1 auto;
        min-width: 0;
    }
}
