.hcg-container {
    --ig-link-color: var(--hcg-link-color, inherit);
    --ig-link-text-decoration: var(--hcg-link-text-decoration, underline);
    --ig-link-hovered-color: var(--hcg-link-hovered-color, var(--ig-link-color));
    --ig-link-hovered-text-decoration: var(--hcg-link-hovered-text-decoration, none);
    --ig-link-font-weight: var(--hcg-link-font-weight, inherit);

    a {
        color: var(--ig-link-color);
        text-decoration: var(--ig-link-text-decoration);
        font-weight: var(--ig-link-font-weight);
    }

    a:hover {
        color: var(--ig-link-hovered-color);
        text-decoration: var(--ig-link-hovered-text-decoration);
    }
}
