@import url("https://code.highcharts.com/css/highcharts.css");

.highcharts-figure {
    max-width: 800px;
    margin: 1em auto;
}

.cell {
    height: 220px;
}

.highcharts-tooltip {
    font-size: 20px;
}

.highcharts-area {
    fill-opacity: 0.3;
}

#dashboard-cell-1 .highcharts-color-0 {
    fill: var(--highcharts-color-1);
    stroke: var(--highcharts-color-1);
}

#dashboard-cell-2 .highcharts-color-0 {
    fill: var(--highcharts-color-2);
    stroke: var(--highcharts-color-2);
}
