body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
    background-color: #f8f8f8;
}

.top-bar {
    display: none;
}

.chart {
    height: 400px;
}

.hidden {
    display: none;
}

.intro {
    font-size: 0.9em;
    padding: 30px;
}

#delays {
    height: 180px;
}

#network {
    height: 600px;
}

#wordcloud {
    height: 100%;
}

#demo-content {
    background-color: #f8f8f8;
    min-width: 450px;
}

main {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(8, 1fr);
    background-color: #f8f8f8;
    padding: 20px;
    max-width: 1800px;
    margin: 0 auto;
}

h1 {
    grid-column-end: span 8;
    text-align: center;
}

#logo-highcharts {
    width: 1.3em;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -3px;
}

.intro p:has(+ .signature) {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 20px;
}

.signature {
    margin-top: 0;
    margin-left: 10px;
}

.signature::before {
    content: "— ";
}

.card {
    margin: 0;
    grid-column-end: span 4;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 5px #ccc;
}

.card.small,
.card.medium {
    grid-column-end: span 3;
}

.card.large {
    grid-column-end: span 5;
}

@media only screen and (max-width: 1400px) {
    .card.small {
        grid-column-end: span 4;
    }

    .card.medium,
    .card.large {
        grid-column-end: span 4;
    }
}

@media only screen and (max-width: 1000px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    h1 {
        grid-column-end: span 1;
    }

    .card {
        grid-column-end: span 1;
    }

    .card.small {
        grid-column-end: span 1;
    }

    .card.medium {
        grid-column-end: span 1;
    }

    .card.large {
        grid-column-end: span 1;
    }
}

@media (prefers-color-scheme: dark) {
    main,
    body {
        background-color: #333;
    }

    #demo-content {
        background-color: #333;
        color: #fff;
    }

    .card {
        background-color: #222;
        color: #fff;
        box-shadow: 0 0 5px #000;
    }

    h1 {
        color: #fff;
    }
}
