@import url("https://code.highcharts.com/css/highcharts.css");

:root,
.highcharts-light {
    --primitives-neutral-0: #fff;
    --primitives-neutral-25: #f6f6f8;
    --primitives-neutral-50: #f1f1f3;
    --primitives-neutral-100: #e3e2e8;
    --primitives-neutral-200: #c8c7d1;
    --primitives-neutral-300: #acabba;
    --primitives-neutral-400: #908ea3;
    --primitives-neutral-500: #75728c;
    --primitives-neutral-600: #5d5b70;
    --primitives-neutral-700: #464553;
    --primitives-neutral-800: #2f2e37;
    --primitives-neutral-900: #17171b;
    --primitives-neutral-950: #0a090d;
    --primitives-neutral-1000: #000;
    --primitives-brand-50: #f6f8ff;
    --primitives-brand-100: #f0f1ff;
    --primitives-brand-200: #e1e3ff;
    --primitives-brand-300: #c3c8ff;
    --primitives-brand-400: #a5acff;
    --primitives-brand-500: #8791ff;
    --primitives-brand-600: #6975ff;
    --primitives-brand-700: #545ecc;
    --primitives-brand-800: #3f4699;
    --primitives-brand-900: #2a2f66;
    --primitives-brand-1000: #151733;
    --primitives-success-50: #ecfdf5;
    --primitives-success-100: #d1fae5;
    --primitives-success-200: #a7f3d0;
    --primitives-success-300: #6ee7b7;
    --primitives-success-400: #34d399;
    --primitives-success-500: #10b981;
    --primitives-success-600: #059669;
    --primitives-success-700: #047857;
    --primitives-success-800: #065f46;
    --primitives-success-900: #064e3b;
    --primitives-success-1000: #033427;
    --primitives-danger-50: #fef2f2;
    --primitives-danger-100: #fee2e2;
    --primitives-danger-200: #fecaca;
    --primitives-danger-300: #fca5a5;
    --primitives-danger-400: #f87171;
    --primitives-danger-500: #ef4444;
    --primitives-danger-600: #dc2626;
    --primitives-danger-700: #b91c1c;
    --primitives-danger-800: #991b1b;
    --primitives-danger-900: #7f1d1d;
    --primitives-danger-1000: #570d0d;
    --illo-green: var(--primitives-success-200);
    --illo-purple: var(--primitives-brand-500);
    --illo-accent-0: var(--primitives-neutral-0);
    --illo-accent-50: var(--primitives-neutral-50);
    --illo-accent-200: var(--primitives-neutral-200);
    --illo-accent-800: var(--primitives-neutral-800);
    --illo-brand-200: var(--primitives-brand-200);
    --illo-brand-800: var(--primitives-brand-800);
    --illo-background: var(--primitives-neutral-0);
    --illo-lines: var(--primitives-neutral-100);
    --illo-just-white: #fff;
    --illo-just-black: #000;
    --illo-accent-teal: #6699a1;
}

.highcharts-dark {
    --illo-green: var(--primitives-success-300);
    --illo-purple: var(--primitives-brand-500);
    --illo-accent-0: var(--primitives-neutral-1000);
    --illo-accent-50: var(--primitives-neutral-700);
    --illo-accent-200: var(--primitives-neutral-200);
    --illo-accent-800: var(--primitives-neutral-0);
    --illo-brand-200: var(--primitives-brand-500);
    --illo-brand-800: var(--primitives-brand-200);
    --illo-background: var(--primitives-neutral-1000);
    --illo-lines: var(--primitives-neutral-500);
    --illo-just-white: #fff;
    --illo-just-black: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --illo-green: var(--primitives-success-300);
        --illo-purple: var(--primitives-brand-500);
        --illo-accent-0: var(--primitives-neutral-1000);
        --illo-accent-50: var(--primitives-neutral-700);
        --illo-accent-200: var(--primitives-neutral-200);
        --illo-accent-800: var(--primitives-neutral-0);
        --illo-brand-200: var(--primitives-brand-500);
        --illo-brand-800: var(--primitives-brand-200);
        --illo-background: var(--primitives-neutral-1000);
        --illo-lines: var(--primitives-neutral-500);
        --illo-just-white: #fff;
        --illo-just-black: #000;
    }
}

html {
    overflow: hidden;
}

body {
    margin: 0;
}

.chart-container .highcharts-area,
.chart-container .highcharts-arearange {
    fill-opacity: 1;
    stroke: transparent;
}

.line {
    color: var(--illo-lines);
    stroke: var(--illo-lines);
    opacity: 50%;
    stroke-width: 1px;
}

.chart-container .highcharts-container {
    position: relative;
    overflow: hidden;
    text-align: left;
    line-height: normal;
    z-index: 0;
    font-size: 12px;
    user-select: none;
    touch-action: manipulation;
    outline: none;
    top: 0 !important;
}

#charts {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    background-color: var(--illo-background);
    border: none;
}

/* #charts {
    width: 500px;
    height: 500px;
} */

#charts .highcharts-plot-background,
#charts .highcharts-background {
    fill: var(--illo-background);
    stroke: transparent;
}

#charts .particle-1,
#charts .particle-2,
#charts .particle-3,
#charts .particle-4,
#charts .particle-5,
#charts .particle-6 {
    opacity: 0;
    transform: opacity 2s;
}

#charts .bigpie,
#charts .midpie {
    opacity: 0;
    transform: opacity 2s;
}

#charts .bigpie .highcharts-color-0 {
    fill: var(--illo-green);
    stroke: transparent;
}

#charts .midpie .highcharts-color-0 {
    fill: var(--illo-accent-teal);
    stroke: transparent;
}

#charts .innerpie .highcharts-color-0 {
    fill: var(--illo-just-black);
    stroke: transparent;
}

#charts .dot .highcharts-color-0 {
    fill: var(--illo-accent-0);
    stroke: transparent;
    opacity: 1;
}

#charts .outerwedge,
#charts .midwedge,
#charts .topwedge {
    opacity: 0;
}

#charts .outerwedge.show,
#charts .midwedge.show,
#charts .topwedge.show {
    opacity: 1;
}

#charts .outerwedge .highcharts-color-0 {
    fill: var(--illo-purple);
    stroke: transparent;
}

#charts .midwedge .highcharts-color-0 {
    fill: var(--illo-green);
    stroke: transparent;
}

#charts .topwedge .highcharts-color-0 {
    fill: #fff;
    stroke: transparent;
}

#charts .wall {
    fill: var(--illo-accent-50);
    stroke: transparent;
}

#charts .cover {
    fill: var(--illo-accent-50);
    stroke: transparent;
    transition: fill 2s;
}

#charts .linecover {
    fill: var(--illo-accent-50);
    stroke: transparent;
    transition: fill 2s;
}

#charts .highcharts-grid-line {
    fill: none;
    stroke: rgb(255 255 255 / 0);
}
