@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-lite/css/grid.css");

.lang-options {
    display: flex;
    justify-content: end;
}

.demo {
    background-color: var(--hcg-background);
    padding: 8px;
    color: var(--hcg-color);
    font-family: Arial, Helvetica, sans-serif;
}

.highcharts-description {
    padding: 0 20px;
}
