@import url("https://code.highcharts.com/grid/css/grid.css");

.lang-options {
    display: flex;
    justify-content: end;
}

.demo {
    background-color: var(--hcg-background);
    padding: 8px;
    color: var(--hcg-color);
    font-family: Arial, Helvetica, sans-serif;
}

