@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-lite/css/grid.css");

* {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

.lang-options {
    display: flex;
    justify-content: end;
}

.demo {
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
    .demo {
        background-color: #141414;
        color: #fff;
    }
}
