@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-lite/css/grid.css");

.lang-options {
    display: flex;
    justify-content: end;
}

.demo {
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.highcharts-description {
    padding: 0 20px;
}

@media (prefers-color-scheme: dark) {
    .demo {
        background-color: #292929;
        color: #fff;
    }
}
