@import url("https://code.highcharts.com/css/dashboards.css");
@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/css/datagrid.css");

.highcharts-description {
    padding: 0 20px;
}
