.outer {
    max-width: 800px;
    margin: 0 auto;
}

.highcharts-figure {
    margin: 0;
}

#container {
    height: 300px;
}

button.active {
    background-color: rgb(124 181 236);
}

.highcharts-demo-button {
    border: none;
    border-radius: 0.3rem;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
}
