@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");
@import url("highsoft-design-tokens/dist/css/tokens.css");
@import url("./highsoft-ui-variables.css");

:root {
    color-scheme: light;

    --ifm-color-primary: var(--primitives-brand-600);
    --ifm-color-primary-dark: var(--primitives-brand-700);
    --ifm-color-primary-darker: var(--primitives-brand-800);
    --ifm-color-primary-darkest: var(--primitives-brand-900);
    --ifm-color-primary-light: var(--primitives-brand-500);
    --ifm-color-primary-lighter: var(--primitives-brand-400);
    --ifm-color-primary-lightest: var(--primitives-brand-300);
    --ifm-color-secondary: var(--primitives-neutral-700);
    --ifm-color-info: var(--primitives-brand-600);
    --ifm-color-info-dark: var(--primitives-brand-700);
    --ifm-color-info-darker: var(--primitives-brand-800);
    --ifm-color-info-darkest: var(--primitives-brand-900);
    --ifm-color-info-light: var(--primitives-brand-500);
    --ifm-color-info-lighter: var(--primitives-brand-400);
    --ifm-color-info-lightest: var(--primitives-brand-300);
    --ifm-color-success: var(--primitives-success-600);
    --ifm-color-success-dark: var(--primitives-success-700);
    --ifm-color-success-darker: var(--primitives-success-800);
    --ifm-color-success-darkest: var(--primitives-success-900);
    --ifm-color-success-light: var(--primitives-success-500);
    --ifm-color-success-lighter: var(--primitives-success-400);
    --ifm-color-success-lightest: var(--primitives-success-300);
    --ifm-color-warning: var(--primitives-attention-500);
    --ifm-color-warning-dark: var(--primitives-attention-600);
    --ifm-color-warning-darker: var(--primitives-attention-700);
    --ifm-color-warning-darkest: var(--primitives-attention-800);
    --ifm-color-warning-light: var(--primitives-attention-400);
    --ifm-color-warning-lighter: var(--primitives-attention-300);
    --ifm-color-warning-lightest: var(--primitives-attention-200);
    --ifm-color-danger: var(--primitives-danger-600);
    --ifm-color-danger-dark: var(--primitives-danger-700);
    --ifm-color-danger-darker: var(--primitives-danger-800);
    --ifm-color-danger-darkest: var(--primitives-danger-900);
    --ifm-color-danger-light: var(--primitives-danger-500);
    --ifm-color-danger-lighter: var(--primitives-danger-400);
    --ifm-color-danger-lightest: var(--primitives-danger-300);
    --ifm-background-color: var(--primitives-neutral-0);
    --ifm-background-surface-color: var(--primitives-neutral-0);
    --ifm-font-color-base: var(--primitives-neutral-800);
    --ifm-font-color-base-inverse: var(--primitives-neutral-0);
    --docusaurus-highlighted-code-line-bg: rgba(67, 86, 201, 0.1);
    --ifm-navbar-background-color: var(--primitives-neutral-0);
    --ifm-navbar-height: unset;
    --ifm-navbar-shadow: unset;
    --ifm-navbar-padding-horizontal: unset;
    --ifm-navbar-padding-vertical: unset;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
    color-scheme: dark;

    --ifm-background-color: var(--primitives-neutral-900);
    --ifm-background-surface-color: var(--primitives-neutral-800);
    --ifm-font-color-base: var(--primitives-neutral-25);
    --ifm-font-color-base-inverse: var(--primitives-neutral-900);
    --ifm-navbar-background-color: var(--primitives-neutral-900);
    --ifm-color-primary: var(--primitives-brand-400);
    --ifm-color-primary-dark: var(--primitives-brand-500);
    --ifm-color-primary-darker: var(--primitives-brand-600);
    --ifm-color-primary-darkest: var(--primitives-brand-700);
    --ifm-color-primary-light: var(--primitives-brand-300);
    --ifm-color-primary-lighter: var(--primitives-brand-200);
    --ifm-color-primary-lightest: var(--primitives-brand-100);
    --ifm-color-secondary: var(--primitives-neutral-300);
    --ifm-color-info: var(--primitives-brand-400);
    --ifm-color-info-dark: var(--primitives-brand-500);
    --ifm-color-info-darker: var(--primitives-brand-600);
    --ifm-color-info-darkest: var(--primitives-brand-700);
    --ifm-color-info-light: var(--primitives-brand-300);
    --ifm-color-info-lighter: var(--primitives-brand-200);
    --ifm-color-info-lightest: var(--primitives-brand-100);
    --ifm-color-success: var(--primitives-success-400);
    --ifm-color-success-dark: var(--primitives-success-500);
    --ifm-color-success-darker: var(--primitives-success-600);
    --ifm-color-success-darkest: var(--primitives-success-700);
    --ifm-color-success-light: var(--primitives-success-300);
    --ifm-color-success-lighter: var(--primitives-success-200);
    --ifm-color-success-lightest: var(--primitives-success-100);
    --ifm-color-warning: var(--primitives-attention-400);
    --ifm-color-warning-dark: var(--primitives-attention-500);
    --ifm-color-warning-darker: var(--primitives-attention-600);
    --ifm-color-warning-darkest: var(--primitives-attention-700);
    --ifm-color-warning-light: var(--primitives-attention-300);
    --ifm-color-warning-lighter: var(--primitives-attention-200);
    --ifm-color-warning-lightest: var(--primitives-attention-100);
    --ifm-color-danger: var(--primitives-danger-400);
    --ifm-color-danger-dark: var(--primitives-danger-500);
    --ifm-color-danger-darker: var(--primitives-danger-600);
    --ifm-color-danger-darkest: var(--primitives-danger-700);
    --ifm-color-danger-light: var(--primitives-danger-300);
    --ifm-color-danger-lighter: var(--primitives-danger-200);
    --ifm-color-danger-lightest: var(--primitives-danger-100);
    --docusaurus-highlighted-code-line-bg: rgba(135, 145, 255, 0.2);
}

nav.navbar {
    display: block;
}

.menu__list-item a:has(.grid-pro-badge) {
    text-decoration: none;
    justify-content: flex-start;
    gap: 0.5em;
}

.grid-pro-badge {
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid var(--primitives-success-700);
    background: var(--primitives-success-50);
    display: inline-flex;
    padding: 6px 8px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    align-self: baseline;
    color: var(--primitives-success-700);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    width: fit-content;
    height: 20px;
}

main p:has(.grid-pro-badge) {
    margin-bottom: 0;
}

.grid-pro-badge.banner {
    display: flex;
    margin-bottom: 0;
}

.navbar,
.navbar__title,
.navbar__link,
.menu__link,
[class*="Navbar"],
[class*="navbar"] button,
footer,
.footer,
.footer__title,
.footer__item,
.footer__link {
    font-family: "IBM Plex Sans", sans-serif;
}

main h1:has(.grid-pro-badge),
main h2:has(.grid-pro-badge),
main h3:has(.grid-pro-badge),
main h4:has(.grid-pro-badge),
main h5:has(.grid-pro-badge),
main h6:has(.grid-pro-badge) {
    display: flex;
    align-items: center;
    gap: 12px;
}

main h1:has(.grid-pro-badge) .grid-pro-badge,
main h2:has(.grid-pro-badge) .grid-pro-badge,
main h3:has(.grid-pro-badge) .grid-pro-badge,
main h4:has(.grid-pro-badge) .grid-pro-badge,
main h5:has(.grid-pro-badge) .grid-pro-badge,
main h6:has(.grid-pro-badge) .grid-pro-badge {
    margin-top: 0.7em;
}

.theme-layout-navbar {
    &:has(button[aria-expanded="true"]) {
        height: 100vh;
    }
}

[data-theme="dark"] .grid-pro-badge {
    border-color: var(--primitives-success-500);
    background: var(--primitives-success-100);
    color: var(--primitives-success-500);
}

/* Align iframe presentation with doc-builder */
iframe {
    border: none;
    width: 100%;
    color-scheme: unset;
}

.iframe-container {
    margin-top: 15px;
    margin-bottom: 15px;
}
