body {
    margin: 0;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(1px, 1px, 1px, 1px);
    margin-top: -3px;
    filter: opacity(1);
    opacity: 1%;
}

.btn {
    font-family: "IBM Plex Sans", sans-serif;
    white-space: normal;
    background-color: #5749ad;
    border: 1px solid #5749ad;
    cursor: pointer;
    color: #fff;
    min-height: 90px;
    max-width: 200px;
    width: 100%;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    padding: 0.375rem 0.75rem;
    margin: 0.25rem 35% 0.25rem 35;
    box-shadow: 0 0 5px rgb(0 0 0 / 40%);
    transition: font-size 0.15s;
}

.btn:hover,
.btn:focus {
    filter: brightness(80%);
    font-size: 1.12rem;
}

#outer {
    min-width: 360px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

#overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 5px;
    margin-bottom: 5px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.highcharts-figure {
    max-width: 600px;
    margin: 0 auto;
}

#container {
    width: 100%;
    height: 450px;
    margin-bottom: -20px;
    margin-top: -20px;
}

.caption-arrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #eee;
    position: absolute;
    top: -8px;
    left: calc(50% - 4px);
}

#dyncaption {
    display: none;
    position: relative;
    font-family: Roboto, sans-serif;
    margin: 0;
    border: 2px solid #eee;
    border-left: none;
    border-right: none;
    border-radius: 3px;
    padding: 5px 10px;
}

.data-label h4.closed,
#innovation h4.closed {
    display: none;
}

#dyncaption h4.closed,
#dyncaption i {
    display: none;
}

@media screen and (max-width: 480px) {
    #dyncaption.visible {
        display: block;
    }
}

#dyncaption.content-innovation {
    border-color: #d9dbfb;
}

.content-innovation > .caption-arrow {
    border-bottom-color: #8085ef;
}

#dyncaption.content-brand {
    border-color: #d9fae6;
}

.content-brand > .caption-arrow {
    border-bottom-color: #8bf0b6;
}

#dyncaption.content-reach {
    border-color: #ddebed;
}

.content-reach > .caption-arrow {
    border-bottom-color: #569ba3;
}

#dyncaption.content-legal {
    border-color: #e1f3ff;
}

.content-legal > .caption-arrow {
    border-bottom-color: #7cb5ec;
}

.data-label {
    font-family: "IBM Plex Sans", sans-serif;
    position: absolute;
    border: 0 solid #000;
    width: 300px;
    top: 0;
    left: 0;
}

.data-label a {
    color: #5a62d3;
    font-size: 16px;
}

.data-label.over {
    opacity: 1;
    z-index: 1000;
}

.data-label h4 {
    font-weight: normal;
    display: none;
    font-size: 16px;
    margin: 0 0 5px;
}

.data-label.over h4 {
    display: unset;
    font-weight: bold;
    color: #000;
}

.data-label p {
    display: none;
    margin: 0;
    padding: 0;
    white-space: normal;
}

.data-label .info {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    opacity: 0;
    white-space: normal;
    grid-column: 1 /span 2;
}

.data-label.over .info {
    opacity: 1;
}

.data-label.over p,
.data-label.over ul {
    color: #000;
    display: block;
}

#innovation p {
    opacity: 0;
    margin-bottom: 45px;
    height: fit-content;
}

#brand p {
    margin-top: 0;
    margin-left: 30px;
    color: #000;
    width: 80%;
    text-align: center;
}

#brand.over a {
    color: #000;
    text-decoration: underline;
}

#innovation.over a {
    color: #fff;
    text-decoration: underline;
}

#reach.over a {
    color: #fff;
    text-decoration: underline;
}

#brand i {
    left: 35px;
    top: 15px;
}

#brand h4 {
    margin-top: -45px;
    margin-left: 70px;
    margin-bottom: 0;
    color: #252525;
    width: 100px;
    white-space: normal;
    text-align: right;
}

#legal h4 {
    width: 100px;
    white-space: normal;
    text-align: left;
    margin-left: 20px;
}

#legal-icon {
    left: -30px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(https://cdn.rawgit.com/highcharts/highcharts/41c01aa756da48ce175cd11466c790470d32cd75/samples/graphics/accessible-venn-images/risk.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

#legal.over #legal-icon {
    animation: rain 3s steps(5, end);
    left: 140px;
    top: 10px;
    height: 100px;
    width: 100px;
    transform: translate(-30px, -10px);
    background-image: url(https://cdn.rawgit.com/highcharts/highcharts/c922f9992ff5ac6598a8f3e61c84189869754bf3/samples/graphics/accessible-venn-images/risk-s.png);
    background-position: 0 -600;
}

#legal.over {
    background-color: #30426b;
    clip-path: ellipse(150px 117px at 50% 27.5%);
    height: 340px;
    top: -125px;
    left: -255px;
    padding-left: 10px;
    padding-top: 100px;
}

#legal.over p {
    /* margin-top: -250px; */
    margin-left: 50px;
    width: 200px;
    color: #fff;
    text-align: center;
}

#legal.over h4 {
    margin-top: 105px;
    color: #fff;
    width: 200px;
    text-align: center;
    white-space: normal;
    margin-left: 70px;
}

#legal.over a {
    color: #fff;
    text-decoration: underline;
}

#legal.over a:hover {
    color: fff0;
}

#legal {
    top: -40px;
    left: 0;
    grid-template-columns: 40px 1fr;
    justify-items: left;
}

#innovation {
    top: -230px;
    left: -150px;
    text-align: center;
    background-color: transparent;
    clip-path: unset;
    height: unset;
}

#innovation h4.open {
    opacity: 0;
    margin-top: 20px;
    font-weight: bold;
}

#innovation h4.closed {
    opacity: 1;
}

#innovation.over h4.open {
    opacity: 1;
    margin-top: 70px;
    color: #fff;
}

#innovation.over h4.closed {
    opacity: 0;
}

#reach.over a:hover {
    color: #fff;
}

#innovation.over {
    background-color: #5749ad;
    clip-path: ellipse(150px 116px at 50% 34%);
    height: 340px;
    padding-top: 70px;
}

#innovation.over p {
    margin-bottom: 30px;
    opacity: 1;
    display: block;
    color: #fff;
}

#innovation.over a:hover {
    color: #000;
}

#innovation-icon {
    left: 130px;
    top: 170px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(https://cdn.rawgit.com/highcharts/highcharts/41c01aa756da48ce175cd11466c790470d32cd75/samples/graphics/accessible-venn-images/innovation.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#innovation.over #innovation-icon {
    animation: rocket 0.8s steps(4, jump-none) forwards;
    transform: translate(-30px, -12px);
    background-image: url(https://cdn.rawgit.com/highcharts/highcharts/c922f9992ff5ac6598a8f3e61c84189869754bf3/samples/graphics/accessible-venn-images/innovation-s.png);
    background-position: 0 -600px;
    background-repeat: no-repeat;
    height: 94px;
    width: 100px;
    position: absolute;
}

#brand {
    align-items: center;
    top: -140px;
    left: -20px;
}

#brand.over {
    background-color: #a3edba;
    clip-path: ellipse(150px 117px at 50% 28.81%);
    height: 340px;
    left: -5px;
    top: -230px;
    padding-top: 80px;
}

#brand.over a:hover {
    color: #000;
}

#brand-icon {
    content: "";
    left: 40px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(https://cdn.rawgit.com/highcharts/highcharts/41c01aa756da48ce175cd11466c790470d32cd75/samples/graphics/accessible-venn-images/brand.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#brand.over #brand-icon {
    animation: gem 3s steps(12, end);
    left: 130px;
    top: 10px;
    height: 100px;
    width: 100px;
    transform: translate(-24px, 0) scale(0.8);
    background-image: url(https://cdn.rawgit.com/highcharts/highcharts/c922f9992ff5ac6598a8f3e61c84189869754bf3/samples/graphics/accessible-venn-images/brand-s.png);
    background-position: 0 -1200px;
}

#brand.over h4 {
    width: 200px;
    text-align: left;
    margin-top: 100px;
}

#reach {
    top: -30px;
    left: -140px;
    text-align: center;
}

#reach.over {
    background-color: #00766f;
    clip-path: ellipse(150px 120px at 50% 36%);
    height: 355px;
    top: -60px;
    left: -150px;
    padding-top: 150px;
}

#reach.over h4 {
    margin-bottom: 5px;
    margin-top: 0;
    color: #fff;
}

#reach-icon {
    left: 125px;
    top: 40px;
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(https://cdn.rawgit.com/highcharts/highcharts/41c01aa756da48ce175cd11466c790470d32cd75/samples/graphics/accessible-venn-images/reach.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#reach.over #reach-icon {
    animation: globe 1s steps(5, end);
    transform: translate(-20px, -15px);
    top: 70px;
    width: 100px;
    height: 100px;
    background-image: url(https://cdn.rawgit.com/highcharts/highcharts/c922f9992ff5ac6598a8f3e61c84189869754bf3/samples/graphics/accessible-venn-images/reach-s.png);
    background-position: 0 -500;
}

#reach.over p {
    width: 70%;
    margin-left: 40px;
    color: #fff;
}

#aicon {
    position: absolute;
}

#aicon.over {
    color: transparent;
}

#aicon::before {
    content: "";
    width: 160px;
    height: 160px;
    left: -30px;
    top: -40px;
    position: absolute;
    transform: scale(0.9);
    background-image: url(https://cdn.rawgit.com/highcharts/highcharts/41c01aa756da48ce175cd11466c790470d32cd75/samples/graphics/accessible-venn-images/a11y.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

/* #aicon.over #aicon-icon::before {
    transform: translateY(10px) scale(1.4);
    background: url(eye.png) no-repeat;
} */

#container svg {
    transform: scale(1, 0.8);
    opacity: 0.6;
}

.fas,
.far {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    z-index: 100;
}

.over .fas,
.over .far {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    color: #252525;
}

@media (max-width: 575px) {
    .btn {
        min-width: 140px;
    }
}

@keyframes rocket {
    from {
        background-position: 0 -600;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes gem {
    0% {
        background-position: 0 -1200px;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes rain {
    0% {
        background-position: 0 -500px;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes globe {
    0% {
        background-position: 0 -500px;
    }

    100% {
        background-position: 0 0;
    }
}
