@import url("https://code.highcharts.com/dashboards/css/datagrid.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

#csv {
    display: none;
}

.custom-1 {
    background-color: #8cda58;
    padding: 20px 10px;
}

.custom-rest {
    background-color: #e295ee;
    padding: 20px 5px 5px;
    border-radius: 5px;
    box-shadow: 4px 6px 10px #0000008c;
}
