* {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

body {
    background-color: #1f1f20;
}

.container {
    width: 50%;
    height: 400px;
    margin-bottom: 15px;
    float: left;
}
