* {
    font-family: Helvetica, Arial, sans-serif;
}

.highcharts-figure {
    min-width: 310px;
    max-width: 600px;
    margin: 0 auto;
}

.highcharts-description {
    margin: 10px;
}

#container {
    height: 500px;
}
