:root,
.highcharts-light {
    --primitives-neutral-0: #fff;
    --primitives-neutral-25: #f6f6f8;
    --primitives-neutral-50: #f1f1f3;
    --primitives-neutral-100: #e3e2e8;
    --primitives-neutral-200: #c8c7d1;
    --primitives-neutral-300: #acabba;
    --primitives-neutral-400: #908ea3;
    --primitives-neutral-500: #75728c;
    --primitives-neutral-600: #5d5b70;
    --primitives-neutral-700: #464553;
    --primitives-neutral-800: #2f2e37;
    --primitives-neutral-900: #17171b;
    --primitives-neutral-950: #0a090d;
    --primitives-neutral-1000: #000;
    --primitives-brand-50: #f6f8ff;
    --primitives-brand-100: #f0f1ff;
    --primitives-brand-200: #e1e3ff;
    --primitives-brand-300: #c3c8ff;
    --primitives-brand-400: #a5acff;
    --primitives-brand-500: #8791ff;
    --primitives-brand-600: #6975ff;
    --primitives-brand-700: #545ecc;
    --primitives-brand-800: #3f4699;
    --primitives-brand-900: #2a2f66;
    --primitives-brand-1000: #151733;
    --primitives-success-50: #ecfdf5;
    --primitives-success-100: #d1fae5;
    --primitives-success-200: #a7f3d0;
    --primitives-success-300: #6ee7b7;
    --primitives-success-400: #34d399;
    --primitives-success-500: #10b981;
    --primitives-success-600: #059669;
    --primitives-success-700: #047857;
    --primitives-success-800: #065f46;
    --primitives-success-900: #064e3b;
    --primitives-success-1000: #033427;
    --primitives-danger-50: #fef2f2;
    --primitives-danger-100: #fee2e2;
    --primitives-danger-200: #fecaca;
    --primitives-danger-300: #fca5a5;
    --primitives-danger-400: #f87171;
    --primitives-danger-500: #ef4444;
    --primitives-danger-600: #dc2626;
    --primitives-danger-700: #b91c1c;
    --primitives-danger-800: #991b1b;
    --primitives-danger-900: #7f1d1d;
    --primitives-danger-1000: #570d0d;
    --illo-green: var(--primitives-success-200);
    --illo-purple: var(--primitives-brand-500);
    --illo-accent-0: var(--primitives-neutral-0);
    --illo-accent-50: var(--primitives-neutral-50);
    --illo-accent-200: var(--primitives-neutral-200);
    --illo-accent-800: var(--primitives-neutral-800);
    --illo-brand-200: var(--primitives-brand-200);
    --illo-brand-800: var(--primitives-brand-800);
    --illo-background: var(--primitives-neutral-0);
    --illo-lines: var(--primitives-neutral-100);
    --illo-just-white: #fff;
    --illo-just-black: #000;
    --illo-accent-teal: #6699a1;
}

.highcharts-dark {
    --illo-green: var(--primitives-success-300);
    --illo-purple: var(--primitives-brand-500);
    --illo-accent-0: var(--primitives-neutral-1000);
    --illo-accent-50: var(--primitives-neutral-700);
    --illo-accent-200: var(--primitives-neutral-500);
    --illo-accent-800: var(--primitives-neutral-0);
    --illo-brand-200: var(--primitives-brand-500);
    --illo-brand-800: var(--primitives-brand-200);
    --illo-background: var(--primitives-neutral-1000);
    --illo-lines: var(--primitives-neutral-500);
    --illo-just-white: #fff;
    --illo-just-black: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --illo-green: var(--primitives-success-300);
        --illo-purple: var(--primitives-brand-500);
        --illo-accent-0: var(--primitives-neutral-1000);
        --illo-accent-50: var(--primitives-neutral-700);
        --illo-accent-200: var(--primitives-neutral-500);
        --illo-accent-800: var(--primitives-neutral-0);
        --illo-brand-200: var(--primitives-brand-500);
        --illo-brand-800: var(--primitives-brand-200);
        --illo-background: var(--primitives-neutral-1000);
        --illo-lines: var(--primitives-neutral-500);
        --illo-just-white: #fff;
        --illo-just-black: #000;
    }
}

body {
    margin: 0;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

html {
    overflow: hidden;
}

#container {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    background-color: var(--illo-background);
    border: none;
}

/* #container {
    width: 500px;
    height: 500px;
} */

.highcharts-markers.particles {
    opacity: 0;
    transition: opacity 1s;
}

.particles image {
    transform: scale(0.85, 0.85);
}

.highcharts-series-30 {
    clip-path: polygon(0.9% -23px, 101.82% -5.42%, 100.92% 34.6%, 0 33.98%);
}

.highcharts-series-31 {
    clip-path: polygon(0.9% -23px, 101.82% -5.42%, 100.92% 34.6%, 0 33.98%);
}

.highcharts-markers.highcharts-scatter-series.dial {
    animation-name: turn;
    animation-duration: 500ms;
    opacity: 1;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
}

.highcharts-markers.highcharts-scatter-series.dial2 {
    animation-name: turn2;
    opacity: 0;
    animation-duration: 1600ms;
    animation-delay: 1500ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
}

.highcharts-markers.highcharts-scatter-series.dial {
    transform: translate(1%, 35%) rotate(-90deg);
}

.highcharts-markers.highcharts-scatter-series.dial2 {
    transform: translate(0.5%, 35%) rotate(-12deg);
}

.highcharts-pie-series .wedge2 {
    fill: #201836;
}

.highcharts-scatter-series.squares2 .highcharts-point {
    fill: #201836;
}

.highcharts-scatter-series.squares .highcharts-point {
    fill: #201836;
}

.highcharts-scatter-series.squares .highcharts-point:nth-of-type(1) {
    transition: fill 1s;
}

.highcharts-scatter-series.squares .highcharts-point:nth-of-type(4) {
    transition: fill 1s;
}

.highcharts-scatter-series.squares .highcharts-point:nth-of-type(2) {
    transition: fill 3s;
}

.highcharts-scatter-series.squares .highcharts-point:nth-of-type(5) {
    transition: fill 3s;
}

.highcharts-scatter-series.squares .highcharts-point:nth-of-type(3) {
    transition: fill 4s;
}

.highcharts-scatter-series.squares .highcharts-point:nth-of-type(6) {
    transition: fill 4s;
}

@keyframes turn {
    0% {
        transform: translate(1%, 35%) rotate(-90deg);
        transform-origin: 50% 50%;
    }

    100% {
        transform: translate(0.5%, 35%) rotate(-12deg);
        transform-origin: 50% 50%;
    }
}

@keyframes turn2 {
    0% {
        transform: translate(0.5%, 35%) rotate(-12deg);
        transform-origin: 50% 50%;
        opacity: 1;
    }

    100% {
        transform: translate(0%, 35%) rotate(80deg);
        transform-origin: 50% 50%;
        opacity: 1;
    }
}

@media screen  and (min-width: 400px) {
    /* .particles image {
        transform: scale(0.9, 0.9);
    } */

    .highcharts-markers.highcharts-scatter-series.dial {
        transform: translate(1%, 36%) rotate(-93deg);
    }

    .highcharts-markers.highcharts-scatter-series.dial2 {
        transform: translate(0.5%, 37%) rotate(-12deg);
    }

    @keyframes turn {
        0% {
            transform: translate(1%, 36%) rotate(-93deg);
            transform-origin: 50% 50%;
        }

        100% {
            transform: translate(0.5%, 37%) rotate(-12deg);
            transform-origin: 50% 50%;
        }
    }

    @keyframes turn2 {
        0% {
            transform: translate(0.5%, 37%) rotate(-12deg);
            transform-origin: 50% 50%;
            opacity: 1;
        }

        100% {
            transform: translate(0%, 37%) rotate(80deg);
            transform-origin: 50% 50%;
            opacity: 1;
        }
    }
}

@media screen  and (min-width: 500px) {
    /* .particles image {
        transform: scale(0.9, 0.9);
    } */

    .highcharts-markers.highcharts-scatter-series.dial {
        transform: translate(1%, 37%) rotate(-95deg);
    }

    .highcharts-markers.highcharts-scatter-series.dial2 {
        transform: translate(0.5%, 37%) rotate(-12deg);
    }

    @keyframes turn {
        0% {
            transform: translate(1%, 37%) rotate(-95deg);
            transform-origin: 50% 50%;
        }

        100% {
            transform: translate(0.5%, 37%) rotate(-12deg);
            transform-origin: 50% 50%;
        }
    }

    @keyframes turn2 {
        0% {
            transform: translate(0.5%, 37%) rotate(-12deg);
            transform-origin: 50% 50%;
            opacity: 1;
        }

        100% {
            transform: translate(0%, 38%) rotate(80deg);
            transform-origin: 50% 50%;
            opacity: 1;
        }
    }
}
