.btn.btn-stop {
    background-color: #fff;
    border: 1px solid #25386f;
    color: #25386f;
    width: 20%;
    font-size: 0.9rem;
    min-height: 30px;
    font-weight: 500;
}

.btn {
    background-color: #25386f;
    border: 1 px solid #25386f;
    color: #fff;
    min-height: 40px;
    width: 30%;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.text-center {
    text-align: center;
}

.highcharts-figure {
    width: 100%;
    height: 100%;
    margin: 0;
}

#outer {
    min-width: 360px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

#stop {
    visibility: hidden;
}

@media (max-width: 575px) {
    .btn.btn-stop {
        width: 30%;
    }
}
