#button-box {
    padding: 10px;
}

label,
select {
    height: 36px;
    background-color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    font-family: "IBM Plex Sans", sans-serif;
}

select {
    padding: 8px 17px;
    border: 1px solid rgba(227, 227, 232, 1);
    border-radius: 4px;
}

select:hover {
    cursor: pointer;
    border-color: #000;
}
