form {
    display: flex;
    justify-content: stretch;
}

fieldset {
    flex-grow: 1;
    text-align: center;
    border: 1px solid silver;
}

fieldset:last-child {
    flex-grow: 0;
}

input[type="text"] {
    vertical-align: top;
    width: 50%;
}

table {
    min-width: 50%;
}

@media screen and (max-width: 800px) {
    form {
        flex-direction: column;
    }
}

table td,
table th {
    line-height: 1.5em;
    padding: 0.25em 0.5em;
    vertical-align: top;
}

table thead th {
    background-color: #ddd;
}

table tbody td {
    background-color: #eee;
}
