#main {
    width: 600px;
    margin: 0 auto;
}

#container {
    height: 400px;
    margin: 1rem -10px;
}

svg {
    transition: font-size 500ms;
}

.btn-group button.btn-outline-secondary {
    color: black;
}

.btn-group button#font-smaller {
    font-size: 0.6rem;
}

.btn-group button#font-larger {
    font-size: 1.2rem;
}

.btn-group #font-100 {
    width: 5rem;
}
