@import 'https://code.highcharts.com/css/highcharts.css';

/* Styles for all branded charts */

.chart-container .thick{
	stroke-width:1;
	stroke:white;
	color:white;
	transition: all 2s;
}

.chart-container .thin{
	stroke-width: 1;
	stroke:white;
	color:white;
	transition: all 2s;
}
.chart-container .transparent{
	opacity:1;
	stroke-width: 1;
	stroke:white;
	color:white;
	transition: all 2s
}

.chart-container .highcharts-area,
.chart-container .highcharts-arearange{
	fill-opacity:1;
	stroke:transparent;
}

.line{
	color:#fff;
	stroke:#fff;
	stroke-width:1px;
}

.chart-container .highcharts-container {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 500px;
  text-align: left;
  line-height: normal;
  z-index: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
	fill:#fff;
  font-size: 12px;
  user-select: none;
  touch-action: manipulation;
  outline: none;
}

.chart-container .highcharts-xaxis-grid .highcharts-grid-line {
	stroke-width: 1px;
}
.chart-container .highcharts-grid-line {
	fill: none;
	stroke: transparent;
	z-index: 40;
}

.chart-container .highcharts-plot-band, .highcharts-pane{
	fill:#30426B;
	fill-opacity:1;
	z-index: 30;
}

.chart-container .highcharts-legend-series-active g.highcharts-series:not(.highcharts-series-hover),
.chart-container .highcharts-legend-point-active .highcharts-point:not(.highcharts-point-hover),
.chart-container .highcharts-legend-series-active .highcharts-markers:not(.highcharts-series-hover),
.chart-container .highcharts-legend-series-active .highcharts-data-labels:not(.highcharts-series-hover) {
  opacity: 1;
}

.chart-container .highcharts-series-inactive {
  opacity: 1;
  transition: opacity 50ms;
}

.chart-container .highcharts-tooltip-0{
	filter:drop-shadow(5px 7px 13px rgba(0,0,0,0.14)) !important;;
	box-shadow: 5px 7px 13px 1px rgba(0,0,0,0.14);
}

.chart-container .highcharts-tooltip-box {
	stroke-width: 0px;
	border:none;
	stroke:#ebebeb;
	fill: #fff;
	fill-opacity: 1;
}

.chart-container .highcharts-tooltip text {
  fill: #333333;
  font-family:'Arial';
}

.chart-container .highcharts-tooltip{
	z-index: 100
}

.chart-container .highcharts-graph {
    fill: unset;
    stroke-width: unset;
    stroke:unset;
    stroke-linecap:butt;
    stroke-linejoin: round;
}

/* Styles for Stock */

#stock{
	width:300px;
	height:300px;
}

#stock .transparent{
	fill:transparent;
	stroke:transparent;
}

#stock .highcharts-background
{
	fill:#201836;
	stroke:transparent;
}

#stock .highcharts-title,
#stock .highcharts-subtitle,
#stock .highcharts-axis-title,
#stock .highcharts-axis-labels,
#stock .highcharts-range-input text{
	fill:#f0f0f0;
}

#stock .highcharts-range-selector-group{
	opacity:0;
	transition: opacity 1s;
}

#stock .highcharts-title{
	font-weight: 700;
	font-size:1.1em;
	opacity:0;
	transition:opacity 1s;
}

#stock .highcharts-subtitle{
	font-weight: 400;
	font-size:.9em;
	opacity:0;
	transition:opacity 1s;
}

#stock .highcharts-range-input text{
	font-size:.9em;
}

#stock .highcharts-range-label text {
	fill: #fff;
}

#stock .highcharts-button text {
	fill: #f0f0f0;
}

#stock .highcharts-button {
	fill: #505053;
	stroke: #999;
	cursor: default;
	stroke-width: 1px;
	transition: fill 250ms;
}

#stock .highcharts-button-pressed {
	font-weight: bold;
	fill: #000;
	stroke: #999;
}

#stock .highcharts-tooltip-box .highcharts-label-box {
	fill: #fff;
	fill-opacity: 1;
}

#stock .highcharts-range-input {
	stroke-width: 1px;
	stroke: #999;
	fill:#000;
}

#stock .highcharts-range-input rect {
	fill:#000;
}

#stock .highcharts-axis-resizer {
	cursor: ns-resize;
	stroke: #f0f0f0;
	stroke-width: 3px;
}

#stock .purple-line .highcharts-graph
{
	fill:transparent;
	stroke-width:18px;
	stroke:#8087E8;
}

#stock .purple-line .highcharts-point{
	clip-path: polygon(14.29% 84.28%, 85.73% 11.45%, 88.58% 85%);
	fill:#8087E8;
	fill:transparent;
	transform: translate(50px, 50px) scale(.1);
	transform-origin: center;
	transition: all 1s;
}

#stock .green-line .highcharts-point{
	clip-path: polygon(12.14% 16.43%, 82.86% 17.14%, 82.86% 89.29%);
	fill:#8bf2b6;
	fill:transparent;
	transform: translate(50px, -50px) scale(.1);
	transform-origin: center;
	transition: all 1s;

}

#stock .stick{
	opacity:0;
}

#stock .stick .highcharts-point{
	stroke:#8087E8;
	fill:#8087E8;
}

#stock  .stick .highcharts-point-down{
	fill:#EA6484;
	stroke:#EA6484;
}

#stock .green-line .highcharts-graph
{
	fill:transparent;
	stroke-width:18px;
	stroke:#8bf2b6;
}

#stock .highcharts-navigator-series {
	fill: transparent;
	stroke: #6F9CCD;
}

#stock .column .highcharts-point{
	fill:#8bf2b6;
	stroke:transparent;
	opacity:1;
}

#stock .white-line .highcharts-graph
{
	fill:transparent;
	stroke-width:18px;
	stroke:#fff;
}

#stock .green{
	fill:#8bf2b6;
	stroke:transparent;
	opacity:0;
	transform:translate(150px, 70px) scale(.1);
	transition: transform 2s;
}

#stock .purple{
	fill:#8087E8;
	stroke:transparent;
	transform:translate(40px, 45px) scale(.1);
	transform-origin: center;
	transition: transform 2s;
	opacity:0;
}

#stock .stock-top,
#stock .stock-bottom{
	fill:#46445d;
	stroke:transparent;
}

#stock .particles image{
	transition: transform 3s;
}

#stock .particle-1,
#stock .particle-2,
#stock .particle-3,
#stock .particle-4,
#stock .particle-5,
#stock .particle-6{
	opacity:0;
}

/* at least 500px wide*/
@media screen  and (min-width: 500px) {

	#stock{
		width:500px;
		height:500px;
	}

	#stock .purple-line .highcharts-graph
	{
		fill:transparent;
		stroke-width:28px;
		stroke:#8087E8;
	}

	#stock .green-line .highcharts-graph
	{
		fill:transparent;
		stroke-width:28px;
		stroke:#8bf2b6;
	}

	#stock .white-line .highcharts-graph
	{
		fill:transparent;
		stroke-width:28px;
		stroke:#fff;
	}

	#stock .green{
		fill:#8bf2b6;
		stroke:transparent;
		opacity:0;
		transform:translate(150px, 70px) scale(.1);
		transition: transform 2s;
	}

	#stock .purple{
		fill:#8087E8;
		stroke:transparent;
		transform:translate(40px, 45px) scale(.1);
		transform-origin: center;
		transition: transform 2s;
		opacity:0;
	}

	#stock .highcharts-title{
		font-size:1.4em;
	}

	#stock .highcharts-subtitle{
		font-size:1em;
	}
	
}
