@import url("https://code.highcharts.com/css/highcharts.css");

#container {
    height: 400px;
    min-width: 310px;
    max-width: 600px;
    margin: 0 auto;
}

.highcharts-tooltip h3 {
    margin: 0;
    padding: 0.3rem 0;
    border-bottom: 1px solid var(--highcharts-neutral-color-20);
}

.highcharts-tooltip table {
    font-size: 0.8rem;
}

.highcharts-plot-border {
    stroke-width: 1px;
    stroke: silver;
}

.highcharts-plot-line {
    stroke-width: 2px;
    stroke-dasharray: 2, 2;
}

.highcharts-plot-line-label {
    font-style: italic;
}
