@import 'https://code.highcharts.com/css/highcharts.css';

.highcharts-plot-border {
	stroke-width: 1px;
	stroke: silver;
}
.highcharts-plot-line {
	stroke-width: 2px;
	stroke-dasharray: 2, 2;
}
.highcharts-plot-line-label {
	font-style: italic;
}