@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-lite/css/grid-lite.css");

.grid-wrapper {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    margin-bottom: 50px;
}

.highcharts-grid-container {
    height: 400px;
}

.custom-pagination-container {
    margin-top: 20px;
}

.hcg-pagination-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* middle fits its own content */
    align-items: center;
    gap: 16px;
    width: 100%;
}

.custom-pagination-container .hcg-pagination-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-pagination-container .hcg-pagination-controls {
    padding: 0 20px;
}

.custom-pagination-container .hcg-pagination-page-size-select {
    margin-left: 5px;
}

.custom-pagination-container .hcg-pagination-info {
    text-align: right;
}

.hcg-pagination-mobile-selector,
.hcg-pagination-mobile-page-size-selector {
    display: none;
}
