* {
    font-family: Helvetica, Arial, sans-serif;
}

.highcharts-figure {
    max-width: 800px;
    min-width: 360px;
    margin: 0 auto;
}

#data {
    display: none;
}

#toolwrap {
    flex-direction: column;
}

.toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#col-slider-wrapper {
    display: flex;
    flex-direction: column;
}

#col-slider-wrapper > output {
    display: flex;
    justify-content: center;
}
