@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/dashboards/css/datagrid.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");

/* Application specific styling */

div#page_container {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    height: auto;
}

div#connect_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: #336;
    padding: 5px;
    font-size: 14px;
    color: white;
}

div#connect_bar h1 {
    padding-left: 20px;
}

div#connect_bar #status {
    font-weight: bold;
    color: white;
}

div#connect_bar button {
    padding: 5px;
    height: 70%;
    margin: 0 10px 0 0;
}

/* Dashboards */

.el-aggr {
    --color-axis-labels: #a7a4b0;
    --color-background: #fff;
    --color-gauge: #4caffe;
    --color-hover: #5352be;
    --color-active: #336;
    --color-hover-text: #fff;
    --color-pane: #eee;
    --color-pane-line: #ccc;
    --color-text: #2f2b38;
}

#container.highcharts-dark .el-aggr {
    --color-axis-labels: #838394;
    --color-background: #0d0d0d;
    --color-pane: #20202c;
    --color-pane-line: #838394;
    --color-text: #dadae2;
}

@media (prefers-color-scheme: dark) {
    /* dark mode */

    .el-aggr {
        --color-axis-labels: #838394;
        --color-background: #0d0d0d;
        --color-pane: #20202c;
        --color-pane-line: #838394;
        --color-text: #dadae2;
    }
}

#container {
    padding: 10px;
    background-color: var(--highcharts-neutral-color-5);
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cell {
    flex: 1;
    min-width: 20px;
}

.cell > .highcharts-dashboards-component {
    position: relative;
    margin: 10px;
    background-clip: border-box;
    background-color: var(--highcharts-background-color);
}

.el-aggr {
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex: 1;
}

.el-kpi {
    max-height: 220px;
}

.el-kpi .highcharts-dashboards-component-kpi-value {
    display: none;
}

.el-chart {
    max-height: 300px;
}

.el-aggr .highcharts-dashboards-component {
    background-color: var(--highcharts-neutral-color-0);
    color: var(--highcharts-neutral-color-100);
    border-radius: 10px;
}

.el-aggr .highcharts-dashboards-component-title {
    white-space: nowrap;
    font-size: 16px;
}

.el-aggr .highcharts-dashboards-cell-state-active .highcharts-dashboards-component {
    background-color: var(--color-active);
    color: var(--color-hover-text);
}

.el-aggr .highcharts-dashboards-cell-state-hover:hover .highcharts-dashboards-component {
    background-color: var(--color-hover);
    color: var(--color-hover-text);
}

.el-aggr .highcharts-dashboards-cell-state-active text {
    fill: var(--color-hover-text);
}

.el-aggr .highcharts-dashboards-cell-state-hover:hover text {
    fill: var(--color-hover-text);
}

.el-aggr .highcharts-dashboards-cell-state-active .highcharts-axis-labels text {
    fill: var(--color-hover-text);
}

.el-aggr .highcharts-dashboards-cell-state-hover:hover .highcharts-axis-labels text {
    fill: var(--color-hover-text);
}

.el-aggr .highcharts-title {
    font-size: 0.8em;
}

@media (max-width: 992px) {
    .row {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .el-aggr {
        flex: unset;
        width: 100%;
    }
}
