.container-fluid {
    margin-top: 10px;
}

#info .f32 .flag {
    position: absolute;
    top: 8px;
}

.clearfix {
    clear: both;
}

.card-header.subheader {
    font-size: 0.9rem;
    color: rgb(0 0 0 / 75%);
    background-color: transparent;
    border-bottom: none;
}

.card {
    height: 80vh;
    min-height: 400px;
    margin-bottom: 1em;
}

@media screen and (max-width: 780px) {
    .card {
        max-height: 400px;
    }

    .col-12 {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
}
