@import url("https://cdn.jsdelivr.net/npm/@highcharts/dashboards/css/datagrid.css");

#demo {
    background-color: var(--hcg-background);
    color: var(--hcg-color);
    padding: 8px;
}

#container {
    height: 250px;
}

#update label {
    margin-top: 8px;
    display: block;
}

#update textarea {
    display: block;
    min-height: 250px;
    min-width: 400px;
    margin: 4px 0;
}
