@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

#demo {
    background-color: var(--highcharts-background-color);
    color: var(--highcharts-neutral-color-100);
    padding: 8px;
}

#container {
    height: 250px;
}

#update label {
    margin-top: 8px;
    display: block;
}

#update textarea {
    display: block;
    min-height: 250px;
    min-width: 400px;
    margin: 4px 0;
}
