body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

:root,
.highcharts-light {
    --background-color: #fff;
    --text-color: #333;
    --grid-color: #ccc;
    --data-color-min: #fff;
    --data-color-max: darkblue;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #222;
        --text-color: #fff;
        --grid-color: #444;
        --data-color-min: #333;
        --data-color-max: lightgreen;
    }
}

.highcharts-dark {
    --background-color: #222;
    --text-color: #fff;
    --grid-color: #444;
    --data-color-min: #333;
    --data-color-max: lightgreen;
}

* {
    transition: fill 0.3s, stroke 0.3s;
}

.highcharts-figure {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-description {
    margin: 10px;
}
