* {
    font-family: Helvetica, Arial, sans-serif;
}

.highcharts-figure {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

#controls {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}

@media (max-width: 410px) {
    #controls {
        position: static;
        margin-bottom: 15px;
    }
}

#preset {
    margin-right: 10px;
    min-height: 30px;
}

#sonify {
    background-color: #fff;
    border: 1px solid #25386f;
    color: #25386f;
    font-size: 0.9rem;
    min-height: 30px;
    line-height: 1rem;
    font-weight: 500;
    border-radius: 4px;
    padding: 0.375rem 0;
    width: 7rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    text-align: center;
    cursor: pointer;
}

#sonify:hover {
    background-color: #25386f;
    color: #fff;
}

#csv {
    display: none;
}

.highcharts-description {
    margin: 0.3rem 10px;
}
