@import "https://code.highcharts.com/css/dashboards/gui.css";

.hd-component-kpi-content {
    display: flex;
    flex-direction: column;
}

.hd-component-kpi-value-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hd-component-kpi-value {
    font-weight: 700;
}

.hd-component-kpi-subtitle {
    margin-top: 0.25em;
}

.hd-component-kpi-chart-container {
    flex: 1;
    margin: 0;
}
