#container {
    height: 400px;
    min-width: 320px;
    max-width: 800px;
    margin: 0 auto;
}

#controls {
    max-width: 800px;
    margin: 1em auto;
}

#controls label {
    margin-right: 1em;
}
