@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

#container {
    height: 250px;
    margin: 8px;
}

.high-color {
    color: #3ea100;
}

.low-color {
    color: #c11a1a;
}

.highcharts-datagrid-table tbody tr.highcharts-datagrid-row:has(td > span.highlight-cell),
.highcharts-datagrid-table tbody .highcharts-datagrid-row-odd:has(td > span.highlight-cell) {
    background-color: #f0f2ca;
}
