@import 'https://code.highcharts.com/css/highcharts.css';

.highcharts-yaxis-grid .highcharts-grid-line,
.highcharts-yaxis-grid .highcharts-minor-grid-line {
	display: none;
}
.highcharts-plot-band {
	fill-opacity: 1;
}
.highcharts-plot-band.good {
	fill: #90ed7d;
}
.highcharts-plot-band.bad {
	fill: #DDDF0D;
}
.highcharts-plot-band.ugly {
	fill: #f45b5b;
}
.highcharts-pane:nth-child(1) {
	fill: #efffff;
	stroke-width: 1px;
	stroke: gray;
}
.highcharts-pane:nth-child(2) {
	fill: white;
	stroke-width: 1px;
	stroke: #eeeeee;
}