.highcharts-figure {
    min-width: 360px;
    max-width: 800px;
    margin: 0 auto;
}

#container {
    width: 500px;
    height: 400px;
    margin: 0 auto;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.highcharts-description {
    margin-top: 1rem;
}

.button-row {
    margin: 0 -10px;
}

.highcharts-demo-button {
    border: none;
    border-radius: 0.3rem;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
}
