.temp-container p:hover,
.temp-container p.hover {
    color: rgba(0, 0, 0, 1) !important;
}

.day-label {
    margin: 0;
    padding: 2px;
    display: block;
    font-weight: bold;
    font-size: 0.6rem;
    color: #000;
    text-transform: uppercase;
    width: 100%;
}

.date {
    text-align: center;
    color: rgba(70, 70, 92, 1);
    margin: 0;
    padding: 2px 2px 0;
    display: block;
    min-width: 14px;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: whitesmoke;
    opacity: 0.5;
}

.highcharts-axis-line {
    transform: translateY(-15px);
}

.temp-container {
    display: flex;
    flex-direction: row;
}

.temp-container p:nth-of-type(1) {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
}

.temp-container p:nth-of-type(2) {
    font-size: 0.8rem;
    margin: 0;
    padding-top: 2px;
}

.highcharts-tooltip-box {
    fill: whitesmoke;
}

@media screen and (min-width: 768px) {
    .temp-container p:nth-of-type(1) {
        margin: 0;
        font-size: 1.6rem;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.6);
    }

    .temp-container p:nth-of-type(2) {
        font-size: 1.2rem;
        margin: 0;
        padding-top: 2px;
        color: rgba(0, 0, 0, 0.6);
    }
}
