@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

* {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

#container {
    padding: 8px;
}

.highcharts-datagrid-column {
    width: 15%;
}

.custom-column-class-name {
    color: #f00 !important;
    width: 40%;
}
