@import url("https://cdn.jsdelivr.net/npm/@highcharts/dashboards/css/datagrid.css");

#container {
    background-color: var(--hcg-background);
    padding: 8px;
}

.highcharts-datagrid-column {
    width: 15%;
}

.custom-column-class-name {
    color: #f00 !important;
    width: 40%;
}
