.highcharts-figure {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
}

.ld-label {
    width: 200px;
    display: inline-block;
}

.ld-url-input {
    width: 500px;
}

.ld-time-input {
    width: 40px;
}

.highcharts-description {
    margin: 0.3rem 10px;
}
