.btn1,
.btn2 {
    display: inline-flex;
}

fieldset {
    border: none;
}

.highcharts-description,
legend,
label {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}

#container {
    height: 420px;
}

.highcharts-figure,
.highcharts-data-table table,
#demo-content {
    min-width: 360px;
    max-width: 820px;
    margin: 1em auto;
}

.highcharts-description {
    margin: 0.3rem 10px;
}
