@import url("https://code.highcharts.com/dashboards/css/dashboards.css");
@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

#csv {
    display: none;
}

#dashboard-col-1 {
    text-align: center;
    height: 234px;
}
