@import url("https://www.highcharts.com/demo/_next/static/css/pages/_app.css");

:root,
.highcharts-light {
    --illo-green: var(--primitives-success-200);
    --illo-purple: var(--primitives-brand-500);
    --illo-accent-0: var(--primitives-neutral-0);
    --illo-accent-50: var(--primitives-neutral-50);
    --illo-accent-200: var(--primitives-neutral-200);
    --illo-accent-800: var(--primitives-neutral-800);
    --illo-brand-200: var(--primitives-brand-200);
    --illo-brand-800: var(--primitives-brand-800);
    --illo-background: var(--primitives-neutral-0);
    --illo-lines: var(--primitives-neutral-100);
    --illo-just-white: #fff;
    --illo-just-black: #000;
    --illo-accent-teal: #6699a1;
}

.highcharts-dark {
    --illo-green: var(--primitives-success-300);
    --illo-purple: var(--primitives-brand-500);
    --illo-accent-0: var(--primitives-neutral-1000);
    --illo-accent-50: var(--primitives-neutral-700);
    --illo-accent-200: var(--primitives-neutral-500);
    --illo-accent-800: var(--primitives-neutral-0);
    --illo-brand-200: var(--primitives-brand-500);
    --illo-brand-800: var(--primitives-brand-200);
    --illo-background: var(--primitives-neutral-1000);
    --illo-lines: var(--primitives-neutral-500);
    --illo-just-white: #fff;
    --illo-just-black: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --illo-green: var(--primitives-success-300);
        --illo-purple: var(--primitives-brand-500);
        --illo-accent-0: var(--primitives-neutral-1000);
        --illo-accent-50: var(--primitives-neutral-700);
        --illo-accent-200: var(--primitives-neutral-500);
        --illo-accent-800: var(--primitives-neutral-0);
        --illo-brand-200: var(--primitives-brand-500);
        --illo-brand-800: var(--primitives-brand-200);
        --illo-background: var(--primitives-neutral-1000);
        --illo-lines: var(--primitives-neutral-500);
        --illo-just-white: #fff;
        --illo-just-black: #000;
    }
}

body,
#demo-content {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    color: #000;
}

a,
a:hover {
    color: #000;
}

a:hover {
    text-decoration: underline;
}

.chart-container {
    border: 0 solid #000;
    width: 100%;
    height: 260px !important;
    overflow: hidden;
}

#demo-content {
    margin: 0;
}
