body {
    background-color: #46465c;
    margin: 0;
    padding: 0;
    color: #fff;
}

a,
a:hover {
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

.chart-container {
    border: 0 solid #000;
    width: 100%;
    height: 260px !important;
    overflow: hidden;
}

#demo-content {
    margin: 0;
}
