body {
    background: var(--highcharts-background-color);
    color: var(--highcharts-neutral-color-100);
}

#container {
    height: 500px;
    min-width: 310px;
    margin: 0 auto;
}

.highcharts-dark .highcharts-tiledwebmap-series image {
    filter: invert(100%) hue-rotate(180deg) brightness(90%) contrast(85%);
}
