@import url("https://code.highcharts.com/css/stocktools/gui.css");
@import url("https://code.highcharts.com/css/annotations/popup.css");

:root {
    --highcharts-neutral-color-3: rgba(0, 0, 0, 0);
}

body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
    background: #0a0a0a;
    color: #fff;
}

#container {
    height: 600px;
    min-width: 310px;
}

.highcharts-menu-item-btn {
    filter: brightness(2.1);
}

.highcharts-description {
    margin: 0.3rem 10px;
}
