:root,
.highcharts-light {
    /* Colors for data series and points */
    --highcharts-color-0: #2caffe;
    --highcharts-color-1: #544fc5;
    --highcharts-color-2: #00e272;
    --highcharts-color-3: #fe6a35;
    --highcharts-color-4: #6b8abc;
    --highcharts-color-5: #d568fb;
    --highcharts-color-6: #2ee0ca;
    --highcharts-color-7: #fa4b42;
    --highcharts-color-8: #feb56a;
    --highcharts-color-9: #91e8e1;

    /* Chart background, point stroke for markers and columns etc */
    --highcharts-background-color: #fff;

    /*
    Neutral colors, grayscale by default. The default colors are defined by
    mixing the background-color with neutral, with a weight corresponding to
    the number in the name.

    https://www.highcharts.com/samples/highcharts/css/palette-helper
    */

    /* Strong text. */
    --highcharts-neutral-color-100: #000;

    /* Main text, axis labels and some strokes. */
    --highcharts-neutral-color-80: #333;

    /* Axis title, connector fallback. */
    --highcharts-neutral-color-60: #666;

    /* Credits text, export menu stroke. */
    --highcharts-neutral-color-40: #999;

    /* Disabled texts, button strokes, crosshair etc. */
    --highcharts-neutral-color-20: #ccc;

    /* Grid lines etc. */
    --highcharts-neutral-color-10: #e6e6e6;

    /* Minor grid lines etc. */
    --highcharts-neutral-color-5: #f2f2f2;

    /* Tooltip background, button fills, map null points. */
    --highcharts-neutral-color-3: #f7f7f7;

    /*
    Highlights, shades of blue by default
    */

    /* Drilldown clickable labels, color axis max color. */
    --highcharts-highlight-color-100: #02f;

    /* Selection marker, menu hover, button hover, chart border, navigator
    series. */
    --highcharts-highlight-color-80: #334eff;

    /* Navigator mask fill. */
    --highcharts-highlight-color-60: #667aff;

    /* Ticks and axis line. */
    --highcharts-highlight-color-20: #ccd3ff;

    /* Pressed button, color axis min color. */
    --highcharts-highlight-color-10: #e6e9ff;

    /* Indicators */
    --highcharts-positive-color: #06b535;
    --highcharts-negative-color: #f21313;

    /* Transparent colors for annotations */
    --highcharts-annotation-color-0: rgba(130, 170, 255, 0.4);
    --highcharts-annotation-color-1: rgba(139, 191, 216, 0.4);
    --highcharts-annotation-color-2: rgba(150, 216, 192, 0.4);
    --highcharts-annotation-color-3: rgba(156, 229, 161, 0.4);
    --highcharts-annotation-color-4: rgba(162, 241, 130, 0.4);
    --highcharts-annotation-color-5: rgba(169, 255, 101, 0.4);

    /* Buttons */
    --primitives-neutral-0: #fff;
    --primitives-neutral-25: #f7f7f8;
    --primitives-neutral-50: #f2f1f4;
    --primitives-neutral-100: #e3e3e8;
    --primitives-neutral-200: #c8c7d1;
    --primitives-neutral-300: #acabba;
    --primitives-neutral-400: #918fa3;
    --primitives-neutral-500: #75738c;
    --primitives-neutral-600: #5e5c70;
    --primitives-neutral-700: #474554;
    --primitives-neutral-750: #3b3a46;
    --primitives-neutral-800: #2f2e38;
    --primitives-neutral-900: #18171c;
    --primitives-neutral-1000: #000;
    --primitives-brand-500: #8791ff;
    --button-transparent-border: #00000012;
    --button-transparent-border-hover: #0002;
    --button-colors-neutral-background-default: var(--primitives-neutral-800);
    --button-colors-neutral-background-hover: var(--primitives-neutral-700);
    --button-colors-neutral-background-pressed: var(--primitives-neutral-900);
    --button-colors-neutral-background-focus: var(--primitives-neutral-800);
    --button-colors-neutral-background-disabled: var(--primitives-neutral-300);
    --button-colors-neutral-text-default: var(--primitives-neutral-0);
    --button-colors-neutral-text-hover: var(--primitives-neutral-0);
    --button-colors-neutral-text-pressed: var(--primitives-neutral-0);
    --button-colors-neutral-text-focus: var(--primitives-neutral-0);
    --button-colors-neutral-text-disabled: var(--primitives-neutral-0);
    --button-colors-neutral-stroke-inner: #ffffff0a;
    --button-colors-neutral-stroke-outer-default: var(--primitives-neutral-900);
    --button-colors-neutral-stroke-outer-hover: var(--primitives-neutral-800);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Colors for data series and points */
        --highcharts-color-1: #00e272;
        --highcharts-color-2: #efdf00;

        /* UI colors */
        --highcharts-background-color: #141414;

        /*
            Neutral color variations
            https://www.highcharts.com/samples/highcharts/css/palette-helper
        */
        --highcharts-neutral-color-100: #fff;
        --highcharts-neutral-color-80: #d0d0d0;
        --highcharts-neutral-color-60: #a1a1a1;
        --highcharts-neutral-color-40: #727272;
        --highcharts-neutral-color-20: #434343;
        --highcharts-neutral-color-10: #2c2c2c;
        --highcharts-neutral-color-5: #202020;
        --highcharts-neutral-color-3: #1b1b1b;

        /* Highlight color variations */
        --highcharts-highlight-color-100: #2caffe;
        --highcharts-highlight-color-80: #2790cf;
        --highcharts-highlight-color-60: #2271a0;
        --highcharts-highlight-color-20: #193343;
        --highcharts-highlight-color-10: #16242b;
    }
}

.highcharts-dark {
    /* Colors for data series and points */
    --highcharts-color-1: #00e272;
    --highcharts-color-2: #efdf00;

    /* UI colors */
    --highcharts-background-color: #141414;

    /* Neutral color variations */
    --highcharts-neutral-color-100: #fff;
    --highcharts-neutral-color-80: #d0d0d0;
    --highcharts-neutral-color-60: #a1a1a1;
    --highcharts-neutral-color-40: #727272;
    --highcharts-neutral-color-20: #434343;
    --highcharts-neutral-color-10: #2c2c2c;
    --highcharts-neutral-color-5: #202020;
    --highcharts-neutral-color-3: #1b1b1b;

    /* Highlight color variations */
    --highcharts-highlight-color-100: #2caffe;
    --highcharts-highlight-color-80: #2790cf;
    --highcharts-highlight-color-60: #2271a0;
    --highcharts-highlight-color-20: #193343;
    --highcharts-highlight-color-10: #16242b;

    /* buttons */
    --button-text: var(--primitives-neutral-1000);
    --button-transparent-border: #00000012;
    --button-transparent-border-hover: #0002;
    --button-colors-neutral-background-default: var(--primitives-neutral-800);
    --button-colors-neutral-background-hover: var(--primitives-neutral-700);
    --button-colors-neutral-background-pressed: var(--primitives-neutral-900);
    --button-colors-neutral-background-focus: var(--primitives-neutral-800);
    --button-colors-neutral-background-disabled: var(--primitives-neutral-300);
    --button-colors-neutral-text-default: var(--primitives-neutral-0);
    --button-colors-neutral-text-hover: var(--primitives-neutral-0);
    --button-colors-neutral-text-pressed: var(--primitives-neutral-0);
    --button-colors-neutral-text-focus: var(--primitives-neutral-0);
    --button-colors-neutral-text-disabled: var(--primitives-neutral-0);
    --button-colors-neutral-stroke-inner: #ffffff0a;
    --button-colors-neutral-stroke-outer-default: var(--primitives-neutral-900);
    --button-colors-neutral-stroke-outer-hover: var(--primitives-neutral-800);
}

* {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

*,
::after,
::before {
    box-sizing: border-box;
}

[aria-live="polite"] {
    position: absolute;
    opacity: 0;
    top: 0;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 4px 4px;
    color: #fff;
}

[aria-live="polite"]:not(:empty) {
    padding: 0.25em 1em;
    background: maroon;
}

input[type="range"] {
    accent-color: var(--button-colors-neutral-background-default);
}

.highcharts-figure {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

button {
    border: none;
}

#demo-content,
.highcharts-figure {
    max-width: 500px;
    aspect-ratio: 1 / 1;
}

#container {
    height: calc(100% - 120px);
}

#controls,
#instruments,
#audio {
    display: flex;
    align-items: start;
}

#controls {
    flex-direction: column;
    gap: 6px;
    padding: 0 12px;
}

#audio {
    width: 100%;
    align-items: center;
    padding: 0 6px;
    gap: 0;
    border: 1px solid var(--highcharts-neutral-color-40);
    background-color: var(--highcharts-neutral-color-3);
    border-radius: 4px;
}

#instruments {
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 4px;
    color: var(--highcharts-neutral-color-60);
}

#title {
    font-weight: 700;
    color: var(--highcharts-neutral-color-80);
}

#title span {
    display: block;
    font-size: 0.7rem;
    font-weight: 300;
    color: var(--highcharts-neutral-color-60);
}

button svg {
    transform: scale(0.8);
    stroke: currentcolor;
}

#slider {
    width: calc(100% - 20px);
    margin: 10px;
    display: block;
    border: 1px solid var(--highcharts-neutral-color-40);
}

.highcharts-description {
    margin: 0.3rem 10px;
    display: none;
}

select {
    height: 24px;
    padding: 0 6px;
    color: var(--highcharts-neutral-color-0);
    background-color: var(--highcharts-background-color);
    border: 1px solid var(--highcharts-neutral-color-40);
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    cursor: pointer;
}

#sonify {
    height: 32px;
    width: 32px;
    padding: 8px;
    display: flex;
    gap: 4px;
    align-items: center;
    border-radius: 4px;
    color: var(--button-colors-neutral-text-default);
    background-color: var(--button-colors-neutral-background-default);
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    transition: all 0.15s ease-out;
    cursor: pointer;
}

#sonify:hover {
    background-color: var(--button-colors-neutral-background-hover);
    color: var(--button-colors-neutral-text-hover);
}

#sonify:active {
    background-color: var(--button-colors-neutral-background-pressed);
    color: var(--button-colors-neutral-text-pressed);
}

#sonify:focus-visible {
    outline: 2px solid var(--primitives-brand-500);
    outline-offset: 2px;
}

.highcharts-tooltip,
.highcharts-tooltip text tspan:nth-child(1),
.highcharts-tooltip text tspan:nth-child(2) {
    fill: var(--highcharts-neutral-color-100) !important;
    color: var(--highcharts-neutral-color-100) !important;
    font-size: 0.8rem;
}

.highcharts-button text {
    color: var(--highcharts-neutral-color-100) !important;
}

.highcharts-button-box {
    stroke: var(--highcharts-neutral-color-40);
    fill: var(--highcharts-neutral-color-3);
}
