@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-lite/css/grid.css");

.hcg-theme-default {
    --hcg-column-border-width: 1px;
    --hcg-header-column-border-width: 1px;
}

#container {
    height: 250px;
    padding: 8px;
}
