@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-lite/css/grid.css");

.hcg-theme-default {
    --hcg-column-border-width: 1px;
}

#container {
    height: 250px;
}

.demo {
    padding: 8px;
    font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
    .demo {
        background-color: #292929;
        color: #eee;
    }
}
