@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-lite/css/grid.css");

.hcg-theme-default {
    --anchor-color: #007bff;
}

@media (prefers-color-scheme: dark) {
    .hcg-theme-default {
        --anchor-color: #8ec3fc;
    }

    #container {
        background-color: #292929;
    }
}

#container {
    padding: 8px;
}

.column-description {
    font-size: 0.8em;
}

.hcg-container h2 {
    font-size: 1.5em;
    font-weight: bold;
}

td {
    align-items: center;
    text-align: center;
}

.hcg-theme-default a {
    color: var(--anchor-color);
}

td button {
    background: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 8px;
}
