* {
    font-family: Helvetica, Arial, sans-serif;
}

#container {
    min-width: 310px;
    max-width: 1000px;
    height: 400px;
    margin: 0 auto;
}

.highcharts-figure {
    margin: 0 auto;
    min-width: 310px;
    max-width: 1000px;
}

.highcharts-description {
    margin: 10px;
}

#animation-toggle {
    margin: 10px 0 0 10px;
}

.highcharts-demo-button {
    background: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
    transition: background 250ms;
}

.highcharts-demo-button:hover {
    background: #e6e6e6;
}
