* {
    font-family: Helvetica, Arial, sans-serif;
}

#result {
    text-align: left;
    color: gray;
    min-height: 2em;
    margin: 0.2em;
}

#scrolling-container {
    overflow-x: auto;
}

#table-sparkline {
    margin: 0 auto;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    text-align: left;
}

td,
th {
    padding: 5px;
    border-bottom: 1px solid silver;
    height: 20px;
}

thead th {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.highcharts-tooltip > span {
    background: white;
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #888;
    padding: 8px;
}
