@import url("https://code.highcharts.com/dashboards/css/datagrid.css");

.content {
    padding: 8px;
}

.hide {
    display: none;
}

#grid {
    margin-top: 8px;
}

.theme-custom {
    --primary-color: 223, 249, 231;
    --hover-background-color: #5749ad;
    --hcg-header-background: rgba(var(--primary-color), 1);
    --hcg-header-color: #2f2b38;
    --hcg-cell-hovered-background: var(--hover-background-color);
    --hcg-cell-hovered-color: white;
    --hcg-border-radius: 5px;
}
