@import url("https://code.highcharts.com/dashboards/css/dashboards.css");
@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-pro/css/grid-pro.css");

body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
    background: var(--highcharts-background-color);
    color: var(--highcharts-neutral-color-100);
}

.highcharts-title {
    font-size: 1em;
    font-weight: normal;
}

.highcharts-description {
    padding: 0 20px;
}

/* LARGE */
@media (max-width: 1200px) {
    #dashboard-col-0,
    #dashboard-col-1,
    #dashboard-col-2 {
        flex: 1 1 33.333%;
    }
}

/* MEDIUM */
@media (max-width: 992px) {
    #dashboard-col-0,
    #dashboard-col-1 {
        flex: 1 1 50%;
    }

    #dashboard-col-2 {
        flex: 1 1 100%;
    }
}

/* SMALL */
@media (max-width: 576px) {
    #dashboard-col-0,
    #dashboard-col-1 {
        flex: 1 1 100%;
    }
}
