@import "https://code.highcharts.com/css/highcharts.css";

#timeline .highcharts-container {
    position: relative;
    overflow: visible;
    min-width: 300px;
    max-width: 2000px;
    text-align: left;
    line-height: normal;
    z-index: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#turnover {
    display: none;
}

table {
    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid silver;
    padding: 0.5em;
}

#timeline .highcharts-axis-title {
    font-weight: 700;
}

#timeline .highcharts-axis-labels {
    color: #46465c;
    font-size: 14px;
}

#timeline .highcharts-color-0 {
    fill: #6699a1;
    stroke: #6699a1;
}

#timeline .highcharts-color-3,
#timeline .highcharts-color-2,
#timeline .highcharts-color-5 {
    fill: #46465c;
    stroke: #46465c;
}

#timeline .highcharts-color-6,
#timeline .highcharts-color-1 {
    fill: #5749ad;
    stroke: #5749ad;
}

#timeline .highcharts-yaxis {
    visibility: hidden;
}

#timeline .highcharts-yaxis-labels text:last-of-type {
    opacity: 0;
}

#timeline .time-1 {
    fill: rgb(102 153 161 / 20%);
    fill-opacity: 1;
}

#timeline .highcharts-plot-band-label:nth-of-type(1) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    border: 0 solid #000;
    width: 20px;
}

#timeline .time-2 {
    fill: #d9dbf8;
    fill-opacity: 1;
}

#timeline .time-3 {
    fill: #fffaf0;
    fill-opacity: 1;
}

#timeline .time-4 {
    fill: #dff9e7;
    fill-opacity: 1;
}

#timeline .revenue,
#timeline .revenue .highcharts-area {
    fill: rgb(102 153 161);
    stroke: rgb(102 153 161);
    fill-opacity: 0.2;
    stroke-width: 1px;
}

#timeline .employees,
#timeline .employees .highcharts-area {
    fill: #5749ad;
    stroke: #5749ad;
    fill-opacity: 0.2;
    stroke-width: 1px;
}

#timeline .highcharts-legend-item.revenue,
#timeline .highcharts-legend-item.employees {
    fill-opacity: 1;
}

#timeline .award .highcharts-label {
    color: #fff;
}

#timeline .highcharts-label span {
    transform: translateY(-3px);
}

#timeline .highcharts-markers.product {
    transform: translate(10px, 4px);
}

#timeline .highcharts-markers.highcharts-series-3.product .highcharts-label:nth-of-type(4) .highcharts-label-box,
#timeline .highcharts-markers.highcharts-series-3.product .highcharts-label:nth-of-type(10) .highcharts-label-box,
#timeline .highcharts-markers.highcharts-series-2.product .highcharts-label .highcharts-label-box,
#timeline .highcharts-markers.highcharts-series-6.product .highcharts-label .highcharts-label-box {
    transform: translate(-46px, -88px);
}

#timeline .highcharts-flags-series.cloud .highcharts-point text,
#timeline .highcharts-flags-series.product .highcharts-point text {
    fill: #fff;
}

#timeline .highcharts-flags-series.product .highcharts-label text {
    transform: translate(0, -6px);
}

#timeline .highcharts-flags-series.cloud .highcharts-label text {
    transform: translate(-3px, -8px);
}

#timeline .highcharts-series-2.product .highcharts-label:nth-of-type(1) text,
#timeline .highcharts-series-3.product .highcharts-label:nth-of-type(4) text,
#timeline .highcharts-series-3.product .highcharts-label:nth-of-type(10) text,
#timeline .highcharts-series-6.product .highcharts-label:nth-of-type(1) text {
    transform: translate(-2px, -62px);
}

#timeline .highcharts-markers.cloud {
    transform: translate(0, -23px);
}

#timeline .award.highcharts-flags-series .highcharts-point .highcharts-label-box {
    transition: fill 250ms;
}

#timeline .award p {
    margin-left: 50%;
}

#timeline .award p.wide {
    margin-left: 40%;
}

.tip .tip-box {
    fill: #46465c;
    stroke: transparent;
    color: #f0f0f0;
    max-width: 200px;
}

.highcharts-tooltip-box {
    stroke-width: 1px;
    fill: #46465c;
    stroke: #46465c;
    fill-opacity: 1;
}

.highcharts-tooltip text {
    fill: #f0f0f0 !important;
    white-space: normal;
}

@media screen  and (min-width: 530px) {
    #timeline .highcharts-markers.product {
        transform: translate(10px, 54px);
    }

    #timeline .highcharts-markers.cloud {
        transform: translate(10px, 28px);
    }

    #timeline .highcharts-yaxis {
        visibility: visible;
    }
}

@media screen  and (min-width: 1024px) {
    #timeline .highcharts-plot-band-label:nth-of-type(1) {
        overflow: visible;
        display: block;
        border: 0 solid #000;
        width: 20px;
        left: 40px !important;
    }
}

@media screen  and (min-width: 1400px) {
    #timeline .highcharts-plot-band-label:nth-of-type(1) {
        left: 60px !important;
    }

    #timeline .highcharts-flags-series.product .highcharts-label text {
        transform: translate(0, -6px);
    }

    #timeline .award p {
        margin-left: 50%;
    }

    #timeline .award p.wide {
        margin-left: 40%;
    }
}

@media screen  and (min-width: 1600px) {
    #timeline .highcharts-plot-band-label:nth-of-type(1) {
        left: 80px !important;
    }
}
