* {
    font-family: Helvetica, Arial, sans-serif;
}

#container {
    max-width: 800px;
    margin: 0 auto;
}

#button-box {
    padding: 10px;
}

button {
    height: 36px;
    padding: 8px 17px;
    border: 1px solid rgba(227, 227, 232, 1);
    border-radius: 4px;
    background-color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    font-family: "IBM Plex Sans", sans-serif;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
    border-color: #000;
}
