* {
    font-family: Helvetica, Arial, sans-serif;
}

pre {
    display: none;
}

.highcharts-figure {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
}

.large-size {
    font-size: 1.4em;
    margin-bottom: 1.1em;
}

.mid-size {
    font-size: 1.2em;
    margin-bottom: 0.85em;
}

.small-size {
    font-size: 1em;
    margin-bottom: 0.6em;
}

.center {
    display: grid;
    place-items: center;
    position: sticky;
}

.team-day {
    width: 100%;
    text-align: center;
    color: #fff;
}

.team-salescount {
    line-height: 3em;
    width: 100%;
    font-size: 2em;
}

.team-salescount-header {
    width: 100%;
    text-align: center;
}

.team-index {
    font-size: 1.4em;
    color: #000;
}

.team-name {
    width: 100%;
    margin-top: -130px;
    background: transparent;
    font-size: 2em;
    padding: 0.8em;
    border: 0 outset;
}

.team-points {
    margin-top: 11em;
    position: absolute;
    font-size: 1em;
}

.team-header {
    margin-bottom: 6em;
}

.col-display-fieldwrap {
    font-size: 0.9em;
    padding-inline: 2em;
    padding-block: 0.2em;
    width: 8em;
    text-align: left;
}

.col-display-header {
    padding: 0.4em;
    font-size: 2em;
    letter-spacing: 0.12em;
    text-align: center;
}

.col-display-footer {
    width: 80%;
    text-align: center;
}

.highcharts-description {
    margin: 0.3rem 10px;
}
