#container {
    height: 600px;
}

#data {
    display: none;
}

.highcharts-figure {
    min-width: 460px;
    max-width: 800px;
    margin: 1rem auto;
}

.team-day-display {
    border-radius: 20%;
    text-align: center;
    min-height: 16vh;
    width: 100%;
}

.col-display-fieldwrap {
    font-size: 0.9rem;
    padding-inline: 2rem;
    padding-block: 0.2rem;
    width: 8rem;
    text-align: left;
}

.col-display-header {
    padding: 0.4rem;
    font-size: 2rem;
    letter-spacing: 0.12rem;
    text-align: center;
}

.col-display-footer {
    width: 80%;
    text-align: center;
}

.center {
    display: grid;
    place-items: center;
    position: sticky;
}
