#container {
    height: 60vw;
    width: 60vw;
}

pre {
    display: none;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    margin: 1em auto;
}

.large-size {
    font-size: 1.4rem;
    margin-bottom: 1.1rem;
}

.mid-size {
    font-size: 1.2rem;
    margin-bottom: 0.85rem;
}

.small-size {
    font-size: 1rem;
    margin-bottom: 0.6rem;
}

.center {
    display: grid;
    place-items: center;
    position: sticky;
}

.team-day-display {
    width: 100%;
    text-align: center;
}

.col-display-fieldwrap {
    font-size: 0.9rem;
    padding-inline: 2rem;
    padding-block: 0.2rem;
    width: 8rem;
    text-align: left;
}

.col-display-header {
    padding: 0.4rem;
    font-size: 2rem;
    letter-spacing: 0.12rem;
    text-align: center;
}

.col-display-footer {
    width: 80%;
    text-align: center;
}
