* {
    font-family: Helvetica, Arial, sans-serif;
}

.highcharts-figure {
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

#container {
    height: 500px;
    margin: 0 -10px;
}

.controls {
    text-align: left;
    margin-bottom: 1rem;
    padding: 10px 0;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

pre#data {
    display: none;
}

.button-row {
    margin: 0 -10px;
}

.highcharts-demo-button {
    background: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
    transition: background 250ms;
}

.highcharts-demo-button:hover {
    background: #e6e6e6;
}
