.highcharts-figure {
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

#container {
    height: 500px;
    margin: 0 -10px;
}

.controls {
    text-align: left;
    margin-bottom: 1rem;
    padding: 10px 0;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

pre#data {
    display: none;
}

.button-row {
    margin: 0 -10px;
}

.highcharts-demo-button {
    border: none;
    border-radius: 0.3rem;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
}
