* {
    font-family: Helvetica, Arial, sans-serif;
}

.highcharts-figure {
    margin: 0 auto;
    min-width: 300px;
    max-width: 1200px;
}

#container {
    height: 600px;
}

.highcharts-description {
    margin: 0.3rem 10px;
}
