@import 'https://code.highcharts.com/css/highcharts.css';

#container {
	height: 400px;
	max-width: 800px;
	min-width: 320px;
	margin: 0 auto;
}

.highcharts-plot-background {
	fill: #333333;
}
.highcharts-color-0 {
	fill: yellow;
	stroke: yellow;
}
.highcharts-graph {
	filter: url(#glow);
}
.highcharts-tooltip {
	filter: url(#glow) !important;
}