name: Post-release

on:
  push:
    tags:
      - v*
  workflow_dispatch:
    inputs:
      dryrun:
        description: 'Whether to update the nightly branch on highcharts-dist'
        required: false
        default: true
        type: boolean

permissions:
   contents: read # to fetch code (actions/checkout)

jobs:
  generate_release_reference_images:
    runs-on: ubuntu-latest
    env:
      HIGHCHARTS_VISUAL_TESTS_BUCKET: ${{secrets.VISUAL_TESTS_S3_BUCKET}}
      AWS_ACCESS_KEY_ID: ${{secrets.VISUAL_TESTS_AWS_ACCESS_KEY_ID}}
      AWS_SECRET_ACCESS_KEY: ${{secrets.VISUAL_TESTS_AWS_SECRET_ACCESS_KEY}}
      AWS_REGION: ${{secrets.VISUAL_TESTS_AWS_REGION}}
      DISPLAY: :99
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - run: echo ${{github.ref_name}}

      - run: npm ci
      - run: npx playwright install --with-deps chromium
      - run: sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &
      - run: npx gulp scripts
      - run: npx tsc -p samples --skipLibCheck --noEmitOnError false || true

      - name: Generate references (Highcharts)
        run: PLAYWRIGHT_HTML_REPORT=playwright-report/release/highcharts npx playwright test --project=visual --update-snapshots --output test-results/release/highcharts
        env:
          VISUAL_TEST_PRODUCT: highcharts

      - name: Generate references (Stock)
        run: PLAYWRIGHT_HTML_REPORT=playwright-report/release/stock npx playwright test --project=visual --update-snapshots --output test-results/release/stock
        env:
          VISUAL_TEST_PRODUCT: stock

      - name: Generate references (Maps)
        run: PLAYWRIGHT_HTML_REPORT=playwright-report/release/maps npx playwright test --project=visual --update-snapshots --output test-results/release/maps
        env:
          VISUAL_TEST_PRODUCT: maps

      - name: Generate references (Gantt)
        run: PLAYWRIGHT_HTML_REPORT=playwright-report/release/gantt npx playwright test --project=visual --update-snapshots --output test-results/release/gantt
        env:
          VISUAL_TEST_PRODUCT: gantt

      - run: mkdir -p tmp/latest

      - name: Delete existing references
        if: ${{ github.event_name == 'push' || inputs.dryrun == false }}
        run: |
          aws s3 sync \
            tmp/latest \
            s3://${HIGHCHARTS_VISUAL_TESTS_BUCKET}/visualtests/reference/latest \
            --delete

      - name: Upload test results
        if: ${{ github.event_name == 'push' || inputs.dryrun == false }}
        run: |
          npx gulp dist-testresults \
            --tag ${{github.ref_name}} \
            --bucket ${{ secrets.VISUAL_TESTS_S3_BUCKET }}
