* {
    font-family: Helvetica, Arial, sans-serif;
}

textarea {
    display: block;
    width: 100%;
    max-width: 600px;
    height: 200px;
    margin: 10px;
    color: darkgreen;
}

.highcharts-demo-button {
    background: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
    transition: background 250ms;
}

.highcharts-demo-button:hover {
    background: #e6e6e6;
}
