@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-lite/css/grid.css");

.content {
    background-color: var(--hcg-background);
    color: var(--hcg-color);
}

#container {
    border: 2px solid red;
}
