* {
    font-family: Helvetica, Arial, sans-serif;
}

.highcharts-figure {
    max-width: 600px;
    margin: 0 auto;
}

#container {
    margin: 0 auto;
}

#dropdown,
#width {
    margin: 0 10px;
}

button .dim {
    opacity: 50%;
    pointer-events: none;
}

.button-row {
    margin: 0 -10px;
}

.highcharts-demo-button {
    background: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem -5px 0.5rem 10px;
    transition: background 250ms;
}

.highcharts-demo-button:hover {
    background: #e6e6e6;
}

.highcharts-description {
    margin: 0.3rem 10px;
}
